<%= form_for @credit_billing, url: admin_credit_billing_path do |f| %>
  <h2>Seleccione el porcentaje que desea descontar de esta factura (0 - 100) </h2>
  <%= f.number_field :discount_percentage, in: 0..100, step: 0.5 , required: "" %>
  <br>
  <br>
  <%= link_to "Cancelar", admin_credit_billings_path %>
  <%= f.submit "Guardar" %>
<% end %>