%div{:layout => "column"}
  %md-content{"class"=>"", "layout"=>"column", "layout-align"=>"center center"}
    %h4 Certificado de Origen Barequero y Chatarrero

  %md-content{ "flex"=>"", "class"=>"md-padding", "layout"=>"row"}

    %md-input-container{"flex"=>"33"}
      %label Fecha
      %input{"ng-model" => "barequero_chatarrero_origin_certificate.date", "type" => "date", "required"=>""}

    %md-input-container{"flex"=>"66"}
      %label Ciudad
      %input{"ng-model" => "barequero_chatarrero_origin_certificate.city", "type" => "text", "required"=>""}

  ////-----------------------Provider section ------------------------------////////
  %md-content{"class"=>"", "layout"=>"column", "layout-align"=>"center center"}
    %h4 Informacion del Productor de Mineral
  
  %md-content{ "flex"=>"", "class"=>"", "layout"=>"row"}
    .select-provider{'flex' => ''}
      %md-chips{"md-autocomplete-snap" => "", "ng-model" => "barequero_chatarrero_origin_certificate.provider"}
        %md-autocomplete{"md-selected-item"=>"barequero_chatarrero_origin_certificate.provider", "md-search-text"=> "searchText", "md-items" => "provider in searchProvider(searchText)", "md-no-cache" => "true", "md-item-text"=>"provider.name", "placeholder" => "Buscar Proveedor por Cedula"}
          %span{"md-highlight-text" => "searchText"} {{provider.name}} - c.c. {{provider.document_number}}
    .create-provider{'flex' =>'10'}
      %a{'ng-href' => "#provider"}
        %md-button.md-fab.md-accent{} +
          %md-tooltip{"md-visible" => "demo.showTooltip"}
            Crear Proveedor
            %span.ion-android-checkmark-circle
    .column{"flex"=> ''}
      %md-select{"ng-model" => "barequero_chatarrero_origin_certificate.provider.type", :placeholder => "Explotador  Minero Autorizado"}
        %md-option{:value => "barequero"} Barequero
        %md-option{:value => "chatarrero"} Chatarrero

    %md-content{'flex' => '', "class"=>"md-padding autocomplete", "layout"=>"column"}
      %span
        Nombre : {{barequero_chatarrero_origin_certificate.provider.name}}
      %span
        CC : {{barequero_chatarrero_origin_certificate.provider.document_number}}
      %span
        Departamento: {{barequero_chatarrero_origin_certificate.provider.state}}
      %span
        city: {{barequero_chatarrero_origin_certificate.provider.city}}
  ////-----------------------Mineral section ------------------------------////////

  %md-content{ "flex"=>"", "class"=>"md-padding", "layout"=>"row"}

    .column{"flex"=>""}
      %md-input-container
        %label Mineral Extraido y Vendido
        %input{"ng-model" => "barequero_chatarrero_origin_certificate.mineral.type", "type" => "text", "required"=>""}

    .column{"flex"=>""}
      %md-input-container
        %label Cantidad
        %input{"ng-model" => "barequero_chatarrero_origin_certificate.mineral.amount", "type" => "text", "required"=>""}

    .column{"flex"=>""}
      %md-input-container
        %label Unidad de Medida
        %input{"ng-model" => "barequero_chatarrero_origin_certificate.mineral.measure_unit", "type" => "text", "required"=>""}

  ////-----------------------Buyer section ------------------------------////////
  %md-content{"class"=>"", "layout"=>"column", "layout-align"=>"center center"}
    %h4 Informacion del Comprador del Mineral

  %md-content{ "flex"=>"", "class"=>"md-padding", "layout"=>"row"}

    .column{"flex"=>""}
      %label Nombres y Apellidos o Razon Social
      %p {{barequero_chatarrero_origin_certificate.buyer.company_name}}

    .column{"flex"=>""}
      %label Tipo de Documento
      %p {{barequero_chatarrero_origin_certificate.buyer.document_type}}

    .column{"flex"=>""}
      %label Numero de Indentificacion
      %p {{barequero_chatarrero_origin_certificate.buyer.document_number}}

  %md-content{ "flex"=>"", "class"=>"md-padding", "layout"=>"row"}
    %md-button.md-primary.md-hue-2{flex: "", "ng-click" => "barequeroChatarreroshowConfirm($event, barequero_chatarrero_origin_certificate)"} Generar Certificado de Origen
