%div{:layout => "column", "ng-controller" => "ProviderEditionCtrl"}
  %md-toolbar.md-primary
    %h1.md-toolbar-tools
      Provider edition form
  %md-content.md-padding{:layout => "row", "layout-sm" => "column", "md-theme" => "default", :style => "font-size:1.2em"}
    %md-input-container{:style => "width:80%"}
      %label Name
      %input{"ng-model" => "provider.name"}
    %md-input-container
      %label ID RUCOM
      %input{"ng-model" => "provider.id_rucom"}
  %md-content.md-padding
    %form{:name => "providerForm"}
      %div{:layout => "", "layout-sm" => "column"}
        %md-input-container{:flex => ""}
          %label ID
          %input{"ng-model" => "provider.id"}
        %md-input-container{:flex => ""}
          %label Type
          %input{"ng-model" => "provider.type"}
        %md-select{"md-on-open" => "loadProvType()", "ng-model" => "provType", :style => "min-width: 200px;"}
          %md-select-label {{ provType ? provType.name : 'Provider type' }}
          %md-option{"ng-repeat" => "provType in provTypes", "ng-value" => "provType"} {{provType.name}}
      %div{:layout => "", "layout-sm" => "column"}
        %md-input-container{:flex => ""}
          %label Phone Number
          %input{"ng-model" => "provider.phone_nb", :placeholder => "(3XX) XXX XXXXX"}
        %md-input-container{:flex => ""}
          %label Email
          %input{"ng-model" => "provider.email", :type => "email"}
      %md-input-container
        %label Address
        %input{"ng-model" => "provider.address", :placeholder => "CLL/CR X XX - XX"}
      %div{:layout => "", "layout-sm" => "column"}
        %md-input-container{:flex => ""}
          %label City
          %input{"ng-model" => "provider.city"}
        %md-input-container{:flex => ""}
          %label State
          %input{"ng-model" => "provider.state"}
        %md-input-container{:flex => ""}
          %label Postal Code
          %input{"ng-model" => "provider.postalCode"}