!!!
%html{"ng-app" => "app"}
  %head
    %base{"href" => "/"}
    %meta{:charset => "UTF-8"}
    / Let browser know website is optimized for mobile
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}
    %title= "TrazOro"
    %link{"href" => "/css/app.css", "media" => "all", "rel" => "stylesheet", "type" => "text/css"}
    %link{"href" => "https://fonts.googleapis.com/css?family=Oswald:300,400,700|Source+Sans+Pro", "rel" => "stylesheet"}
  %body
    / FIX: this loading directive to work with angularjs 1.4.9
    /.m-app-loading{"ng-animate-children" => ""}
    /  %div{:layout => "row", "layout-align" => "center center", "style" => "padding-top: 200px" }
    /    %md-progress-circular.md-accent{"md-mode" => "indeterminate"}
    #wrapper
      #header
        %div{"ui-view" => "top-nav"}
      #content
        %div{:layout => "row", :layout-align => "center center"}
          /#dwtcontrolContainer
        %section{"ui-view" => "content"}
      #footer.div-trazoro.footer
        %img{:src => "/img/icons/landing/logo-trazoro-blanco.svg", "style" => "width: 100px; height: 100px;"}
    %md-content{"ui-view" => "flying-navbar"}
  %script{"src" => "/js/app.js", "type" => "text/javascript"}
