!!!
%html{"ng-app" => "app"}
  %head
    %base{"href" => "/"}
    %meta{:charset => "UTF-8"}
    %title= "TrazOro"
    %link{"href" => "/css/app.css", "media" => "all", "rel" => "stylesheet", "type" => "text/css"}
  %body
    .main-container{layout: "row"} 
      /----------------- SIDEBAR -------------------------/
      %section.sidebar{flex: "0","ng-controller"=>"SidebarCtrl"}
        %md-sidenav.md-sidenav-left.md-whiteframe-z2{"md-component-id" => "left"}
          %md-content.logo
            %h1.md-toolbar-tools
              Trazoro
          %md-content.sidebar-options{"layout" => "column"}
            %tr-nav-button{"ng-repeat"=> "option in options", name: "option.name" , state:"option.state", icon: "option.icon", "ng-click" =>"setSection(option.name)"}
            %md-button{"ng-click"=>"logout()"} Cerrar Session
    /----------------- PAGE CONTENT -------------------------/
    #wrapper
      #header
        .side-button-options{"ng-controller"=>"SidebarCtrl"}
          %md-button{"ng-click" => "toggleLeft()","aria-label"=>"sidebar-button"}
            %md-icon{"md-svg-icon"=>"action:reorder"}
        .mini-top-bar
          %img.trazoro-icon-small{:src => "/img/trazoro_icon_small.png"}
        %div{"ui-view" => "top-nav"}
      #content
        %md-content{"ui-view" => "content"}
      #footer.div-trazoro.footer
        %img.logo-bitbang{:src => "/img/logo_bitbang.png"}
      
        
              
          //------------------------------------------------ SCANNER DRIVER ALERT  ----------- / 
          /%div{:layout => "row", :layout-align => "center center"}
          / #dwtcontrolContainer
  %script{"src" => "/js/app.js", "type" => "text/javascript"}
  %script{"src" => "/js/jspdf.debug.js", "type" => "text/javascript"}
