!!!
%html{"ng-app" => "app"}
  %head
    %base{"href" => "/"}
    %title= "TrazOro"
    %link{"href" => "/css/app.css", "media" => "all", "rel" => "stylesheet", "type" => "text/css"}
  %body
    %div{:layout => "row", "ng-controller" => "SidebarCtrl"}
      /--------------------------------------- Side Bar -------------------------------/
      %md-sidenav.md-sidenav-left.md-whiteframe-z2{"md-component-id" => "left", "md-is-locked-open" => "$mdMedia('gt-md')" }
        %md-toolbar.md-theme-indigo
          %h1.md-toolbar-tools Trazoro
        %md-content
          %div.sidebar-options{:layout => "column"}
            %tr-nav-button{"ng-repeat"=> "option in options", name: "option.name" , state:"option.state", "ng-click" =>"setSection(option.name)"}
            %a.md-button{"href" => "#", "onclick"=> "FunctionCob()"} Generate PDF File
      /--------------------------------------- Content -------------------------------/
      %md-content{:flex => ""}
        %md-toolbar
          %span.md-toolbar-tools{layout: "row"}
            %md-button{"hide-gt-md" => "", "ng-click" => "toggleLeft()"}
              %md-icon{"md-svg-icon"=>"action:reorder" ,"style"=>"color: #FFF;"  }
            %div{"ncy-breadcrumb"=>"",flex:80}
            %div{flex:"10","layout-align"=>"end"}
              %md-button{"ui-sref" => "login","ng-if" => "!isAuthenticated()"} Log in
              %md-button{"ui-sref" => "logout","ng-if" => "isAuthenticated()"} Log out
        %md-content.md-padding
          .fadeZoom{"ui-view" => ""}
    %script{"src" => "/js/app.js", "type" => "text/javascript"}v
