!!!
%html{"ng-app" => "app"}
  %head
    %base{"href" => "/"}
    %title= "TrazOro"
    %link{"href" => "/css/app.css", "media" => "all", "rel" => "stylesheet", "type" => "text/css"}
  %body
    %div{:layout => "row"}
      %div.sidebar{"ui-view"=>"sidebar"}
      /--------------------------------------- Content -------------------------------/
      %div.content{:flex => ""}
        %md-toolbar
          %span.md-toolbar-tools{layout: "row"}
            %md-button{"hide-gt-md" => "", "ng-click" => "toggleLeft()"}
              %md-icon{"md-svg-icon"=>"action:reorder" ,"style"=>"color: #FFF;"  }
            %div{"ncy-breadcrumb"=>"",flex:80}
            %div{flex:"10","layout-align"=>"end", "ng-controller"=> "AuthCtrl"}
              %md-button{"ui-sref" => "login","ng-if" => "!isAuthenticated()"} Log in
              %md-button{"ng-click" => "logout()", "ng-if"=> "isAuthenticated()"} Log out
        %div{"ui-view" => "content"}
    %script{"src" => "/js/app.js", "type" => "text/javascript"}v
