%div{:layout => "column"}
  %md-toolbar.md-primary
    %h1.md-toolbar-tools
      Certificado de Origen
  .origin-certificate-container

    %md-content{"class"=>"", "layout"=>"row"}
      %md-button.md-primary.md-hue-2{flex: "", "ui-sref"=>"new_origin_certificate.barequero_chatarrero", "ng-click" => "setOriginCertificateType('barequero_chatarrero')"} Barequero y Chatarrero

      %md-button.md-primary.md-hue-2{flex: "", "ui-sref"=>"new_origin_certificate.beneficiation_plant", "ng-click" => "setOriginCertificateType('beneficiation_plant')"} Planta de Beneficio

    %md-content{"class"=>"", "layout"=>"row"}
      %md-button.md-primary.md-hue-2{flex: "", "ui-sref"=>"new_origin_certificate.houses_buy_and_sell", "ng-click" => "setOriginCertificateType('houses_buy_and_sell')"}Acreditacion de Faturas Casas de C-V

      %md-button.md-primary.md-hue-2{flex: "", "ui-sref"=>"new_origin_certificate.authorized_miner", "ng-click" => "setOriginCertificateType('authorized_miner')"} Explotador Minero Autorizado

    %div{"ui-view"=>"content"}
