%div
  %md-content.md-padding
    %md-tabs.origin-certificate-tabs{"md-border-bottom" => "", "md-dynamic-height" => "", "md-selected"=> 'tab'}
      %md-tab{:label => "Barequero y Chatarrero", "ui-sref"=>"new_origin_certificate.barequero_chatarrero"}

      %md-tab{:label => "Planta de Beneficio", "ui-sref"=>"new_origin_certificate.beneficiation_plant"}

      %md-tab{:label => "Acreditacion de Faturas Casas de C-V", "ui-sref"=>"new_origin_certificate.pawnshops"}

      %md-tab{'label' => 'Explotador Minero Autorizado', "ui-sref"=>"new_origin_certificate.authorized_miner"}
.origin-certificate-container
  %div{"ui-view"=>"content"}