%div{:layout => "column"}
  %md-toolbar.md-primary
    %h1.md-toolbar-tools
      Certificado de Origen
  .origin-certificate-container
    %md-content{"class"=>"", "layout"=>"row"}
      %md-button.md-primary.md-hue-2{flex: "30", "ui-sref"=>"new_origin_certificate.barequero_chatarrero", "ng-click" => ""} Barequero y Chatarrero
    %div{"ui-view"=>"content"}