%div{:layout => "column"}
  %md-toolbar.md-primary
    %h1.md-toolbar-tools
      Certificado de Origen
  .origin-certificate-container

%div
  %md-content.md-padding
    %md-tabs{"md-border-bottom" => "", "md-dynamic-height" => "", "md-selected"=>"0"}
      %md-tab{:label => "Barequero y Chatarrero", "ui-sref"=>"new_origin_certificate.barequero_chatarrero"}
        %md-content.md-padding
          %h1.md-display-2  Barequero y Chatarrero
          %div{"ui-view"=>"content"}

      %md-tab{:label => "Planta de Beneficio", "ui-sref"=>"new_origin_certificate.beneficiation_plant"}
        %md-content.md-padding
          %h1.md-display-2 Planta de Beneficio
          %div{"ui-view"=>"content"}

      %md-tab{:label => "Acreditacion de Faturas Casas de C-V", "ui-sref"=>"new_origin_certificate.houses_buy_and_sell"}
        %md-content.md-padding
          %h1.md-display-2 Acreditacion de Faturas Casas de C-V
          %div{"ui-view"=>"content"}

      %md-tab{'label' => 'Explotador Minero Autorizado', "ui-sref"=>"new_origin_certificate.authorized_miner"}
        %md-content.md-padding
          %h1.md-display-2 Explotador Minero Autorizado
          %div{"ui-view"=>"content"}