%div{:layout => "column"}
  %md-toolbar.md-primary
    %h1.md-toolbar-tools
      Certificado de Origen
  .origin-certificate-container

    %md-content{"class"=>"", "layout"=>"row"}
      %md-button.md-primary.md-hue-2{flex: "", "ui-sref"=>"new_origin_certificate.barequero_chatarrero", "ng-click" => "setOriginCertificateType('barequero_chatarrero')"} Barequero y Chatarrero

      %md-button.md-primary.md-hue-2{flex: "", "ui-sref"=>"new_origin_certificate.beneficiation_plant", "ng-click" => "setOriginCertificateType('beneficiation_plant')"} Planta de Beneficio

      /%md-button.md-primary.md-hue-2{flex: "", "ui-sref"=>"new_origin_certificate.barequero_chatarrero", "ng-click" => "setOriginCertificateType('barequero_chatarrero')"} Barequero y Chatarrero

      /%md-button.md-primary.md-hue-2{flex: "", "ui-sref"=>"new_origin_certificate.barequero_chatarrero", "ng-click" => "setOriginCertificateType('barequero_chatarrero')"} Barequero y Chatarrero

      /%md-button.md-primary.md-hue-2{flex: "", "ui-sref"=>"new_origin_certificate.barequero_chatarrero", "ng-click" => "setOriginCertificateType('barequero_chatarrero')"} Barequero y Chatarrero

    %div{"ui-view"=>"content"}
