<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola, <%= @user.profile.first_name %></h1>
    <p>
      Usted ha solicitado un cambio en su contrasena.
    </p>
    <p>Para restablecer su contrasena haga clic <%= link_to 'aqui', @url %>
    </p>
    <p>Gracias!</p>
  </body>
</html>