<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola, <%= @user.first_name %></h1>
    <p>
      Usted ha solicitado un cambio en su contrasena.
    </p>
    <pPara restablecer su contrasena haga clic en el siguiente enlace: <%= @url %>.
    </p>
    <p>Gracias!</p>
  </body>
</html>