%md-content.marketplace
  %md-list
    %md-list-item.md-3-line.marketplace-card{"ng-repeat" => "sale in sales"}
      %img.face.seller-img{:alt => "{{sale.seller.first_name}}", "ng-src" => "{{sale.seller.photo_file_url}}?{{$index}}"}
      .md-list-item-text
        %p Nombre:
        %h3 {{sale.seller.first_name}}
        %p Mineral
        %h3 {{sale.mineral_type}}
        %p Gramos finos
        %h3 {{sale.gold_batch.fine_grams}}
      .md-list-item-text
        %p Ley
        %h3 {{sale.gold_batch.grade}}
        %p Precio
        %h3 {{sale.price}}
        %p Creado
        %h3 {{sale.created_at}}
      .md-list-item-inner
        %md-button.btn-save{'ng-click' => 'sendRequest(sale.id)'}
          Enviar petición de compra
      %md-divider
