%form.purchase-form{:name => "originCertificateForm", "novalidate" => "novalidate"}
  %div{:layout => "column"}

    %md-content{ :flex=>"", "class"=>"md-padding", "layout"=>"row"}
      %md-input-container{:flex=>"33"}
        %label Fecha
        %input{"ng-model" => "authorized_miner_origin_certificate.date", "type" => "text", "readOnly"=>"true"}

      %md-input-container{:flex=>"66"}
        %label Numero consecutivo del Certificado de Origen
        %input{"ng-model" => "authorized_miner_origin_certificate.certificate_number", "type" => "text", :required=>""}

    ////-----------------------Provider section ------------------------------////////
    %section{flex: "", layout: "row"}
      %div.origin-certificate-padding{flex: ""}
        %fieldset.standard.tr-fieldset{:layout => "column"}
          %legend
            %h3 Informacion del Productor del Mineral

          %md-autocomplete{:required=>"", "md-selected-item"=>"authorized_miner_origin_certificate.provider", "md-search-text"=> "searchText", "md-items" => "provider in searchProvider(searchText)", "md-no-cache" => "true", "md-item-text"=>"provider.name", "placeholder" => "Buscar Proveedor por Cedula"}
            %span{"md-highlight-text" => "searchText"} {{provider.name}} - c.c. {{provider.document_number}}

          %div.fieldset-inputs
            %div{layout: "row"}
              %md-input-container{flex: ""}
                %label Nombre Proovedor
                %input{"ng-model" => "authorized_miner_origin_certificate.provider.name",  :name => 'provider_name', :readOnly => 'true', :required=>""}

              %md-input-container{flex: ""}
                %label Tipo de Documento
                %input{"ng-model" => "authorized_miner_origin_certificate.provider.document_type",  :name => 'provider_name', :readOnly => 'true'}

              %md-input-container{flex: ""}
                %label Numero de Documento
                %input{"ng-model" => "authorized_miner_origin_certificate.provider.document_number",  :name => 'provider_name', :readOnly => 'true'}

            %div{layout: "row"}
              %md-input-container{flex: ""}
                %label Departamento
                %input{"ng-model" => "authorized_miner_origin_certificate.provider.state",  :name => 'provider_name', :readOnly => 'true'}

              %md-input-container{flex: ""}
                %label Ciudad
                %input{"ng-model" => "authorized_miner_origin_certificate.provider.city",  :name => 'provider_name', :readOnly => 'true'}

              %md-content{ :flex=>""}
                %md-select{"ng-model" => "authorized_miner_origin_certificate.provider.type", :placeholder => "Explotador  Minero Autorizado"}
                  %md-option{:value => "titular"} Titular
                  %md-option{:value => "are_beneficiary"} Beneficiario de Are
                  %md-option{:value => "legalization_applicant"} Solicitante de Legalizacion
                  %md-option{:value => "formalization_subcontract"} Subcontrato de Formalizacion
              %div.progress-fieldset{:layout => "row", "layout-align" => "space-around", "layout-sm" => "column","ng-if"=>"clientVerifiedProgress"}
                %md-progress-circular{"md-mode" => "indeterminate"}
        .button
          %a.md-button.create-provider-button{'ng-href' => "#provider"}  crear proovedor


    ////-----------------------Mineral section ------------------------------////////
    %section{flex: "", layout: "row"}
      %div.origin-certificate-padding{flex: ""}
        %fieldset.standard.tr-fieldset{:layout => "column"}
          %legend
            %h3 Informacion del Mineral

          %div.fieldset-inputs
            %div{layout: "row"}

              %md-input-container{:flex=>""}
                %label Mineral
                %input{:required=>"", "ng-model" => "authorized_miner_origin_certificate.mineral.type", "type" => "text", "readOnly"=>"true"}

              %md-input-container{:flex=>""}
                %label Cantidad
                %input{"ng-model" => "authorized_miner_origin_certificate.mineral.amount", "type" => "text", :required=>""}

              %md-input-container{:flex=>""}
                %label Unidad de Medida
                %input{"ng-model" => "authorized_miner_origin_certificate.mineral.measure_unit", "type" => "text", "readOnly"=>"true"}

              %md-input-container{:flex=>""}
                %label Departamento(s) 
                %input{"ng-model" => "authorized_miner_origin_certificate.mineral.state", "type" => "text", :required=>""}

              %md-input-container{:flex=>""}
                %label Municipio(s) 
                %input{"ng-model" => "authorized_miner_origin_certificate.mineral.city", "type" => "text", :required=>""}


    ////-----------------------Buyer section ------------------------------////////
    %section{flex: "", layout: "row"}
      %div.origin-certificate-padding{flex: ""}
        %fieldset.standard.tr-fieldset{:layout => "column"}
          %legend
            %h3
              Informacion del Comprador del Mineral

          %div.fieldset-inputs
            %div{layout: "row"}
              %md-input-container{:flex=>""}
                %label Razon Social
                %input{:readonly => "true", "ng-model" => "authorized_miner_origin_certificate.buyer.company_name", "type" => "text", :required=>""}

              %md-input-container{:flex=>""}
                %label Tipo de Documento
                %input{:readonly => "true", "ng-model" => "authorized_miner_origin_certificate.buyer.document_type", "type" => "text"}

              %md-input-container{:flex=>""}
                %label Numero de Indentificacion
                %input{:readonly => "true", "ng-model" => "authorized_miner_origin_certificate.buyer.document_number", "type" => "text"}

              %md-select{"ng-model" => "authorized_miner_origin_certificate.buyer.type", :placeholder => "Explotador  Minero Autorizado"}
                %md-option{:value => "trader"} Comercializador
                %md-option{:value => "consumer"} Consumidor

    // ---------------------- Generate Origin Certificate button----------------------------------///
    %md-button.md-primary.md-hue-2{flex: "", "ng-disabled" => 'originCertificateForm.$invalid', "ng-click" => "showConfirm($event, 'authorized_miner')"} Generar Certificado de Origen