/ %div{:layout => "column", "ng-if"=>"currentExternalUser"}
/   %form{:name => "providerEditionForm", "novalidate" => "novalidate"}
/     .provider-info{"ng-if" => "company"}
/       %div{layout: 'row'}
/         .photo-container{flex: '30'}
/           /%img.face{:alt => "", "ng-src" => "{{currentExternalUser.photo_file.thumb.url}}"}
/         .fields-container{flex: '70'}
/           %h3{style: "text-align: left;"} Datos de Compañia
/           %div{layout: 'row'}
/             %md-input-container{:flex => ""}
/               %label Nombre de la Compañía
/               %input{:readonly => "true", "ng-model" => "currentExternalUser.company.name"}
/             %md-input-container{:flex => ""}
/               %label NIT
/               %input{:readonly => "true", "ng-model" => "currentExternalUser.company.nit_number"}
/             %md-input-container{:flex => ""}
/               %label Representante Legal
/               %input{:readonly => "true", "ng-model" => "currentExternalUser.company.legal_representative"}
/           %div{layout: 'row'}
/             %md-input-container{:flex => ""}
/               %label Identificación del Representante
/               %input{:readonly => "true", "ng-model" => "currentExternalUser.company.id_number_legal_rep"}
/             %md-input-container
/               %label Tipo de Identificación del Rep. Legal
/               %input{:readonly => "true", "ng-model" => "currentExternalUser.company.id_type_legal_rep"}
/           %div{layout: 'row'}
/             %md-input-container{:flex => ""}
/               %label Teléfono
/               %input{:required => "true", :name => "company_phone_number", "ng-model" => "currentExternalUser.company.phone_number", :placeholder => "(555) 555 5555"}
/               %div{"ng-messages" => "providerEditionForm.company_phone_number.$error"}
/                 %div{"ng-message" => "required"} Este campo es requerido
/             %md-input-container{:flex => ""}
/               %label E-mail
/               %input{:required => "true", :type => "email", :name => "company_email", "ng-model" => "currentExternalUser.company.email", :placeholder => "mail@example.com"}
/               %div{"ng-messages" => "providerEditionForm.company_email.$error"}
/                 %div{"ng-message" => "required"} Este campo es requerido
/                 %div{"ng-message" => "email"} Ingrese un e-mail válido
/           %div.info-buttons{layout: 'row', "layout-align"=> "end center"}
/             %md-button.btn-cancel{:class => "md-raised", "ng-click" => "back()"} Volver
/             %md-button.btn-save{"ng-disabled" => "!providerEditionForm.$valid || !saveBtnEnabled", :class => "md-raised md-warn", "ng-click" => "save()"} Guardar Cambios

