/ %div{"layout" => "row", "layout-align" => "center center"}
/   %md-content{:flex => "100", "layout-margin" => "", "layout-padding" => ""}
/     %form{:name => "clientCreateForm", "novalidate" => "novalidate"}
/       %md-content.md-padding{:layout => "row", "layout-sm" => "column", "md-theme" => "default", :style => "font-size:1.2em"}
/         %md-input-container{:flex => ""}
/           %label Nombre
/           %input{:name => "first_name", "ng-model" => "newClient.first_name", :required => ""}
/           %div{"ng-messages" => "clientCreateForm.first_name.$error"}
/             %div{"ng-message" => "required"} Este campo es requerido
/         %md-input-container{:flex => ""}
/           %label Apellido
/           %input{:name => "last_name", "ng-model" => "newClient.last_name", :required => ""}
/           %div{"ng-messages" => "clientCreateForm.last_name.$error"}
/             %div{"ng-message" => "required"} Este campo es requerido.
/         %md-input-container{:flex => "", "ng-if" => "rucomId"}
/           %label {{rucomIDField.label}}
/           %input{:readonly => "true", "ng-model" => "newClient.rucom[rucomIDField.field]"}
/       %md-content.md-padding{:layout => "row", "layout-sm" => "column"}
/         %md-select{:style => "margin-top: 20px;", :flex => "20", :required => "true", :name => "id_document_type", "ng-model" => "newClient.id_document_type", :placeholder => "Tipo de Identificación"}
/           %md-option{:value => "CC"} CC
/           %md-option{:value => "CE"} CE
/           %md-option{:value => "NIT"} NIT
/         %md-input-container{:flex => "40"}
/           %label Número de Identificación
/           %input{:name => "id_document_number", "ng-model" => "newClient.id_document_number", :required => ""}
/           %div{"ng-messages" => "clientCreateForm.id_document_number.$error"}
/             %div{"ng-message" => "required"} Este campo es requerido.
/         %md-select{:style => "margin-top: 20px;", :flex => "40", :required => "true", :name => "client_type", "ng-model" => "newClient.client_type", :placeholder => "Client Type"}
/           %md-option{:value => "Comprador Nacional"} Comprador Nacional
/           %md-option{:value => "Exportación"} Exportación
/           %md-option{:value => "Joyero"} Joyero
/           %md-option{:value => "Comercializador"} Comercializador
/       %md-content.md-padding{:layout => "row", "layout-sm" => "column"}
/         %md-input-container{:flex => ""}
/           %label Teléfono
/           %input{:name => "phone_number", "ng-model" => "newClient.phone_number", :placeholder => "(555) 555 5555", :required => ""}
/           %div{"ng-messages" => "clientCreateForm.phone_number.$error"}
/             %div{"ng-message" => "required"} Este campo es requerido.
/         %md-input-container{:flex => ""}
/           %label Email
/           %input{:name => "email", "ng-model" => "newClient.email", :type => "email", :required => ""}
/           %div{"ng-messages" => "clientCreateForm.email.$error"}
/             %div{"ng-message" => "required"} Este campo es requerido.
/             %div{"ng-message" => "email"} Ingrese un e-mail válido
/         %md-input-container{:flex => ""}
/           %label Dirección
/           %input{:name => "address", "ng-model" => "newClient.address", :placeholder => "CLL/CR 1 22 - 33", :required => ""}
/           %div{"ng-messages" => "clientCreateForm.address.$error"}
/             %div{"ng-message" => "required"} Este campo es requerido.
/       %md-content.md-padding{:layout => "row", "layout-sm" => "column"}
/         %md-input-container{:flex => ""}
/           %label Nombre de la Compañia
/           %input{:name => "company_name", "ng-model" => "newClient.company_name"}
/         %md-input-container{:flex => ""}
/           %label NIT de la Compañía
/           %input{:name => "nit_company_number", "ng-model" => "newClient.nit_company_number"}
/       %br
/       %div{:layout => "row", "layout-align" => "space-between start", "layout-sm" => "column"}
/         %md-autocomplete{:required => "true", :flex => "30", "md-item-text" => "state.name", "md-items" => "state in stateSearch(searchState)", "md-no-cache" => "true", "md-search-text" => "searchState", "md-search-text-change" => "searchTextStateChange(searchState)", "md-selected-item" => "selectedState", "md-selected-item-change" => "selectedStateChange(state)", :placeholder => "Departamento"}
/           %span{"md-highlight-text" => "searchState"} {{state.name}}
/         %md-autocomplete{:required => "true", :flex => "30", "md-item-text" => "city.name", "md-items" => "city in citySearch(searchCity)", "md-no-cache" => "true", "md-search-text" => "searchCity", "md-search-text-change" => "searchTextCityChange(searchCity)", "md-selected-item" => "selectedCity", "md-selected-item-change" => "selectedCityChange(city)", "ng-disabled" => "cityDisabled", :placeholder => "Municipio"}
/           %span{"md-highlight-text" => "searchCity"} {{city.name}}
/         %md-autocomplete{:required => "true", :flex => "30", "md-item-text" => "populationCenter.name", "md-items" => "populationCenter in populationCenterSearch(searchPopulationCenter)", "md-no-cache" => "true", "md-search-text" => "searchPopulationCenter", "md-search-text-change" => "searchTextPopulationCenterChange(searchPopulationCenter)", "md-selected-item" => "selectedPopulationCenter", "md-selected-item-change" => "selectedPopulationCenterChange(populationCenter)", "ng-disabled" => "populationCenterDisabled", :placeholder => "Centro Poblado"}
/           %span{"md-highlight-text" => "searchPopulationCenter"} {{populationCenter.name}}
/       %br
/       %div{:layout => "row", "layout-align" => "end center", "layout-margin" => "", "layout-sm" => "column"}
/         %div{:layout => "row", :flex => "20", "layout-align" => "end center", "layout-margin" => "", "layout-sm" => "column"}
/           %div{:layout => "row", :flex => "", "layout-align" => "space-between center"}
/             %md-button{:class => "md-raised", "ng-click" => "back()"} Cancelar
/             %md-button{"ng-disabled" => "!clientCreateForm.$valid || !saveBtnEnabled", :class => "md-raised md-accent", "ng-click" => "createClient()"} Guardar


