%div{"ng-controller" => "InventoryController"}
  %md-content
    %div{"layout" => "row", "layout-align" => "center center"}
      %h1 Inventario
  %md-content.list-content
    %md-list
      %md-item
        %md-item-content{"layout-align" => "center center", "layout-margin" => ""}
          %div{"flex" => ""}
            %md-checkbox{"ng-click" => "selectAll(list)","ng-model" => "select_all"}
          %div{"flex" => ""}
            %h3 Fecha
          %div{"flex" => ""}
            %h3 Hora
          %div{"flex" => ""}
            %h3 Quien
          %div{"flex" => ""}
            %h3 Cuántos
          %div{"flex" => ""}
            %h3 Ley
          %div{"flex" => ""}
            %h3 Valor
  %md-content.list-content
    %md-list
      %md-item{"ng-repeat" => "item in list"}
        %md-item-content{"layout-align" => "center center", "layout-margin" => ""}
          %div{"flex" => ""}
            %md-checkbox{"ng-click" => "selectItem(item)", "ng-model" => "item.selected"}
          %div{"flex" => ""}
            %h5 {{item.date}}
          %div{"flex" => ""}
            %h5 {{item.hour}}
          %div{"flex" => ""}
            /TODO: change
            %h5 {{item.quien}} 
          %div{"flex" => ""}
            /TODO: change
            %h5 {{item.cuantos}}
          %div{"flex" => ""}
            %h5 {{item.law}}
          %div{"flex" => ""}
            %h5 {{item.value}}
  %br
  %br
  %br
  %md-content
    %md-input-container
      %div{"layout" => "row"}
        %div{"flex" => "20"}
          %label Gramos finos seleccionados
        %div{"flex" => "20"}
          %input{"md-maxlength" => "5", "required" => "", "type" => "text", "ng-model" => "finalGrams" }
    %br
    %br
    %md-input-container
      %div{"layout" => "row"}
        %div{"flex" => "20"}
          %input{"md-maxlength" => "5", "required" => "", "type" => "text", "ng-model" => "finalGrams" }
        %div{"flex" => "20"}
          %md-button.md-raised.md-primary.md-button.md-default-theme{"ui-sref" => "inventoryLiquidate"} Liquidar