%div{:layout => "column"}
  %md-toolbar.md-primary
    %h1.md-toolbar-tools
      Provider creation form
  %md-tabs{"md-selected" => "formCreateTabCtrl.selectedIndex"}
    %md-tab#tab1{"aria-controls" => "tab1-content"}
      {{ formCreateTabCtrl.firstLabel }}
    %md-tab#tab2{"aria-controls" => "tab2-content", "ng-disabled" => "!formCreateTabCtrl.secondUnlocked"}
      {{ formCreateTabCtrl.secondLabel }}

  %ng-switch.tabpanel-container{:on => "formCreateTabCtrl.selectedIndex"}
    %form{:name => "providerForm"}
      #tab1-content{"aria-labelledby" => "tab1", "md-swipe-left" => "next()", "md-swipe-right" => "previous()", "ng-switch-when" => "0", :role => "tabpanel"}
        %md-content.md-padding{:layout => "row", "layout-sm" => "column", "md-theme" => "default", :style => "font-size:1.2em"}
          .md-tile-left.cam{:flex => "10"}
            %md-button.md-fab.md-accent.md-default-theme.cam{"aria-label" => "Photo", :md-ripple-size => "partial",:ng-href => "#scanner"} +
              %img.face.cam{:ng-src => "{{photo}}"}
              %md-tooltip{"md-visible" => "demo.showTooltip"}
                Photo
                %span.ion-android-checkmark-circle
          %md-input-container{:flex => "25"}
            %label First name
            %input{"ng-model" => "newProvider.firstName"}
          %md-input-container{:flex => "25"}
            %label Last name
            %input{"ng-model" => "newProvider.lastName"}
          %md-input-container{"ng-if" => "newProvider.num_rucom !== ''", :flex => "25"}
            %label RUCOM Number
            %input{"ng-model" => "newProvider.num_rucom"}
            %md-tooltip{"ng-if" => "newProvider.num_rucom !== ''", "md-direction" => "right", "md-visible" => "formCreateTabCtrl.secondUnlocked"}
              %span.ion-android-checkmark-circle &nbsp;Verificado
          %md-input-container{"ng-if" => "newProvider.rucom_record !== ''", :flex => "25"}
            %label RUCOM Record
            %input{"ng-model" => "newProvider.rucom_record"}
            %md-tooltip{"ng-if" => "newProvider.rucom_record !== ''", "md-direction" => "right", "md-visible" => "formCreateTabCtrl.secondUnlocked"}
              %span.ion-android-checkmark-circle &nbsp;Verificado
        %md-content.md-padding
          %div{:layout => "", "layout-sm" => "column"}
            %md-select{:flex => "", "ng-model" => "newProvider.type", :placeholder => "Type"}
              %md-option{:value => "1"} Persona Natural
              %md-option{:value => "2"} Persona Jurídica
            %md-input-container{:flex => ""}
              %label ID
              %input{"ng-model" => "newProvider.id"}
            %md-select{:flex => "", "ng-model" => "newProvider.prov_type", :placeholder => "Provider type"}
              %md-option{:value => "1"} Comercializador
              %md-option{:value => "2"} Titular
              %md-option{:value => "3"} Solicitante Legalización De Minería
              %md-option{:value => "4"} Beneficiario Área Reserva Especial
              %md-option{:value => "5"} Consumidor
              %md-option{:value => "6"} Barequero
              %md-option{:value => "7"} Subcontrato de formalización
              %md-option{:value => "8"} Planta de Beneficio
          %div{:layout => "", "layout-sm" => "column"}
            %md-input-container{:flex => ""}
              %label Phone Number
              %input{"ng-model" => "newProvider.phone_nb", :placeholder => "(3XX) XXX XXXXX"}
            %md-input-container{:flex => ""}
              %label Email
              %input{"ng-model" => "newProvider.email", :type => "email"}
          %md-input-container
            %label Address
            %input{"ng-model" => "newProvider.address", :placeholder => "CLL/CR X XX - XX"}
          %div{:layout => "", "layout-sm" => "column"}
            %md-input-container{:flex => ""}
              %label City
              %input{"ng-model" => "newProvider.city"}
            %md-input-container{:flex => ""}
              %label State
              %input{"ng-model" => "newProvider.state"}
            %md-input-container{:flex => ""}
              %label Postal Code
              %input{"ng-model" => "newProvider.postalCode"}
          %div{:layout => "", "layout-align" => "space-between center", "layout-margin" => "", "layout-sm" => "column"}
            %div{:flex => ""}
              %md-checkbox{"aria-label" => "Disabled", "ng-model" => "formCreateTabCtrl.secondUnlocked", "placeholder" => "hola"} Do you belong to a company?
            %md-button{"ng-disabled" => "!formCreateTabCtrl.secondUnlocked", :class => "md-raised md-primary", "ng-click" => "next()"} Next
      #tab2-content{"aria-labelledby" => "tab2", "md-swipe-left" => "next()", "md-swipe-right" => "previous()", "ng-switch-when" => "1", :role => "tabpanel"}
        %md-content.md-padding{:layout => "row", "layout-sm" => "column", "md-theme" => "default", :style => "font-size:1.2em"}
        %md-content.md-padding
          %div{:layout => "", "layout-sm" => "column"}
            %md-input-container{:flex => "30"}
              %label NIT
              %input{"ng-model" => "newCompany.nit_number"}
            %md-input-container{:flex => "30"}
              %label name
              %input{"ng-model" => "newCompany.name"}
            %md-input-container{"ng-if" => "newCompany.num_rucom !== ''", :flex => "25"}
              %label RUCOM Number
              %input{"ng-model" => "newCompany.num_rucom"}
              %md-tooltip{"ng-if" => "newCompany.num_rucom !== ''", "md-direction" => "right"}
                %span.ion-android-checkmark-circle &nbsp;Verificado
            %md-input-container{"ng-if" => "newCompany.rucom_record !== ''", :flex => "25"}
              %label RUCOM Record
              %input{"ng-model" => "newCompany.rucom_record"}
              %md-tooltip{"ng-if" => "newCompany.rucom_record !== ''", "md-direction" => "right"}
                %span.ion-android-checkmark-circle &nbsp;Verificado

          %div{:layout => "", "layout-sm" => "column"}
            %md-input-container{:flex => "40"}
              %label Legal representative
              %input{"ng-model" => "newCompany.legal_representative"}
            %md-select{:flex => "20", "ng-model" => "newCompany.type", :placeholder => "Type"}
              %md-option{:value => "1"} Persona Natural
              %md-option{:value => "2"} Persona Jurídica
            %md-input-container{:flex => "20"}
              %label ID
              %input{"ng-model" => "newCompany.id"}
            %md-select{:flex => "20", "ng-model" => "newCompany.prov_type", :placeholder => "Provider type"}
              %md-option{:value => "1"} Comercializador
              %md-option{:value => "2"} Titular
              %md-option{:value => "3"} Solicitante Legalización De Minería
              %md-option{:value => "4"} Beneficiario Área Reserva Especial
              %md-option{:value => "5"} Consumidor
              %md-option{:value => "6"} Barequero
              %md-option{:value => "7"} Subcontrato de formalización
              %md-option{:value => "8"} Planta de Beneficio
          %div{:layout => "", "layout-sm" => "column"}
            %md-input-container{:flex => ""}
              %label Phone Number
              %input{"ng-model" => "newCompany.phone_nb", :placeholder => "(3XX) XXX XXXXX"}
            %md-input-container{:flex => ""}
              %label Email
              %input{"ng-model" => "newCompany.email", :type => "email"}
          %md-input-container
            %label Address
            %input{"ng-model" => "newCompany.address", :placeholder => "CLL/CR X XX - XX"}
          %div{:layout => "", "layout-sm" => "column"}
            %md-input-container{:flex => ""}
              %label City
              %input{"ng-model" => "newCompany.city"}
            %md-input-container{:flex => ""}
              %label State
              %input{"ng-model" => "newCompany.state"}
            %md-input-container{:flex => ""}
              %label Country
              %input{"ng-model" => "newCompany.country"}
            %md-input-container{:flex => ""}
              %label Postal Code
              %input{"ng-model" => "newCompany.postalCode"}
          %div{:layout => "", "layout-align" => "space-between center", "layout-margin" => "", "layout-sm" => "column"}
            %md-button{"ng-disabled" => "!formCreateTabCtrl.secondUnlocked", :class => "md-raised md-primary", "ng-click" => "previous()"} Prev