%div{:layout => "column"}
  %md-tabs{"md-selected" => "formTabControl.selectedIndex"}
    %md-tab#tab1{"aria-controls" => "tab1-content"}
      {{ formTabControl.firstLabel }}
    %md-tab#tab2{"aria-controls" => "tab2-content", "ng-disabled" => "!formTabControl.secondUnlocked"}
      {{ formTabControl.secondLabel }}
    %md-tab#tab3{"aria-controls" => "tab3-content"}
      {{ formTabControl.thirdLabel }}

  %ng-switch.tabpanel-container{:on => "formTabControl.selectedIndex"}
    %form{:name => "providerEditionForm", "novalidate" => "novalidate"}
      #tab1-content{"aria-labelledby" => "tab1", "md-swipe-left" => "next()", "md-swipe-right" => "previous()", "ng-switch-when" => "0", :role => "tabpanel"}
        %md-content.md-padding{:layout => "row", "layout-sm" => "column", "md-theme" => "default", :style => "font-size:1.2em"}
          .md-tile-left{:flex => "10"}
            %img.face{:alt => "", "ng-src" => "{{currentProvider.photo_file.thumb.url}}"}
          %md-input-container{:flex => "25"}
            %label Nombre
            %input{:readonly => "true", "ng-model" => "currentProvider.first_name"}
          %md-input-container{:flex => "25"}
            %label Apellido
            %input{:readonly => "true", "ng-model" => "currentProvider.last_name"}
          %md-input-container{:flex => "30"}
            %label {{rucomIDField.label}}
            %input{:readonly => "true", "ng-model" => "currentProvider.rucom[rucomIDField.field]"}
            %md-tooltip{"md-direction" => "right", "md-visible" => "true"}
              %span.ion-android-checkmark-circle &nbsp;válido
        %md-content.md-padding
          %div{:layout => "", "layout-sm" => "column"}
            %md-input-container{:flex => ""}
              %label Número de Identificación
              %input{:readonly => "true", "ng-model" => "currentProvider.document_number"}
            %md-input-container{"ng-if" => "currentProvider.rucom.rucom_status", :flex => ""}
              %label Estado del Rucom
              %input{:readonly => "true", "ng-model" => "currentProvider.rucom.rucom_status"}
            %md-input-container{:flex => ""}
              %label Tipo de Proveedor
              %input{:readonly => "true", "ng-model" => "currentProvider.rucom.provider_type"}
          %div{:layout => "", "layout-sm" => "column"}
            %md-input-container{:flex => "20"}
              %label Teléfono
              %input{:required => "true", :name => "phone_number", "ng-model" => "currentProvider.phone_number", :placeholder => "(555) 555 5555"}
              %div{"ng-messages" => "providerEditionForm.phone_number.$error"}
                %div{"ng-message" => "required"} Este campo es requerido
            %md-input-container{:flex => "30"}
              %label E-mail
              %input{:required => "true", :type => "email", :name => "email", "ng-model" => "currentProvider.email", :placeholder => "mail@example.com"}
              %div{"ng-messages" => "providerEditionForm.email.$error"}
                %div{"ng-message" => "required"} Este campo es requerido
                %div{"ng-message" => "email"} Ingrese un e-mail válido
            %md-input-container{:flex => "50"}
              %label Dirección
              %input{:required => "true", :name => "address", "ng-model" => "currentProvider.address", :placeholder => "CLL/CR 1 2 - 34"}
              %div{"ng-messages" => "providerEditionForm.address.$error"}
                %div{"ng-message" => "required"} Este campo es requerido
          %br
          %div{:layout => "row", "layout-align" => "space-between start", "layout-sm" => "column"}
            %md-autocomplete{:required => "true", :flex => "30", "md-item-text" => "state.name", "md-items" => "state in stateSearch(searchState)", "md-no-cache" => "true", "md-search-text" => "searchState", "md-search-text-change" => "searchTextStateChange(searchState)", "md-selected-item" => "selectedState", "md-selected-item-change" => "selectedStateChange(state)", :placeholder => "Departamento"}
              %span{"md-highlight-text" => "searchState"} {{state.name}}
            %md-autocomplete{:required => "true", :flex => "30", "md-item-text" => "city.name", "md-items" => "city in citySearch(searchCity)", "md-no-cache" => "true", "md-search-text" => "searchCity", "md-search-text-change" => "searchTextCityChange(searchCity)", "md-selected-item" => "selectedCity", "md-selected-item-change" => "selectedCityChange(city)", "ng-disabled" => "cityDisabled", :placeholder => "Municipio"}
              %span{"md-highlight-text" => "searchCity"} {{city.name}}
            %md-autocomplete{:required => "true", :flex => "30", "md-item-text" => "populationCenter.name", "md-items" => "populationCenter in populationCenterSearch(searchPopulationCenter)", "md-no-cache" => "true", "md-search-text" => "searchPopulationCenter", "md-search-text-change" => "searchTextPopulationCenterChange(searchPopulationCenter)", "md-selected-item" => "selectedPopulationCenter", "md-selected-item-change" => "selectedPopulationCenterChange(populationCenter)", "ng-disabled" => "populationCenterDisabled", :placeholder => "Centro Poblado"}
              %span{"md-highlight-text" => "searchPopulationCenter"} {{populationCenter.name}}
          %br
          %div{:layout => "row", "layout-align" => "end center", "layout-margin" => "", "layout-sm" => "column"}
            %div{:layout => "row", :flex => "25", "layout-align" => "space-between center"}
              %md-button{:class => "md-raised", "ng-click" => "back()"} Cancelar
              %md-button{"ng-disabled" => "!providerEditionForm.$valid || !saveBtnEnabled", :class => "md-raised md-warn", "ng-click" => "save()"} Guardar
              %md-button{:class => "md-raised md-primary", "ng-click" => "next()"} Siguiente
      #tab2-content{"ng-if" => "currentProvider.company_info", "aria-labelledby" => "tab2", "md-swipe-left" => "next()", "md-swipe-right" => "previous()", "ng-switch-when" => "1", :role => "tabpanel"}
        %md-content.md-padding{:layout => "row", "layout-sm" => "column", "md-theme" => "default", :style => "font-size:1.2em"}
          %md-input-container{:flex => ""}
            %label Nombre de la Compañía
            %input{:readonly => "true", "ng-model" => "currentProvider.company_info.name"}
          %md-input-container{:flex => ""}
            %label NIT
            %input{:readonly => "true", "ng-model" => "currentProvider.company_info.nit_number"}
        %md-content.md-padding
          %div{:layout => "", "layout-sm" => "column"}
            %md-input-container{:flex => ""}
              %label Representante Legal
              %input{:readonly => "true", "ng-model" => "currentProvider.company_info.legal_representative"}
            %md-input-container{:flex => ""}
              %label Identificación del Representante
              %input{:readonly => "true", "ng-model" => "currentProvider.company_info.id_number_legal_rep"}
            %md-input-container
              %label Tipo de Identificación del Rep. Legal
              %input{:readonly => "true", "ng-model" => "currentProvider.company_info.id_type_legal_rep"}
          %div{:layout => "", "layout-sm" => "column"}
            %md-input-container{:flex => ""}
              %label Teléfono
              %input{:required => "true", :name => "company_phone_number", "ng-model" => "currentProvider.company_info.phone_number", :placeholder => "(555) 555 5555"}
              %div{"ng-messages" => "providerEditionForm.company_phone_number.$error"}
                %div{"ng-message" => "required"} Este campo es requerido
            %md-input-container{:flex => ""}
              %label E-mail
              %input{:required => "true", :type => "email", :name => "company_email", "ng-model" => "currentProvider.company_info.email", :placeholder => "mail@example.com"}
              %div{"ng-messages" => "providerEditionForm.company_email.$error"}
                %div{"ng-message" => "required"} Este campo es requerido
                %div{"ng-message" => "email"} Ingrese un e-mail válido
          %div{:layout => "row", "layout-align" => "space-between center", "layout-margin" => "", "layout-sm" => "column"}
            %div{:layout => "row", :flex => "", "layout-align" => "start center"}
              %md-button{"ng-disabled" => "!formTabControl.secondUnlocked", :class => "md-raised md-primary", "ng-click" => "previous()"} Anterior
            %div{:layout => "row", :flex => "25", "layout-align" => "space-between center"}
              %md-button{:class => "md-raised", "ng-click" => "back()"} Cancelar
              %md-button{"ng-disabled" => "!providerEditionForm.$valid || !saveBtnEnabled", :class => "md-raised md-warn", "ng-click" => "save()"} Guardar
              %md-button{:class => "md-raised md-primary", "ng-click" => "next()"} Siguiente
      #tab3-content{"aria-labelledby" => "tab3", "md-swipe-left" => "next()", "md-swipe-right" => "previous()", "ng-switch-when" => "2", :role => "tabpanel"}
        %md-content.md-padding
        %div{:layout => "row", "layout-align" => "space-around center", "layout-margin" => "", "layout-sm" => "column"}   

          %md-button{:class => "md-raised", :flex => "15", "ng-href" => "{{currentProvider.identification_number_file.url}}", :target => "_blank"}  
            %p Cédula de Ciudadanía
            %img.md-card-image.pdf-preview{:alt => "Cédula", "ng-src" => "{{currentProvider.identification_number_file.preview.url || 'img/pdf.png'}}"}
          %md-button{:class => "md-raised", :flex => "15", "ng-href" => "{{currentProvider.mining_register_file.url}}", :target => "_blank"}  
            %p Registro minero
            %img.md-card-image.pdf-preview{:alt => "Cédula", "ng-src" => "{{currentProvider.mining_register_file.preview.url || 'img/pdf.png'}}"}                                  
          %md-button{"ng-show"=>"currentProvider.chamber_commerce_file.url", :class => "md-raised", :flex => "15", "ng-href" => "{{currentProvider.chamber_commerce_file.url}}", :target => "_blank"}
            %p Camara de comercio
            %img.md-card-image.pdf-preview{:alt => "Cédula", "ng-src" => "{{currentProvider.rut_file.preview.url }}" } 
          %md-button{:class => "md-raised", :flex => "15", "ng-href" => "{{currentProvider.rut_file.url}}", :target => "_blank" }  
            %p RUT
            %img.md-card-image.pdf-preview{:alt => "Cédula", "ng-src" => "{{currentProvider.rut_file.preview.url || 'img/pdf.png'}}" } 
          %md-button{"ng-show"=>"currentProvider.authorization_file.url", :class => "md-raised", :flex => "15", "ng-href" => "{{currentProvider.identification_number_file.url}}", :target => "_blank"}  
            %p Autorización*
            %img.md-card-image.pdf-preview{:alt => "Cédula", "ng-src" => "{{currentProvider.identification_number_file.preview.url || 'img/pdf.png'}}"} 
        %span
        %md-content.md-padding  
        %div{:layout => "row", "layout-align" => "space-between center", "layout-margin" => "", "layout-sm" => "column"}                  
          %div{:layout => "row", :flex => "", "layout-align" => "start center"}
            %md-button{:class => "md-raised md-primary", "ng-click" => "previous()"} Anterior
          %div{:layout => "row", :flex => "25", "layout-align" => "space-between center"}
            %md-button{:class => "md-raised", "ng-click" => "back()"} Cancelar              
            %md-button{"ng-disabled" => "!providerEditionForm.$valid || !saveBtnEnabled", :class => "md-raised md-warn", "ng-click" => "save()"} Guardar

