%div{:layout => "column"}
  %md-tabs{"md-selected" => "formTabControl.selectedIndex"}
    %md-tab#tab1{"aria-controls" => "tab1-content"}
      {{ formTabControl.firstLabel }}
    %md-tab#tab2{"aria-controls" => "tab2-content", "ng-disabled" => "!formTabControl.secondUnlocked"}
      {{ formTabControl.secondLabel }}
      
  %ng-switch.tabpanel-container{:on => "formTabControl.selectedIndex"}
    %form{:name => "providereditionForm"}
      #tab1-content{"aria-labelledby" => "tab1", "md-swipe-left" => "next()", "md-swipe-right" => "previous()", "ng-switch-when" => "0", :role => "tabpanel"}
        %md-content.md-padding{:layout => "row", "layout-sm" => "column", "md-theme" => "default", :style => "font-size:1.2em"}
          .md-tile-left{:flex => "10"}
            %img.face{:alt => "", "ng-src" => "{{currentProvider.photo_file}}"}
          %md-input-container{:flex => "25"}
            %label First Name
            %input{:readonly => "true", "ng-model" => "currentProvider.first_name"}
          %md-input-container{:flex => "25"}
            %label Last Name
            %input{:readonly => "true", "ng-model" => "currentProvider.last_name"}
          %md-input-container{:flex => "30"}
            %label {{rucomIDField.label}}
            %input{:readonly => "true", "ng-model" => "currentProvider.rucom[rucomIDField.field]"}
            %md-tooltip{"md-direction" => "right", "md-visible" => "formTabControl.secondUnlocked"} 
              %span.ion-android-checkmark-circle &nbsp;válido
        %md-content.md-padding
          %div{:layout => "", "layout-sm" => "column"}
            %md-input-container{:flex => ""}
              %label ID
              %input{:readonly => "true", "ng-model" => "currentProvider.document_number"}
            %md-input-container{"ng-if" => "currentProvider.rucom.rucom_status", :flex => ""}
              %label Rucom Status
              %input{:readonly => "true", "ng-model" => "currentProvider.rucom.rucom_status"}
            %md-input-container{:flex => ""}
              %label Type
              %input{:readonly => "true", "ng-model" => "currentProvider.rucom.provider_type"}
          %div{:layout => "", "layout-sm" => "column"}
            %md-input-container{:flex => "20"}
              %label Phone Number
              %input{:required => "true", :name => "phone_number", "ng-model" => "currentProvider.phone_number", :placeholder => "(555) 555 5555"}
              %div{"ng-messages" => "providereditionForm.phone_number.$error"}
                %div{"ng-message" => "required"} This is required
            %md-input-container{:flex => "30"}
              %label E-mail
              %input{:required => "true", :type => "email", :name => "email", "ng-model" => "currentProvider.email", :placeholder => "mail@example.com"}
              %div{"ng-messages" => "providereditionForm.email.$error"}
                %div{"ng-message" => "required"} This is required
                %div{"ng-message" => "email"} Enter a valid email
            %md-input-container{:flex => "50"}
              %label Address
              %input{:required => "true", :name => "address", "ng-model" => "currentProvider.address", :placeholder => "CLL/CR 1 2 - 34"}
              %div{"ng-messages" => "providereditionForm.address.$error"}
                %div{"ng-message" => "required"} This is required
          %br          
          %div{:layout => "row", "layout-align" => "space-between start", "layout-sm" => "column"}
            %md-autocomplete{:required => "true", :flex => "30", "md-item-text" => "state.name", "md-items" => "state in stateSearch(searchState)", "md-no-cache" => "true", "md-search-text" => "searchState", "md-search-text-change" => "searchTextStateChange(searchState)", "md-selected-item" => "selectedState", "md-selected-item-change" => "selectedStateChange(state)", :placeholder => "State"}
              %span{"md-highlight-text" => "searchState"} {{state.name}}
            %md-autocomplete{:required => "true", :flex => "30", "md-item-text" => "city.name", "md-items" => "city in citySearch(searchCity)", "md-no-cache" => "true", "md-search-text" => "searchCity", "md-search-text-change" => "searchTextCityChange(searchCity)", "md-selected-item" => "selectedCity", "md-selected-item-change" => "selectedCityChange(city)", "ng-disabled" => "cityDisabled", :placeholder => "City"}
              %span{"md-highlight-text" => "searchCity"} {{city.name}}
            %md-autocomplete{:required => "true", :flex => "30", "md-item-text" => "populationCenter.name", "md-items" => "populationCenter in populationCenterSearch(searchPopulationCenter)", "md-no-cache" => "true", "md-search-text" => "searchPopulationCenter", "md-search-text-change" => "searchTextPopulationCenterChange(searchPopulationCenter)", "md-selected-item" => "selectedPopulationCenter", "md-selected-item-change" => "selectedPopulationCenterChange(populationCenter)", "ng-disabled" => "populationCenterDisabled", :placeholder => "Population Center"}
              %span{"md-highlight-text" => "searchPopulationCenter"} {{populationCenter.name}}
          %div{:layout => "", "layout-align" => "space-between center", "layout-margin" => "", "layout-sm" => "column"}
            %div{:flex => ""}
              (RUCOM válido:)
              %md-checkbox{"aria-label" => "Disabled", "ng-model" => "formTabControl.secondUnlocked"}
            %md-button{"ng-disabled" => "!formTabControl.secondUnlocked", :class => "md-raised md-primary", "ng-click" => "next()"} Next
      #tab2-content{"aria-labelledby" => "tab2", "md-swipe-left" => "next()", "md-swipe-right" => "previous()", "ng-switch-when" => "1", :role => "tabpanel"}
        %md-content.md-padding{:layout => "row", "layout-sm" => "column", "md-theme" => "default", :style => "font-size:1.2em"}
        %md-content.md-padding
          %div{:layout => "", "layout-sm" => "column"}
            %md-input-container{:flex => "25"}
              %label ID
              %input{"ng-model" => "currentProvider.id"}
            %md-input-container{:flex => "40"}
              %label Type
              %input{"ng-model" => "currentProvider.type"}
            %md-select{:flex => "35", "ng-model" => "currentProvider.prov_type", :placeholder => "Provider type"}
              %md-option{:value => "1"} Comercializador
              %md-option{:value => "2"} Titular
              %md-option{:value => "3"} Solicitante Legalización De Minería
              %md-option{:value => "4"} Beneficiario Área Reserva Especial
              %md-option{:value => "5"} Consumidor
              %md-option{:value => "6"} Barequero
              %md-option{:value => "7"} Subcontrato de formalización
              %md-option{:value => "8"} Planta de Beneficio
          %div{:layout => "", "layout-sm" => "column"}
            %md-input-container{:flex => ""}
              %label Phone Number
              %input{"ng-model" => "currentProvider.phone_nb", :placeholder => "(3XX) XXX XXXXX"}
            %md-input-container{:flex => ""}
              %label Email
              %input{"ng-model" => "currentProvider.email", :type => "email"}
          %md-input-container
            %label Address
            %input{"ng-model" => "currentProvider.address", :placeholder => "CLL/CR X XX - XX"}
          %div{:layout => "", "layout-sm" => "column"}
            %md-input-container{:flex => ""}
              %label City
              %input{"ng-model" => "currentProvider.city"}
            %md-input-container{:flex => ""}
              %label State
              %input{"ng-model" => "currentProvider.state"}
            %md-input-container{:flex => ""}
              %label Postal Code
              %input{"ng-model" => "currentProvider.postalCode"}
          %div{:layout => "", "layout-align" => "space-between center", "layout-margin" => "", "layout-sm" => "column"}
            %md-button{"ng-disabled" => "!formTabControl.secondUnlocked", :class => "md-raised md-primary", "ng-click" => "previous()"} Prev