%md-content
  %h2
    Seleccione el Rucom del proovedor

  %div.search-tool-header{:layout => "row"}
    %div{flex: "50"}
    %md-input-container{:flex => "", "md-no-float"=>""}
      %input{"ng-model" => "searchRucom.rucom_record", :type => "text", :placeholder => "Filtrar numero"}
        %md-icon.search{"md-svg-icon"=>"action:search"}
    %md-input-container{:flex => "","md-no-float"=>""}
      %input{"ng-model" => "searchRucom.name", :type => "text", :placeholder => "Filtrar Por Nombre"}
        %md-icon.search{"md-svg-icon"=>"action:search"}

  %md-content{:flex => "flex", :layout => "column", "ng-click" => "toggleSearch=false"}
    %md-table-rucom{:headers => "headers", :content => "content", :sortable => "sortable", :filters => "search", "custom-class" => "custom", :count => "count", :type => "type", :style => "padding-left:20px; padding-right:20px;"}
