%md-content.rucom-selection-container
  %h2
    Seleccione el Rucom del proovedor/cliente que va a registrar
  %div.search-tool-header{:layout => "row"}
    %div{flex: "50"}
    %md-input-container{:flex => "", "md-no-float"=>""}
      %input{"ng-model" => "searchRucom.rucom_record", :type => "text", :placeholder => "Filtrar numero"}
        %md-icon.search{"md-svg-icon"=>"action:search"}
    %md-input-container{:flex => "","md-no-float"=>""}
      %input{"ng-model" => "searchRucom.name", :type => "text", :placeholder => "Filtrar Por Nombre"}
        %md-icon.search{"md-svg-icon"=>"action:search"}

  %form{:name => "rucomForm"}
  %div{:layout => "column"}
    %md-content.md-padding
    %md-content{:flex => "flex", :layout => "column", "ng-click" => "toggleSearch=false"}
      %md-table-rucom{:headers => "headers", :content => "content", :sortable => "sortable", :filters => "search", "custom-class" => "custom", :count => "count", :type => "type", :style => "padding-left:20px; padding-right:20px;"}

  .rucom-selection-options
    %md-button.md-button.btn-save{"ng-click" => "comeBack()"} 
      Volver
      %md-icon{"md-svg-icon"=>"navigation:arrow_back"}
    %md-button.md-button.btn-save{"ui-sref" => "create_client", "ng-if" => "type == 'client'"}
      Usuario sin Rucom
      %md-icon{"md-svg-icon"=>"content:add"}
    %md-button.md-button.btn-save{"ui-sref" => "type_2", "ng-if" => "type == 'provider'"}
      Usuario sin Rucom