%div.{:layout => "column", :style => "padding-left:20px; padding-right:20px;"}
  %md-tabs{"md-selected" => "formTabControl.selectedIndex"}
    %md-tab#tab1{"aria-controls" => "tab1-content"}
      {{ formTabControl.firstLabel }}
    %md-tab#tab2{"aria-controls" => "tab2-content", "ng-disabled" => "!newProvider.has_company"}
      {{ formTabControl.secondLabel }}
      
  %ng-switch.tabpanel-container{:on => "formTabControl.selectedIndex"}
    %form{:name => "providerCreateForm", "ng-submit" => "createProvider()", "novalidate" => "novalidate"}
      #tab1-content{"aria-labelledby" => "tab1", "md-swipe-left" => "next()", "md-swipe-right" => "previous()", "ng-switch-when" => "0", :role => "tabpanel"}
        %md-content.md-padding{:layout => "row", "layout-sm" => "column", "md-theme" => "default", :style => "font-size:1.2em"}
          .md-tile-left.cam{:flex => "10"}
            %md-button.md-fab.md-accent.md-default-theme.cam{"aria-label" => "Photo", :md-ripple-size => "partial", "ng-href" => "#scanner"} +
              %img.face.cam{:ng-src => "{{photo}}"}  
                %md-tooltip{"md-visible" => "demo.showTooltip"}
                  Photo
                  %span.ion-android-checkmark-circle
          %md-input-container{:flex => ""}
            %label First name
            %input{"ng-model" => "newProvider.first_name"}
          %md-input-container{:flex => ""}
            %label Last name
            %input{"ng-model" => "newProvider.last_name"}         
          %md-input-container{:flex => ""}
            %label {{rucomIDField.label}}
            %input{:readonly => "true", "ng-model" => "newProvider.rucom[rucomIDField.field]"}
            %md-tooltip{"md-direction" => "botton"} 
              %span.ion-android-checkmark-circle &nbsp;válido
          %div{:flex => "", :layout => "row"}
            %md-input-container
              %label ID document number
              %input{:name => "document_number", "ng-model" => "newProvider.document_number", :required => ""}
                %div{"ng-messages" => "providerCreateForm.document_number.$error"}
                  %div{"ng-message" => "required"} This is required.
            %div
              %md-button.md-raised{:style => "margin-top:16px", "ui-sref" => "scanner"}
                %md-icon{"md-svg-icon"=>"file:file_upload"}
              %md-tooltip{"md-direction" => "bottom"} Scan
        %md-content.md-padding{:layout => "", "layout-sm" => "column"}
          %md-input-container{:flex => ""}
            %label Provider type
            %input{"ng-model" => "currentRucom.provider_type", "ng-readonly" => "true", :placeholder => "Provider type"}
          %md-input-container{:flex => "15"}
            %label Phone Number
            %input{"ng-model" => "newProvider.phone_number", :placeholder => "(555) 555 5555"}
          %md-input-container{:flex => ""}
            %label Email
            %input{"ng-model" => "newProvider.email", :type => "email"}
        %md-content.md-padding
          %md-input-container{:flex => ""}
            %label Address
            %input{"ng-model" => "newProvider.address", :placeholder => "CLL/CR 1 22 - 33"}           
        %br
        %div{:layout => "row", "layout-align" => "space-between start", "layout-sm" => "column"}
          %md-autocomplete{:required => "true", :flex => "30", "md-item-text" => "state.name", "md-items" => "state in stateSearch(searchState)", "md-no-cache" => "true", "md-search-text" => "searchState", "md-search-text-change" => "searchTextStateChange(searchState)", "md-selected-item" => "selectedState", "md-selected-item-change" => "selectedStateChange(state)", :placeholder => "State"}
            %span{"md-highlight-text" => "searchState"} {{state.name}}
          %md-autocomplete{:required => "true", :flex => "30", "md-item-text" => "city.name", "md-items" => "city in citySearch(searchCity)", "md-no-cache" => "true", "md-search-text" => "searchCity", "md-search-text-change" => "searchTextCityChange(searchCity)", "md-selected-item" => "selectedCity", "md-selected-item-change" => "selectedCityChange(city)", "ng-disabled" => "cityDisabled", :placeholder => "City"}
            %span{"md-highlight-text" => "searchCity"} {{city.name}}
          %md-autocomplete{:required => "true", :flex => "30", "md-item-text" => "populationCenter.name", "md-items" => "populationCenter in populationCenterSearch(searchPopulationCenter)", "md-no-cache" => "true", "md-search-text" => "searchPopulationCenter", "md-search-text-change" => "searchTextPopulationCenterChange(searchPopulationCenter)", "md-selected-item" => "selectedPopulationCenter", "md-selected-item-change" => "selectedPopulationCenterChange(populationCenter)", "ng-disabled" => "populationCenterDisabled", :placeholder => "Population Center"}
            %span{"md-highlight-text" => "searchPopulationCenter"} {{populationCenter.name}}
        %br
        %div{:layout => "row", "layout-align" => "space-between center", "layout-margin" => "", "layout-sm" => "column"}
          %div{:layout => "row", :flex => "", "layout-align" => "start center", "layout-margin" => "", "layout-sm" => "column"}
            %div{:layout => "row", :flex => "25", "layout-align" => "space-between center"}
              %md-button.md-raised{"ui-sref" => "scanner"}
                %md-icon{"md-svg-icon"=>"file:file_upload"} 
                Mining Record
                %md-tooltip{"md-direction" => "top"} Scan
              %md-button.md-raised{"ui-sref" => "scanner"}
                %md-icon{"md-svg-icon"=>"file:file_upload"} 
                RUT
                %md-tooltip{"md-direction" => "top"} Scan
          %div{:layout => "row", :flex => "15", "layout-align" => "end center", "layout-margin" => "", "layout-sm" => "column"}        
            %div{:layout => "row", :flex => "", "layout-align" => "space-between center"}
              %md-button{:class => "md-raised", "ng-click" => "back()"} Cancel
              %md-button{"ng-disabled" => "!providerCreateForm.$valid || !saveBtnEnabled", :class => "md-raised md-accent", "ng-click" => "save()"} Save

 
