%div{:layout => "column"}  
  %md-tabs{"md-selected" => "formCreateTabCtrl.selectedIndex"}
    %md-tab#tab1{"aria-controls" => "tab1-content"}
      {{ formCreateTabCtrl.firstLabel }}
    %md-tab{"ng-disabled" => "true"}
      {{ formCreateTabCtrl.secondLabel }}
      
  %ng-switch.tabpanel-container{:on => "formCreateTabCtrl.selectedIndex"}
    %form{:name => "providerForm"}
      #tab1-content{"aria-labelledby" => "tab1", "md-swipe-left" => "next()", "md-swipe-right" => "previous()", "ng-switch-when" => "0", :role => "tabpanel"}
        %md-content.md-padding        
        %md-content.md-padding{:layout => "row", "layout-sm" => "column", "md-theme" => "default", :style => "font-size:1.2em"}
          .md-tile-left{:flex => "10"}
            %md-button.md-fab.md-accent{"aria-label" => "Photo", :md-ripple-size => "partial"} + 
              %md-tooltip{"md-visible" => "demo.showTooltip"}
                Photo
                %span.ion-android-checkmark-circle 
          %md-input-container{:flex => "25"}
            %label First name
            %input{"ng-model" => "newProvider.firstName"}
          %md-input-container{:flex => ""}
            %label Last name
            %input{"ng-model" => "newProvider.lastName"}                            
          %md-input-container{:flex => ""}          
            %label ID
            %input{:name => "id", "ng-model" => "newProvider.id", :required => ""}
              %div{"ng-messages" => "providerForm.id.$error"}
                %div{"ng-message" => "required"} This is required.          
        %div{:layout => "", "layout-sm" => "column"}
          %md-input-container{:flex => ""}
            %label RUCOM Number
            %input{"ng-model" => "newProvider.num_rucom", :required => ""}
              %div{"ng-messages" => "providerForm.id.$error"}
                %div{"ng-message" => "required"} This is required.
            %md-tooltip{"ng-if" => "validateRucom(newProvider.num_rucom)", "md-direction" => "right", "md-visible" => "formCreateTabCtrl.secondUnlocked"} 
              %span.ion-android-checkmark-circle &nbsp;Verificado                                     
          %md-input-container{:flex => ""}
            %label Phone Number
            %input{"ng-model" => "newProvider.phone_nb", :placeholder => "(3XX) XXX XXXXX"}
          %md-input-container{:flex => ""}
            %label Email
            %input{"ng-model" => "newProvider.email", :type => "email"}          
        %md-content.md-padding            
        %div{:layout => "", "layout-sm" => "column"}
          %md-input-container{:flex => ""}
            %label Address
            %input{"ng-model" => "newProvider.address", :placeholder => "CLL/CR X XX - XX"}
          %md-input-container{:flex => ""}
            %label City
            %input{"ng-model" => "newProvider.city"}
          %md-input-container{:flex => ""}
            %label State
            %input{"ng-model" => "newProvider.state"}
        %div{:layout => "", "layout-align" => "space-between center", "layout-margin" => "", "layout-sm" => "column"}
          %div{:flex => ""}              
          %md-button{:class => "md-raised md-primary", "ng-click" => ""} Cancel
          &nbsp;
          %md-button{"ng-disabled" => "!formValidateRucom.rucomValidated", :class => "md-raised md-primary md-accent", "ng-click" => "save()"} Save 
      #tab2-content{"aria-labelledby" => "tab2", "md-swipe-left" => "next()", "md-swipe-right" => "previous()", "ng-switch-when" => "1", :role => "tabpanel"}
        %md-content.md-padding{:layout => "row", "layout-sm" => "column", "md-theme" => "default", :style => "font-size:1.2em"}          
        %md-content.md-padding
          %div{:layout => "", "layout-align" => "space-between center", "layout-margin" => "", "layout-sm" => "column"}
            %md-button{"ng-disabled" => "!formCreateTabCtrl.secondUnlocked", :class => "md-raised md-primary", "ng-click" => "previous()"} Prev