%div{:layout => "column"}  
  %md-tabs{"md-selected" => "formTabControl.selectedIndex"}
    %md-tab#tab1{"aria-controls" => "tab1-content"}
      {{ formTabControl.firstLabel }}
    %md-tab{"ng-disabled" => "true"}
      {{ formTabControl.secondLabel }}
     
  %ng-switch.tabpanel-container{:on => "formTabControl.selectedIndex"}
    %form{:name => "providerForm", "novalidate" => "true"}
      #tab1-content{"aria-labelledby" => "tab1", "md-swipe-left" => "next()", "md-swipe-right" => "previous()", "ng-switch-when" => "0", :role => "tabpanel"}        
        %md-content.md-padding{:layout => "row", "layout-sm" => "column", "md-theme" => "default", :style => "font-size:1.2em"}
          .md-tile-left.cam{:flex => "10"}
            %md-button.md-fab.md-accent.md-default-theme.cam{"aria-label" => "Photo", :md-ripple-size => "partial",:ng-href => "#scanner"} +
              %img.face.cam{:ng-src => "{{photo}}"}  
                %md-tooltip{"md-visible" => "demo.showTooltip"}
                  Photo
                  %span.ion-android-checkmark-circle
          %md-input-container{:flex => "25"}
            %label First name
            %input{"ng-model" => "newProvider.name"}
          %md-input-container{:flex => ""}
            %label Last name
            %input{"ng-model" => "newProvider.lastName"}                            
          %md-input-container{:flex => ""}          
            %label ID
            %input{:name => "id", "ng-model" => "newProvider.id", :required => ""}
              %div{"ng-messages" => "providerForm.id.$error"}
                %div{"ng-message" => "required"} This is required.                    
        %div{:layout => "", "layout-sm" => "column"}
          %md-input-container{"ng-if" => "newProvider.num_rucom !== ''", :flex => "15"}
            %label RUCOM number            
            %input{"ng-model" => "newProvider.num_rucom", "ng-readonly" => "true"}
            %md-tooltip{"ng-if" => "validateRucom()", "md-direction" => "left", "md-visible" => "formTabControl.secondUnlocked"} 
              %span.ion-android-checkmark-circle &nbsp;Verificado   
          %md-input-container{"ng-if" => "newProvider.rucom_record !== ''", :flex => "15"}
            %label RUCOM record
            %input{"ng-model" => "newProvider.rucom_record", "ng-readonly" => "true"}
            %md-tooltip{"ng-if" => "validateRucom()", "md-direction" => "left", "md-visible" => "formTabControl.secondUnlocked"} 
              %span.ion-android-checkmark-circle &nbsp;Verificado   
          %md-input-container{"ng-if" => "newProvider.subcontract_number !== ''", :flex => "15"}
            %label Subcontract number
            %input{"ng-model" => "newProvider.subcontract_number", "ng-readonly" => "true"}
            %md-tooltip{"ng-if" => "validateRucom()", "md-direction" => "left", "md-visible" => "formTabControl.secondUnlocked"} 
              %span.ion-android-checkmark-circle &nbsp;Verificado                                     
          %md-input-container{:flex => ""}
            %label Provider type
            %input{"ng-model" => "newProvider.provider_type", "ng-readonly" => "true", :placeholder => "Provider type"}
          %md-input-container{:flex => ""}
            %label Status
            %input{:name => "status", "ng-model" => "newProvider.status", "ng-readonly" => "true",  :required => ""}
              %div{"ng-messages" => "providerForm.status.$error"}
                %div{"ng-message" => "required"} This is required. 
          %md-input-container{:flex => "17"}
            %label Phone Number
            %input{"ng-model" => "newProvider.phone_nb", :placeholder => "(3XX) XXX XXXXX"}          
        %md-content.md-padding            
        %div{:layout => "", "layout-sm" => "column"}
          %md-input-container{:flex => ""}
            %label Email
            %input{"ng-model" => "newProvider.email", :type => "email"}          
          %md-input-container{:flex => ""}
            %label Address
            %input{"ng-model" => "newProvider.address", :placeholder => "CLL/CR X XX - XX"}
          %md-input-container{:flex => ""}
            %label City
            %input{"ng-model" => "newProvider.city"}
          %md-input-container{:flex => ""}
            %label State
            %input{"ng-model" => "newProvider.state"}
        %div{:layout => "", "layout-align" => "space-between center", "layout-margin" => "", "layout-sm" => "column"}
          %div{:flex => ""}              
          %md-button{:class => "md-raised md-primary", "ng-click" => ""} Cancel
          &nbsp;
          %md-button{"ng-disabled" => "!formValidateRucom.rucomValidated", :class => "md-raised md-primary md-accent", "ng-click" => "save()"} Save 
      #tab2-content{"aria-labelledby" => "tab2", "md-swipe-left" => "next()", "md-swipe-right" => "previous()", "ng-switch-when" => "1", :role => "tabpanel"}
        %md-content.md-padding{:layout => "row", "layout-sm" => "column", "md-theme" => "default", :style => "font-size:1.2em"}          
        %md-content.md-padding
          %div{:layout => "", "layout-align" => "space-between center", "layout-margin" => "", "layout-sm" => "column"}
            %md-button{"ng-disabled" => "!formTabControl.secondUnlocked", :class => "md-raised md-primary", "ng-click" => "previous()"} Prev