%secion.camera-directive
  %h3
    %md-select.camera-selector{:placeholder => "Selecciona una cámara", :ng-model => "optionSelected"}
      %md-option{:ng-value => "options.value", :ng-repeat => "options in optionsSource",:ng-click => "changeCamera(options.value)"} {{options.text}}
  %section.camera-layout
    .camera-container
      %video{:autoplay => ""}
      %canvas.taken-photo{"ng-class"=> "{{photoTaken ? 'show' : ''}}"}
      .camera-options.show{layout: "row"}
        %button.md-raised.md-primary.md-button.md-default-theme{"ng-click" => "takeSnapshot()",flex:""} 
          Capturar
          %md-icon{"md-svg-icon"=>"image:camera_alt"}
      .camera-options-final{layout: "row"}
        %md-button.md-accent.md-button.md-hue-2.md-primary.md-raised.md-button.md-default-theme{"ng-click" => "takeAgain()",flex:""} 
          Tomar otra
          %md-icon{"md-svg-icon"=>"navigation:refresh"}
        %md-button.md-primary.md-raised{"ng-click" => "comeBack()",flex:""} 
          Finalizar
          %md-icon{"md-svg-icon"=>"action:done"}
