.table-container
  %table.md-table
    %thead
      %tr.md-table-headers-row
        %th.table-checkbox.all-check
          %md-checkbox{"ng-click" => "selectAll(content,grams,selectall)","ng-model" => "selectall", "aria-label"=>"all-check"}
        %th.md-table-header{"ng-repeat" => "h in headers", "ng-if" => "h.field != thumbs"}
          %a{:href => "#", "ng-if" => "handleSort(h.field)", "ng-click" => "reverse=!reverse;order(h.field,reverse)"}
            {{h.name}}
            %i.ion-android-arrow-dropup{"ng-show" => "reverse && h.field == predicate"}
            %i.ion-android-arrow-dropdown{"ng-show" => "!reverse && h.field == predicate"}
          %span{"ng-if" => "!handleSort(h.field)"} {{h.name}}
    %tbody
      %tr.md-table-content-row{"ng-repeat" => "item in content | filter:filters | startFrom:tablePage*count | limitTo: count", }
        %td.table-checkbox
          %md-checkbox{"ng-click" => "selectItem(item,grams,$event)", "ng-model" => "item.selected", "aria-label"=>"item-check"}
        %td.md-table-content{"ng-repeat" => "h in headers", "ng-class" => "customClass[h.field]", "ng-if" => "h.field != thumbs","ui-sref" => "show_batch"} {{h.field.indexOf('date') > 0 ? (item[h.field] | date) : item[h.field]}}

.md-table-footer{:layout => "row"}
  %span.md-table-count-info
    Rows per page :
      %a{:href => "#", "ng-click" => "goToPage(0); count=5"} 5
      ,
      %a{:href => "#", "ng-click" => "goToPage(0); count=10"} 10
      ,
      %a{:href => "#", "ng-click" => "goToPage(0); count=25"} 25
      ,
      %a{:href => "#", "ng-click" => "goToPage(0); count=50"} 50
      ,
      %a{:href => "#", "ng-click" => "goToPage(0); count=100"} 100
      (current is {{count}})
  %span{:flex => "flex"}
  %span{"ng-show" => "nbOfPages() > 1"}
    %md-button.md-primary.md-hue-2{"ng-disabled" => "tablePage==0", "ng-click" => "tablePage=tablePage-1", "aria-label" => "Previous Page"}
      %i.ion-chevron-left{:style => "font-size:16px;"}
    %a{:href => "#", "ng-repeat" => "i in getNumber(nbOfPages()) track by $index"}
      %md-button.md-primary.md-hue-2.md-table-footer-item{"ng-click" => "goToPage($index)"}
        %span{"ng-class" => "{ 'md-table-active-page': tablePage==$index}"} {{$index+1}}
    %md-button.md-primary.md-hue-2{"ng-disabled" => "tablePage==nbOfPages()-1", "ng-click" => "tablePage=tablePage+1", "aria-label" => "Next Page"}
      %i.ion-chevron-right{:style => "font-size:16px;"}