%table.md-table
  %thead
    %tr.md-table-headers-row
      %th.md-table-header{"ng-repeat" => "h in headers"}
        %a{"ng-href" => "#/{{currentPath}}", "ng-if" => "handleSort(h.field)", "ng-click" => "reverse=!reverse;order(h.field,reverse)"}
          {{h.name}}
          %i.ion-android-arrow-dropup{"ng-show" => "reverse && h.field == predicate"}
          %i.ion-android-arrow-dropdown{"ng-show" => "!reverse && h.field == predicate"}
        %span{"ng-if" => "!handleSort(h.field)"} {{h.name}}
      /%th.md-table-header
  %tbody{"style" => "overflow: hidden"}
    %tr.md-table-content-row{"ng-repeat" => "c in content | filter:filters | limitTo: count", "ng-click" => "setCurrentProv(c)"}
      %td
        .md-table-thumbs{"ng-repeat" => "h in headers", "ng-if" => "h.field == thumbs"}
          %div{:style => "background-image:url({{c.photo_file.thumb.url}})"}
      %td.md-table-content{"ng-repeat" => "h in headers", "ng-class" => "customClass[h.field]", "ng-if" => "h.field != thumbs"}         
        %pre {{h.field.indexOf('date') > 0 ? (c[h.field] | date) : (c[h.field] || c[h.alternateField])}}
      /%td.md-table-td-more
      /  %a{"ng-click" => "setCurrentProv(c)"}
      /    %md-button{"aria-label" => "Edit"}
      /      %i.ion-android-create
.md-table-footer{:layout => "row"}
  %span{:flex => "flex"}
  %span{"ng-show" => "nbOfPages() > 1"}
    %md-button.md-primary.md-hue-2{"ng-disabled" => "tablePage==0", "ng-click" => "goToPage(tablePage-1, queryFocus)", "aria-label" => "Previous Page"}
      %i.ion-chevron-left{:style => "font-size:16px;"}
    %a{"ng-href" => "#/{{currentPath}}", "ng-repeat" => "i in getNumber(nbOfPages()) track by $index"}
      %md-button.md-primary.md-hue-2.md-table-footer-item{"ng-click" => "goToPage($index, queryFocus)"}
        %span{"ng-class" => "{ 'md-table-active-page': tablePage==$index}"} {{$index+1}}
    %md-button.md-primary.md-hue-2{"ng-disabled" => "tablePage==nbOfPages()-1", "ng-click" => "goToPage(tablePage+1, queryFocus)", "aria-label" => "Next Page"}
      %i.ion-chevron-right{:style => "font-size:16px;"}