%div{:layout => "column"}
  %div{:layout => "row",:layout-align => "center center",:layout-margin =>"10"} 
    %div{:flex => "5"}
      %button.md-raised.md-primary.md-button.md-default-theme{"ng-click" => "click()"} Scan
    %button.md-accent.md-button.md-hue-2.md-primary.md-raised.md-button.md-default-theme{"ng-click" => "finish()"} Finalizar
  %div{:layout => "row",:layout-align => "center center"}
    %div{:layout => "row", :layout-align => "center center"}
      #dwtcontrolContainer  