%div{"layout"=>"row","layout-align"=> "center"}
  %md-card.md-card-login{"flex-gt-md"=>"50","flex-sm"=>"80","flex-md"=>"60"}
    %md-toolbar.md-tall
      %h2.md-toolbar-tools.md-toolbar-tools-bottom
        %span
    %md-content.md-padding
      %form{:name => "loginForm", "ng-submit"=> "login()","novalidation"=>""}
        %md-content.md-padding
          %md-input-container.md-default-theme{"md-no-float" => ""}
            %input{"ng-model" => "email", :placeholder => "Email", :type => "email"}
          %md-input-container.md-default-theme{"md-no-float" => ""}
            %input.md-input{"ng-model" => "password", :placeholder => "Password", :type => "password"}
          %md-button.login-button.md-raised.md-default-theme
            Log in

