%md-content.rucom-selection-container
  %h2.rucom-search-message
    Seleccione el rucom que va a adjuntar, Debe ser un rucom tipo:
    %br 
    %strong {{user_type}}

  %div.search-tool-header.search-rucom-header{:layout => "row",layout-align: "center center"}
    %md-input-container{:flex => "40", "md-no-float"=>""}
      %input{"ng-model" => "queryRucomNum", :type => "text", :placeholder => "Buscar Por Numero"}
        %md-icon.search{"md-svg-icon"=>"action:search"}
    %md-input-container{:flex => "40","md-no-float"=>""}
      %input{"ng-model" => "queryName", :type => "text", :placeholder => "Buscar Por Nombre"}
        %md-icon.search{"md-svg-icon"=>"action:search"}

  %form{:name => "rucomForm"}
  %div{:layout => "column", "ng-show"=>"show_rucoms"}
    %md-content.md-padding
    %md-content{:flex => "flex", :layout => "column", "ng-click" => "toggleSearch=false"}
      %md-table-rucom{:headers => "headers", :content => "content", :sortable => "sortable", :filters => "search", "custom-class" => "custom", :count => "count", :type => "type", :style => "padding-left:20px; padding-right:20px;"}

  .rucom-selection-options
    %md-button.md-button.btn-save.md-raised{"ng-click" => "cancel($event)"} 
      Cancelar
      %md-icon{"md-svg-icon"=>"navigation:arrow_back"}