%div{:style => "width:600px; display:inline-block;"}
  %button.md-raised.md-primary.md-button.md-default-theme{"ng-click" => "takeSnapshot()"} Tomar Imagen
%div{:style => "display:inline-block;"}
  %md-button.md-raised.md-primary.md-button.md-default-theme{"ng-click" => "addScanFile()"} Agregar al Documento
  %br/
  %br/
  %br/
  %button.md-raised.md-primary.md-button.md-default-theme{"ng-click" => "comeBack()"} Finalizar Scan