%md-content.dashboard
  %div{layout: "row"}
    %md-card.credit-card
      %md-subheader.md-primary.credit-card-title
        %span Credit Information
      %md-divider{inset: ""}
      %md-item
        %md-item-content.credit-card-item
          .md-tile-content 
            %span Remaining credit: ......... $0.0
            %br
            %md-button.md-raised.md-primary.bt-buy-credits Buy Credits


    