#home.row
  / .large-6.large-offset-3
  /   %ul.nav.navbar-nav.pull-right{"ng-if" => "!isAuthenticated()"}
  /     %li
  /       %a{"ui-sref" => "login"} Login
  / .large-6.large-offset-3
  /   %ul.nav.navbar-nav.pull-right{"ng-if" => "isAuthenticated()"}
  /     %li
  /       %a{"ui-sref" => "logout"} Logout