%h3 Login 
%div{:layout => "column"}
  %md-content.md-padding
    %form{:name => "projectForm"}
      %md-content.md-padding
        %md-input-container{"md-no-float" => ""}
          %md-icon{"md-svg-icon"=>"communication:email"}
          %input{"ng-model" => "user.name", :placeholder => "Name", :type => "text", required=>""}
        %md-input-container{"md-no-float" => ""}
          /%md-icon{"md-svg-src" => "/demo-partials/input/demoIcons/icons/ic_phone_24px.svg"}
          %input{"ng-model" => "user.phone", :placeholder => "Phone Number", :type => "text"}
        %md-input-container{"md-no-float" => ""}
          /%md-icon{"md-svg-src" => "/demo-partials/input/demoIcons/icons/ic_email_24px.svg"}
          %input{"ng-model" => "user.email", :placeholder => "Email", :type => "email"}
        %md-input-container{"md-no-float" => ""}
          /%md-icon{"md-svg-src" => "/demo-partials/input/demoIcons/icons/ic_place_24px.svg"}
          %input{"ng-model" => "user.address", :placeholder => "Address", :type => "text"}
        %md-input-container{"md-no-float" => ""}
          %input{:type => "submit"} Enviar

#login.row
  .large-6.large-offset-3
    %form{"ng-submit" => "login()"}
      %fieldset.radius
        .row
          .large-6.columns
            %input{'autofocus' => "", 'name' => "email", "ng-model" => "email", 'placeholder' => "Email", 'required' => "", 'type' => "text"}
          .large-6.columns
            %input{'name' => "password", "ng-model" => "password", 'placeholder' => "Password", 'required' => "", 'type' => "password"}
        .row
          .large-12.columns
            %button#log-in.button.large.expand.radius{"ng-disabled" => "loginForm.$invalid", 'type' => "submit"} Log In
