%div
  %md-content.md-padding
    %md-tabs.origin-certificate-tabs{"md-border-bottom" => "", "md-dynamic-height" => "", "md-selected"=> 'tab'}
      %md-tab{:label => "Realizar Compras", "ui-sref"=>"new_purchase.step0"}

      %md-tab{:label => "Ordenes de Compra Pendientes", "ui-sref"=>"new_purchase.orders_pending"}
      %md-tab{:label => "Ordenes Aprobadas", "ui-sref"=>"new_purchase.orders_approved"}
      %md-tab{:label => "Ordenes Rechazadas", "ui-sref"=>"new_purchase.orders_canceled"}
.tabs-purchase-container
  %div{"ui-view"=>"content"}