.container
  %h1 Compra
  %div{"ui-view"=>"content"}

  .wizard-buttons{layout: "row"}
    %md-button{flex: "50", "ui-sref"=>"new_purchase.step1"} Anterior
    %md-button{flex: "50", "ui-sref"=>"new_purchase.step2"} Siguiente