%section{layout: "column", "layout-align" => "center"}
  %h2
    Detalles de la compra pendiente
  %div.md-padding{flex: "100", :layout => "row", "layout-align" => "center" }
    // ---Purchase Type
    %fieldset.standard.tr-fieldset{:layout => "column", flex: "40"}
      %legend
        %h3
          Vendedor
      %table
        %tr
          %td
            Nombre y apellidos:
          %td
            {{purchaseModel.seller.first_name}} {{purchaseModel.seller.last_name}}
        %tr
          %td
            Documento de id:
          %td
            {{purchaseModel.seller.document_number}}
        %tr
          %td
            Email:
          %td
            {{purchaseModel.seller.email}}
        %tr
          %td
            Teléfono:
          %td
            {{purchaseModel.seller.phone_number}}



    %fieldset.standard.tr-fieldset{:layout => "column", flex: "40"}
      %legend
        %h3
          Detalles de la orden
      %table
        %tr
          %td
            Fecha de creación:
          %td
            {{purchaseModel.created_at}}
        %tr
          %td
            Total Gramos Finos:
          %td
            {{purchaseModel.gold_batch.fine_grams}} gramos
        %tr
          %td
            Tipo de Mineral:
          %td
            {{purchaseModel.gold_batch.mineral_type}}
        %tr
          %td
            Precio total:
          %td
            ${{purchaseModel.price}} COP

  %div.md-padding{flex: "100", :layout => "row", "layout-align" => "center" }
    %fieldset.standard.tr-fieldset{:layout => "column", flex: "80"}
      %legend
        %h3
          Listado de lotes
      %table
        %tr
          %td
            Fecha
          %td
            Proveedor
          %td
            Gramos finos

        %tr{"ng-repeat" => "associated_purchase in purchaseModel.associated_purchases"}
          %td
            {{associated_purchase.created_at}}
          %td
            {{associated_purchase.seller.first_name}} {{associated_purchase.seller.last_name}}
          %td
            {{associated_purchase.fine_grams}}


  %div.md-padding{flex: "100", :layout => "row", "layout-align" => "center" }
    %fieldset.standard.tr-fieldset{:layout => "column", flex: "80"}
      %legend
        %h3
          Archivos
      %wizard-buttons.md-padding{:layout => 'row', "layout-align"=>"center"}
        %a.md-button{href: "{{purchaseModel.purchase_files_collection_with_watermark.file.url}}", :target => "_self", "download"=>"purchase_files_collection_with_watermark.pdf"}
          Documentos de compra adjuntos
        %a.md-button{href: "{{purchaseModel.proof_of_sale_file_url}}", :target => "_blank"}
          Compendio



  %div.md-padding{flex: "80", :layout => "row", "layout-align" => "end" }
    %md-button.md-raised{flex: "10", "ng-click" => "agreeOrCancel('cancel!')"}
      Rechazar
    %md-button.md-raised.md-primary{flex: "10", "ui-sref" => "new_purchase.orders_pending_agreetment", "style" => "margin-right: 135px;"}
      Continuar
