%form.purchase-form{:name => "purchaseForm", "novalidate" => "novalidate"}
  %section{layout: "row"}
    %div.md-padding{flex: ""}
      // ---Purchase Type
      %fieldset.standard.tr-fieldset{:layout => "column"}
        %legend
          %h3
            Por favor lea con atención la aceptación del Acuerdo.
        %div.fieldset-inputs
          %md-input-container{class: "md-block", flex: '100' }
            %textarea{:rows => '7', :readOnly => 'true',
                      "ng-model" => "saleService.fixed_sale_agreetment",
                      :name => 'buy_agreetment'}
          %div{layout: "row"}
            %md-input-container{flex: ""}
              %md-checkbox{ :ng-model => 'chkAgreetmentActive',
                            :required => ''} Acepto los términos y condiciones

  .wizard-buttons{:layout => 'row', "class"=>"md-padding autocomplete", "layout-align"=>"end end"}
    %md-button.btn-save.md-button{ flex: "20",
                                 "ng-disabled" => "handlerReject()",
                                 "ng-click" => "agreeOrCancel('cancel!')"}Rechazar


    %md-button.btn-save.md-button{ flex: "20",
                                   "ng-show" => "handlerContinue()",
                                   "ng-click" => "agreeOrCancel('agree!')"} Aceptar

