%form.purchase-form{:name => "purchaseForm", "novalidate" => "novalidate"}
  %section{layout: "row"}
    %div.md-padding{flex: ""}
      // ---Purchase Type
      %h3
        Por favor lea con atención la aceptación del Acuerdo.
      %div.fieldset-inputs
        %md-input-container{class: "md-block", flex: '100' }
          %textarea{:rows => '7', :readOnly => 'true',
                    "ng-model" => "saleService.fixed_sale_agreetment",
                    :name => 'buy_agreetment'}
        %div{layout: "row"}
          %md-input-container{flex: ""}
            %md-checkbox{ :ng-model => 'chkAgreetmentActive',
                          :required => ''} Acepto los términos y condiciones

  .div{:layout => 'row', "class"=>"md-padding autocomplete", "layout-align"=>"center center"}
    / %md-button.btn-save.md-button{ flex: "20",
    /                              "ng-disabled" => "handlerReject()",
    /                              "ng-click" => "agreeOrCancel('cancel!')"}Rechazar

    %tr-loading-view{ "ng-show"=>"showLoading","mode"=>"loadingMode","progress"=>"loadingProgress", "message"=>"loadingMessage"}

    

    %md-button.btn-back-black{"ui-sref" => "new_purchase.orders_details_agreetment"}
      %md-icon{ "md-svg-icon"=>"/img/icons/purchase/back-flecha-yellow.svg" }
      Volver
    %md-button.btn-next.md-raised.md-primary{"ng-disabled" => "handlerContinue()", "ng-hide" => "showLoading", "ng-click" => "agreeOrCancel('agree!')"} 
      Aceptar
      %md-icon{ "md-svg-icon"=>"/img/icons/landing/flecha-negra.svg" }

