%section{layout: "column", "layout-align" => "center"}
  %h2
    Resumen de la orden de compra
  %div.md-padding{flex: "100", :layout => "row", "layout-align" => "center" }
    // ---Purchase Type
    %fieldset.standard.tr-fieldset{:layout => "column", flex: "40"}
      %legend
        %h3
          Vendedor 
      %table
        %tr
          %td
            Nombre y apellidos:
          %td
            {{saleModel.seller.first_name}} {{saleModel.seller.last_name}} 
        %tr
          %td
            Documento de id:
          %td
            {{saleModel.seller.document_number}}
        %tr
          %td
            Email:
          %td
            {{saleModel.seller.email}}
        %tr
          %td
            Teléfono:
          %td
            {{saleModel.seller.phone_number}}



    %fieldset.standard.tr-fieldset{:layout => "column", flex: "40"}
      %legend
        %h3
          Detalles de la orden
      %table
        %tr
          %td
            Fecha de creación:
          %td
            {{saleModel.created_at}}
        %tr
          %td
            Total Gramos Finos:
          %td
            {{saleModel.fine_grams}} gramos
        %tr
          %td
            Tipo de Mineral:
          %td
            {{saleModel.mineral_type}}
        %tr
          %td
            Precio total:
          %td
            ${{saleModel.price}} COP

  %div.md-padding{flex: "100", :layout => "row", "layout-align" => "center" }
    %fieldset.standard.tr-fieldset{:layout => "column", flex: "80"}
      %legend
        %h3
          Listado de lotes
      %table
        %tr
          %td
            Fecha
          %td
            Proveedor
          %td
            Gramos finos

        %tr{"ng-repeat" => "associated_purchase in saleModel.associated_purchases"}
          %td
            {{associated_purchase.created_at}}
          %td
            {{associated_purchase.seller.first_name}} {{associated_purchase.seller.last_name}}
          %td
            {{associated_purchase.fine_grams}}


  %div.md-padding{flex: "100", :layout => "row", "layout-align" => "center" }
    %fieldset.standard.tr-fieldset{:layout => "column", flex: "80"}
      %legend
        %h3
          Archivos
      %wizard-buttons.md-padding{:layout => 'row', "layout-align"=>"center"}
        %a.md-button{href: "{{saleModel.purchase_files_collection.file.url}}", :target => "_self", "download"=>"purchase_files_collection.pdf"}
          Documentos de compra adjuntos
        %a.md-button{href: "{{saleModel.proof_of_sale.file.url}}", :target => "_blank"}
          Compendio

  %div.md-padding{flex: "60", :layout => "row", "layout-align" => "center" }
    %md-button.md-raised.md-primary{flex: "10", "ui-sref" => "new_purchase.tab.orders_approved"}
      Continuar