%div{:layout => "column"}
  .general-container
    %h2
      DETALLES DE LA COMPRA PENDIENTE
    %md-content{ "flex"=>"30", "class"=>"", "layout"=>"row"}
      %md-content{"flex"=> "", "class"=>"", "layout"=>"column"}
        %div.md-subtitle{"flex"=> ""}
          VENDEDOR

        %div.input-containers-false{flex: ""}
          %label.label-container-false
            Nombre y Apellido
          %p.text-container-false
            {{purchaseModel.seller.first_name}} {{purchaseModel.seller.last_name}}

        %div.input-containers-false{flex: ""}
          %label.label-container-false
            Num. de identificación
          %p.text-container-false
            {{purchaseModel.seller.document_number}}

        %div.input-containers-false{flex: ""}
          %label.label-container-false
            Email
          %p.text-container-false
            {{purchaseModel.seller.email}}

        %div.input-containers-false{flex: ""}
          %label.label-container-false
            Telefono
          %p.text-container-false
            {{purchaseModel.seller.phone_number}}
      %md-content{"flex"=> "30", "class"=>"", "layout"=>"row"}
        %md-content{"flex"=> "", "class"=>"", "layout"=>"column"}
          %div.md-subtitle{"flex"=> ""}
            DETALLES DE LA ORDEN

          %div.input-containers-false{flex: ""}
            %label.label-container-false
              Fecha de creación
            %p.text-container-false
              {{purchaseModel.created_at}}

          %div.input-containers-false{flex: ""}
            %label.label-container-false
              Total Gramos Finos
            %p.text-container-false
              {{purchaseModel.gold_batch.fine_grams}} gramos

          %div.input-containers-false{flex: ""}
            %label.label-container-false
              Tipo de Mineral
            %p.text-container-false
              {{purchaseModel.gold_batch.mineral_type}}

          %div.input-containers-false{flex: ""}
            %label.label-container-false
              Precio total
            %p.text-container-false
              ${{purchaseModel.price}} COP



    %md-content{"class"=>"", "layout"=>"column", "layout-align"=>"center start"}
      %p.md-subtitle
        LISTADO DE LOTES
    %md-content{"class"=>"", "layout"=>"row", 'layout-align' => 'center'}
      %table{'flex' => '100', 'style' => 'width: 150%'}
        %thead
          %tr.md-table-headers-row
            %th.md-table-header
              FECHA
            %th.md-table-header
              PROVEEDOR
            %th.md-table-header
              GRAMOS FINOS

        %tbody
          %tr{"ng-repeat" => "associated_purchase in purchaseModel.associated_purchases"}
            %td.md-table-td-more
              {{associated_purchase.created_at}}
            %td.md-table-td-more
              {{associated_purchase.seller.first_name}} {{associated_purchase.seller.last_name}}
            %td.md-table-td-more
              {{associated_purchase.fine_grams}}



  %p.md-subtitle
    ARCHIVOS
  %div.md-padding{ :layout => "row", "layout-align" => "center" }
    %wizard-buttons.md-padding{:layout => 'row', "layout-align"=>"center"}
      %md-button.btn-save{ flex: "",href: "{{purchaseModel.purchase_files_collection_with_watermark_file_url}}", :target => "_self", "download"=>"purchase_files_collection_with_watermark.pdf"}
        Documentos de compras
      %md-button.btn-save{ flex: "30",href: "{{purchaseModel.proof_of_sale_file_url}}", :target => "_blank"}
        Compendio



  %div.md-padding{flex: "80", :layout => "row", "layout-align" => "center" }
    %md-button.btn-back-black{"ui-sref"=>"new_purchase.tab.orders_pending", "ng-click" => ""}
      %md-icon{ "md-svg-icon"=>"/img/icons/purchase/back-flecha-yellow.svg" }
      Volver
    %md-button.btn-save{"ng-click" => "agreeOrCancel('cancel!')"}
      Rechazar
    %md-button.btn-next.md-raised.md-primary{ "ui-sref" => "new_purchase.orders_pending_agreetment"}
      Continuar
      %md-icon{ "md-svg-icon"=>"/img/icons/landing/flecha-negra.svg" }
