%div{:layout => "column"}
  .general-container
    %md-content{ "flex"=>"30", "class"=>"", "layout"=>"row"}
      %md-content{"flex"=> "", "class"=>"", "layout"=>"column"}
        %div.md-subtitle{"flex"=> ""}
          COMPRADOR

        %div.input-containers-false{flex: ""}
          %label.label-container-false
            Razón Social
          %p.text-container-false
            {{buyer_data.company_name}}

        %div.input-containers-false{flex: ""}
          %label.label-container-false
            Nit
          %p.text-container-false 
            {{buyer_data.nit}}  
 
        %div.input-containers-false{flex: ""}
          %label.label-container-false
            Rucom
          %p.text-container-false
            {{buyer_data.rucom_number}}

        %div.input-containers-false{flex: ""}
          %label.label-container-false
            Nombre de usuario
          %p.text-container-false
            {{buyer_data.first_name}} {{buyer_data.last_name}}

        %div.input-containers-false{flex: ""}
          %label.label-container-false
            Sucursal
          %p.text-container-false
            {{buyer_data.office}}

        %div.input-containers-false{flex: ""}
          %label.label-container-false
            Direccion
          %p.text-container-false
            {{buyer_data.address}}

        %div.input-containers-false{flex: ""}
          %label.label-container-false
            Telefono
          %p.text-container-false
            {{buyer_data.phone}}

      %md-content{"flex"=> "30", "class"=>"", "layout"=>"row"}
        %md-content{"flex"=> "", "class"=>"", "layout"=>"column"}
          %div.md-subtitle{"flex"=> ""}
            PROVEEDOR

          %div.input-containers-false{flex: ""}
            %label.label-container-false
              Razón Social
            %p.text-container-false
              {{purchase.model.seller.company_name}}

          %div.input-containers-false{flex: ""}
            %label.label-container-false
              Nit
            %p.text-container-false
              {{purchase.model.seller.nit}}

          %div.input-containers-false{flex: ""}
            %label.label-container-false
              Rucom
            %p.text-container-false
              {{purchase.model.seller.rucom.rucom_number}}

          %div.input-containers-false{flex: ""}
            %label.label-container-false
              Nombre de usuario
            %p.text-container-false
              {{purchase.model.seller.name}}

          %div.input-containers-false{flex: ""}
            %label.label-container-false
              Cedula
            %p.text-container-false
              {{purchase.model.seller.document_number}}

          %div.input-containers-false{flex: ""}
            %label.label-container-false
              Direccion
            %p.text-container-false
              {{purchase.model.seller.address}}

          %div.input-containers-false{flex: ""}
            %label.label-container-false
              Telefono
            %p.text-container-false
              {{purchase.model.seller.phone_number}}

      %md-content{"flex"=> "40", "class"=>"", "layout"=>"row"}
        %md-content{"flex"=> "", "class"=>"", "layout"=>"column", "layout-align" => "center center"}
          %div.md-subtitle{"flex"=> ""}
            FOTO DEL PROVEEDOR
          .image.row
            .photo
              %img.face.cam{'alt'=>'Foto Proveedor', 'ng-src' => "{{purchase.model.seller_picture}}"}

          .reference-code{'flex' => ''}
            %div{"ng-bind-html"=>"barcode_html"}
            {{purchase.model.code}}

    %md-content{"class"=>"", "layout"=>"row"}
      %h3
        DATOS DE LA COMPRA
    %md-content{"class"=>"", "layout"=>"row"}
      .purchase-info{'flex' => ''}
        .row{'layout' => 'row'}
          .oc-number{'flex' => ''}
            %p.md-subtitle
              Numero de Certificado de Origen
            %p
              {{purchase.model.origin_certificate_sequence}}
      .select-law{'flex' => ''}
        %p.md-subtitle
          Ley
        %p
          {{goldBatch.model.grade}}

      .select-law{'flex' => ''}
        %p.md-subtitle
          Mineral Comprado

        %p
          {{goldBatch.model.mineral_type}}

    %md-content{"class"=>"", "layout"=>"row"}
      .purchase-info{'flex' => ''}

    %md-content{"class"=>"", "layout"=>"column", "layout-align"=>"center start"}
      %h3
        PESO COMPRADO
    %md-content{"class"=>"", "layout"=>"row", 'layout-align' => 'center'}
      %table{'flex' => '100', 'style' => 'width: 150%'}
        %thead
          %tr.md-table-headers-row
            %th.md-table-header
              Medida / Cantidad
            %th.md-table-header
              Precio  
            %th.md-table-header
              Total gramos
            %th.md-table-header
              Total gramos finos
            %th.md-table-header
              Precio Total
        %tbody
          %tr
            %td.md-table-td-more
              %div.input-containers-false
                %label.label-container-false
                  Gramo(s)
                %p.text-container-false
                  {{goldBatch.model.grams  | number:2}}
            %td.md-table-td-more
              %md-input-container
                $ {{purchase.model.fine_gram_unit_price | number:2}}
            %td.md-table-td-more
              %md-input-container
                {{ goldBatch.model.total_grams | number:3}}
            %td.md-table-td-more
              %md-input-container
                {{ goldBatch.model.total_fine_grams | number:3}}
            %td.md-table-td-more
              %md-input-container
                $ {{ purchase.model.price | number:2}}
          %tr
            %td.md-table-td-more
              %div.input-containers-false
                %label.label-container-false
                  Castellano(s)
                %p.text-container-false
                  {{goldBatch.model.castellanos}}
          %tr
            %td.md-table-td-more
              %div.input-containers-false
                %label.label-container-false
                  Onza(s)
                %p.text-container-false
                  {{goldBatch.model.ozs}}
          %tr
            %td.md-table-td-more
              %div.input-containers-false
                %label.label-container-false
                  Tomin(es)
                %p.text-container-false
                  {{goldBatch.model.tomines }}
          %tr
            %td.md-table-td-more
              %div.input-containers-false
                %label.label-container-false
                  Real(es)
                %p.text-container-false
                  {{goldBatch.model.reales}}
    .wizard-buttons{layout: "row", "class"=>"md-padding autocomplete",  "layout-align"=>"center"}


      %div{"layout"=>"column", "layout-align" => "center end"}
        .icon{"flex" => ""}
          %md-icon{"md-svg-src" => "/img/icons/purchase/documents.svg"}
        .button{"flex" => ""}
          %md-button.btn-save{  "ng-click" => 'DownloadPurchaseFiles()', 'target' => '_blank' } Descargar Archivos

      %div{"layout"=>"column", "layout-align" => "center end"}
        .icon{"flex" => ""}
        .button{"flex" => ""}
          %md-button.md-primary.md-raised.md-accent{"ng-if"=>"purchase.model.uiaf_report_file_url.length", "target"=> "_blank", href: "{{purchase.model.uiaf_report_file_url}}" } Descargar Reporte UIAF

      %div{"layout"=>"column", "layout-align" => "center end"}

        .icon{"flex" => ""}
          %md-icon{"md-svg-src" => "/img/icons/purchase/documents.svg"}
        .button{"flex" => ""}
          %md-button.btn-next.md-raised.md-primary{"ui-sref"=>"new_purchase.step0", "ng-click" => 'flushData()'} Nueva compra

