%div{:layout => "column"}
  .purchase-container
    %md-content{ "flex"=>"", "class"=>"", "layout"=>"row"}
      %md-content{"flex"=> "40", "class"=>"md-padding autocomplete", "layout"=>"column", "layout-align"=>"start start"}
        %h5{"flex"=> "10"}
          Comprador
        %table.md-table{"flex"=> ""}
          // TODO: add conditionals to show up, as a buyer, either the natural or legal person information
          %tbody
            %tr
              %td.md-table-td-more
                Razon social:
              %td.md-table-td-more.value
                {{buyer_data.company_name}}
            %tr
              %td.md-table-td-more
                Nit:
              %td.md-table-td-more.value
                {{buyer_data.nit}}
            %tr
              %td.md-table-td-more
                Rucom:
              %td.md-table-td-more.value
                {{buyer_data.rucom_number}}
            %tr
              %td.md-table-td-more
                Nombre de usuario:
              %td.md-table-td-more
                {{buyer_data.first_name}} {{buyer_data.last_name}}
            %tr
              %td.md-table-td-more
                Sucursal:
              %td.md-table-td-more
                {{buyer_data.office}}
            %tr
              %td.md-table-td-more
                Direccion:
              %td.md-table-td-more.value
                {{buyer_data.address}}
            %tr
              %td.md-table-td-more
                Telefono:
              %td.md-table-td-more.value
                {{buyer_data.phone}}
      %md-content{"flex"=> "", "class"=>"", "layout"=>"row", "layout-align"=>"center start"}
        %md-content{"flex"=> "", "class"=>"md-padding autocomplete", "layout"=>"column", "layout-align"=>"center start"}
          %h5{"flex"=> ""}
            Proveedor
          %table.md-table{'flex' => ''}
            %tbody
              %tr.row
                %td.md-table-td-more
                  Razon social:
                %td.md-table-td-more.value
                  {{purchase.model.seller.company_name}}
              %tr
                %td.md-table-td-more
                  Nit:
                %td.md-table-td-more.value
                  {{purchase.model.seller.nit}}
              %tr
                %td.md-table-td-more
                  Rucom:
                %td.md-table-td-more.value
                  {{purchase.model.seller.rucom.rucom_number}}
              %tr
                %td.md-table-td-more
                  Nombre de usuario
                %td.md-table-td-more
                  {{purchase.model.seller.name}}
              %tr
                %td.md-table-td-more
                  Cedula
                %td.md-table-td-more
                  {{purchase.model.seller.document_number}}
              %tr
                %td.md-table-td-more
                  Direccion:
                %td.md-table-td-more.value
                  {{purchase.model.seller.address}}
              %tr
                %td.md-table-td-more
                  Telefono:
                %td.md-table-td-more.value
                  {{purchase.model.seller.phone_number}}
        %md-content{"flex"=> "30", "class"=>"md-padding autocomplete", "layout"=>"row", "layout-align"=>"center start"}
          .image.row
            .photo
              %img.face.cam{'alt'=>'Foto Proveedor', 'ng-src' => "{{purchase.model.seller_picture}}"}

    %md-content{"class"=>"", "layout"=>"row"}
      %h4
        Datos de la Compra
    %md-content{"class"=>"", "layout"=>"row"}
      .purchase-info{'flex' => ''}
        .row{'layout' => 'row'}
          .oc-number{'flex' => ''}
            %p
              Numero de Certificado de Origen
            %p
              {{purchase.model.origin_certificate_sequence}}
      .select-law{'flex' => ''}
        %p
          Ley
        %p
          {{goldBatch.model.grade}}
      .reference-code{'flex' => ''}
        %div{"ng-bind-html"=>"barcode_html"}
        {{purchase.model.code}}

    %md-content{"class"=>"", "layout"=>"row"}
      %h4
        Mineral Comprado
    %md-content{"class"=>"", "layout"=>"row"}
      .purchase-info{'flex' => ''}
        .row{'layout' => 'row'}
          .oc-number{'flex' => ''}
            %p
              {{goldBatch.model.mineral_type}}

    %md-content{"class"=>"", "layout"=>"column", "layout-align"=>"center start"}
      %h4
        Peso comprado
    %md-content{"class"=>"", "layout"=>"row"}
      %table.md-table{'flex' => ''}
        %thead
          %tr.md-table-headers-row
            %th.md-table-header
              Medida
            %th.md-table-header
              Cantidad
            %th.md-table-header
              Total gramos
            %th.md-table-header
              Total gramos finos
            %th.md-table-header
              Precio Total
        %tbody
          %tr
            %td.md-table-td-more
              %p Gramo(s)
            %td.md-table-td-more
              %md-input-container
                %span {{goldBatch.model.grams  | number:2}}
            %td.md-table-td-more
              %md-input-container
                $ {{  purchase.model.fine_gram_unit_price | number:2}}
            %td.md-table-td-more
              %md-input-container
                {{ goldBatch.model.total_grams | number:3}}
            %td.md-table-td-more
              %md-input-container
                {{ goldBatch.model.total_fine_grams | number:3}}
            %td.md-table-td-more
              %md-input-container
                $ {{ purchase.model.price | number:2}}
          %tr
            %td.md-table-td-more
              Castellano(s)
            %td.md-table-td-more{colspan: 5}
              %md-input-container
                %span {{goldBatch.model.castellanos}}
          %tr
            %td.md-table-td-more
              Onza(s)
            %td.md-table-td-more{colspan: 5}
              %md-input-container
                %span {{goldBatch.model.ozs}}
          %tr
            %td.md-table-td-more
              Tomine(s)
            %td.md-table-td-more{colspan: 5}
              %md-input-container
                %span {{goldBatch.model.tomines}}
          %tr
            %td.md-table-td-more
              Real(es)
            %td.md-table-td-more{colspan: 5}
              %md-input-container
                %span {{goldBatch.model.reales}}
    .wizard-buttons{layout: "row", "class"=>"md-padding autocomplete",  "layout-align"=>"end end"}
      %md-button.md-primary.md-raised.md-accent{ flex: "20", "ng-click" => 'DownloadPurchaseFiles()', 'target' => '_blank' } Descargar Archivos
      %md-button.md-primary.md-raised.md-accent{"ng-if"=>"purchase.model.uiaf_report_file_url.length", "target"=> "_blank", href: "{{purchase.model.uiaf_report_file_url}}" } Descargar Reporte UIAF
      %md-button.md-primary.md-raised.md-accent{ flex: "20", "ui-sref"=>"new_purchase.step0", "ng-click" => 'flushData()'} Nueva compra