//---------------------- Purchase TAB ---------------------------------------
%form{:name => "purchaseForm"}
  %section{"class"=>"autocomplete"}
    .seller
      .row{:layout => "", "layout-sm" => "column"}
        .select-law{'flex' => ''}
          .md-subtitle 1. Ley
          %md-input-container
            
            %input{ "type" => "number", "string-to-number"=>"", min: => "1" , "max"=>"999" ,'ng-model' => 'goldBatch.model.grade', :required=>"", :name => 'degre', "placeholder" => "Digite el numero de ley"}
            %div{"ng-messages" => "purchaseForm.degre.$error"}
              /%div{"ng-message" => "required"} * Este campo es requerido.
        .fine-gram-unit-price{'flex' => ''}
          .md-subtitle 2. Valor gramo fino de vender en COP
          %md-input-container
            
            %input{ "type" => "number", "string-to-number"=>"",'ng-model' => 'purchase.model.fine_gram_unit_price', :required=>"", :name => 'fine_gram', :min => "1", "placeholder" => "Precio de gramo fino por unidad"}
            %div{"ng-messages" => "purchaseForm.fine_gram.$error"}
              /%div{"ng-message" => "required"} * Este campo es requerido.
        .price-to-buy{ 'flex' => ''}
          .md-subtitle
            3. Valor gramo fino de comprar en COP
          %div.input-containers-fine-gram-to-buy
            {{purchase.model.fine_gram_unit_price_to_buy | number:2}}
          %md-input-container{"ng-hide"=> "true"}
            %label 
            %input.input-num-value{"type" => "number", "string-to-number"=>"",'ng-model' => 'purchase.model.fine_gram_unit_price_to_buy', :required=>"", :name => 'fine_gram_to_buy', :min => "1", "readonly" => "", "placeholder"=>"Precio de gramo fino por unidad"}

      .md-subtitle 4. Tipo Mineral
        %md-select{"ng-model" => "goldBatch.model.mineral_type", :required=>""}
          %md-option{:selected => "selected", :value => "Oro"} Oro
          %md-option{:value => "Plata"} Plata
          %md-option{:value => "Platino"} Platino
      .row{:layout => "", "layout-sm" => "column"}
        .convertion-section{'flex' => ''}
          .md-subtitle 5. Medidas
          %table.md-table
            %thead
              %tr.md-table-headers-row
                %th.md-table-header
                  Medida / Cantidad
                %th.md-table-header
                  Precio Unitario
                %th.md-table-header
                  Precio Total
            %tbody
              %tr.medidas
                %td.md-table-td-more
                  %md-input-container
                    %input{"ng-model" => "goldBatch.model.grams", "type" => "number", "string-to-number"=>"", "min" => "0", "placeholder" => "Gramo(s)"}
                %td.md-table-td-more
                  {{ gramsUnitPrice | number:2 }}
                %td.md-table-td-more
                  {{ subtotalGrams | number:2}}
                / %td.md-table-td-more.total-grams
                /   %md-input-container
                /     %label
                /     %input{"ng-model" => "goldBatch.model.total_grams",  :min => "1", :requiered => '', :readOnly => 'true', "type" => "number", "string-to-number"=>"", "min" => "1", :name => 'total_grams'}
                /     %div{"ng-messages" => "purchaseForm.total_grams.$error"}
                /       %div{"ng-message" => "required"} * Tiene que seleccionar la cantidad de oro a facturar mayor a 1 gramo.
                / %td.md-table-td-more.total-fine-grams
                /   %md-input-container
                /     {{ goldBatch.model.total_fine_grams | number:3}}
                / %td.md-table-td-more
                /   %md-input-container
                /     {{   | number:2 }}
              %tr.medidas
                %td.md-table-td-more{colspan: 1}
                  %md-input-container
                    %input{"ng-model" => "goldBatch.model.castellanos", "type" => "number", "string-to-number"=>"", "min" => "0", "placeholder" => "Castellano(s)"}
                %td.md-table-td-more
                  {{ castellanosUnitPrice | number:2 }}
                %td.md-table-td-more
                  {{ subtotalCastellano | number:2}}
              %tr.medidas
                %td.md-table-td-more{colspan: 1}
                  %md-input-container
                    %input{"ng-model" => "goldBatch.model.tomines", "type" => "number", "string-to-number"=>"", "min" => "0", "placeholder" => "Tomine(s)"}
                %td.md-table-td-more
                  {{ tominesUnitPriceFrom | number:2 }}
                %td.md-table-td-more
                  {{ subtotalTomines | number:2}}
              %tr.medidas
                %td.md-table-td-more{colspan: 1}
                  %md-input-container
                    %input{"ng-model" => "goldBatch.model.reales", "type" => "number", "string-to-number"=>"", "min" => "0", "placeholder" => "Real(es)"}
                %td.md-table-td-more
                  {{ realesUnitPriceFrom | number:2 }}
                %td.md-table-td-more
                  {{ subtotalReales | number:2}}
              %tr.medidas
                %td.md-table-td-more{colspan: 1}
                  %md-input-container
                    %input{"ng-model" => "goldBatch.model.granos", "type" => "number", "string-to-number"=>"", "min" => "0", "placeholder" => "Grano(s)"}
                %td.md-table-td-more
                  {{ granosUnitPriceFrom | number:2}}
                %td.md-table-td-more
                  {{ subtotalGranos | number:2}}
              %tr
                %td.md-table-td-more{colspan: 1}
                %td.md-table-td-more{"layout-align"=>"end end"}
                  %h3 TOTAL:
                %td.md-table-td-more
                  $ {{ purchase.model.price | number:2}}

  .wizard-buttons{layout: "row", "class"=>"md-padding autocomplete",  "layout-align"=>"end end"}
    %md-button.btn-cancel{ flex: "20", "ui-sref"=>"new_purchase.step1", "ng-click" => "removeWatchers()"} Volver
    %md-button.btn-next.md-raised.md-primary{ "ng-disabled" => 'purchaseForm.$invalid', "ui-sref"=>"new_purchase.step3", "ng-click" => "removeWatchers(); saveState()"} Continuar
      %md-icon{"md-svg-icon"=>"/img/icons/landing/flecha-negra.svg"}


