//---------------------- Purchase TAB ---------------------------------------
%form{:name => "purchase-form"}
  %section
    .seller
      %md-subheader
        %span Ingresar Pesos
      .row{'layout' => 'row'}
        .gold-amount{'flex' => ''}
          %md-input-container
            %h5 Valor de un gramo peso colombiano (COP)
            %span $ {{ goldBatch.gramUnitPrice }}
      .row{'layout' => 'row'}
        .convertion-section{'flex' => '50'}
          %h5 Medidas
          %table
            %thead
              %tr.md-table-headers-row
                %th.md-table-header
                  Medida
                %th.md-table-header
                  Cantidad
                %th.md-table-header
                  Precio por Unidad
            %tbody
              %tr
                %td
                  %p Castellano(s)
                %td
                  %md-input-container
                    %label
                    %input{"ng-model" => "goldBatch.model.castellanos"}
                %td
                  %span {{goldBatch.castellanoUnitPrice  | number:2}}
              %tr
                %td
                  %p Onza(s)
                %td
                  %md-input-container
                    %label
                    %input{"ng-model" => "goldBatch.model.ozs"}
                %td
                  %span {{goldBatch.ozUnitPrice | number:2}}
              %tr
                %td
                  %p Tomine(s)
                %td
                  %md-input-container
                    %label
                    %input{"ng-model" => "goldBatch.model.tomines"}
                %td
                  %span {{goldBatch.tominUnitPrice | number:2}}
              %tr
                %td
                  %p Rial(es)
                %td
                  %md-input-container
                    %label
                    %input{"ng-model" => "goldBatch.model.riales"}
                %td
                  %span {{goldBatch.rialUnitPrice | number:2}}
        .select-law{'flex' => '20'}
          // TODO: query for laws to some X service
          %h5 Ley
          %md-select{'placeholder' => 'Seleccione un el tipo de ley', 'ng-model' => 'goldBatch.model.law'}
            %md-option{'value'=> '24 quilates'} 24 quilates
            %md-option{'value'=> '22 quilates'} 22 quilates
            %md-option{'value'=> '21 quilates'} 21 quilates
            %md-option{'value'=> '18 quilates'} 18 quilates
            %md-option{'value'=> '14 quilates'} 14 quilates
        .grams{'flex' => '10'}
          %md-input-container
            %h5 Cantidad en Gramos
            {{ goldBatch.model.grams | number:2}}
        .grams{'flex' => '20'}
          %md-input-container
            %h5 Precio
            $ {{ purchase.model.price | number:2}}
  .wizard-buttons{layout: "row"}
    %md-button.md-primary.md-hue-2{flex: "50", "ui-sref"=>"new_purchase.step1", "ng-click" => ""} Datos Proveedor Y Certificado de Compra
    %md-button.md-primary.md-hue-2{flex: "50", "ui-sref"=>"new_purchase.step3", "ng-click" => "saveState()"} Previsualizar



