%form.purchase-form{:name => "originCertificateForm", "novalidate" => "novalidate"}
  %div{:layout => "column"}

    %md-content{ "flex"=>"", "class"=>"md-padding", "layout"=>"row"}
      %md-input-container{"flex"=>"33"}
        %label Fecha
        %input{"ng-model" => "date", "type" => "text", :readOnly => "true"}

      %md-input-container{"flex"=>"66"}
        %label Ciudad
        %input{"ng-model" => "buyer_data.city", "type" => "text", :readOnly=>"true"}

    %section{flex: "", layout: "row"}
      ////-----------------------Provider section ------------------------------////////
      %div.origin-certificate-padding{flex: ""}
        %fieldset.standard.tr-fieldset{:layout => "column"}
          %legend
            %h3
              Informacion del Productor de Mineral
          %div.fieldset-inputs
            %div{layout: "row"}
              %md-input-container{flex: ""}
                %md-radio-group{"ng-model" => "purchase.model.seller.provider_type", :required => "", :name => 'provider_type'}
                  %md-radio-button{:value => "Barequero", :readOnly => 'true'} Barequero
                  %md-radio-button{:value => "Chatarrero", :readOnly => 'true'} Chatarrero
            %div{layout: "row"}
              %md-input-container{flex: ""}
                %label Nombre Proveedor
                %input{"ng-model" => "purchase.model.seller.first_name",  :name => 'provider_name', :readOnly => 'true'}
              %md-input-container{flex: ""}
                %label Tipo de Documento
                %input{"ng-model" => "purchase.model.seller.document_type",  :name => 'provider_name', :readOnly => 'true'}
              %md-input-container{flex: ""}
                %label Numero de Documento
                %input{"ng-model" => "purchase.model.seller.document_number",  :name => 'provider_name', :readOnly => 'true'}
            %div{layout: "row"}
              %md-input-container{flex: ""}
                %label Departamento
                %input{"ng-model" => "purchase.model.seller.state.name",  :name => 'provider_name', :readOnly => 'true'}
              %md-input-container{flex: ""}
                %label Ciudad
                %input{"ng-model" => "purchase.model.seller.city.name",  :name => 'provider_name', :readOnly => 'true'}
              %div.progress-fieldset{:layout => "row", "layout-align" => "space-around", "layout-sm" => "column","ng-if"=>"clientVerifiedProgress"}
                %md-progress-circular{"md-mode" => "indeterminate"}
        .button
          /%a.md-button.create-provider-button{'ng-click' => "createProvider()"}  crear proveedor
        ////-----------------------Mineral section ------------------------------////////
      %div.origin-certificate-padding{flex: "30"}
        %fieldset.standard.tr-fieldset.mineral{:layout => "column"}
          %legend
            %h3
              Mineral
          %div.fieldset-inputs
            %div{layout: "column"}
              %md-input-container{flex: ""}
                %label Mineral Extraido y Vendido
                %input{"ng-model" => "mineralType", "type" => "text", :readOnly=>"true"}

              %md-input-container{flex: ""}
                %label Cantidad
                %input{"ng-model" => "goldBatch.model.total_fine_grams", "type" => "text", :name => 'amount', :readOnly=>"true"}

              %md-input-container{flex: ""}
                %label Unidad de Medida
                %input{"ng-model" => "measureUnit", "type" => "text", :readOnly=>"true"}

    ////-----------------------Buyer section ------------------------------////////
    %section{flex: "", layout: "row"}
      %div.origin-certificate-padding{flex: ""}
        %fieldset.standard.tr-fieldset{:layout => "column"}
          %legend
            %h3
              Informacion del Comprador del Mineral

          %div.fieldset-inputs
            %div{layout: "row"}
              %md-input-container{"flex"=>""}
                %label Nombres y Apellidos o Razon Social
                %input{"readonly" => "true", "ng-model" => "buyer_data.company_name", "type" => "text"}

              %md-input-container{"flex"=>""}
                %label Tipo de Documento
                %input{:readonly => "true", "ng-model" => "buyer_data.document_type", "type" => "text"}

              %md-input-container{"flex"=>""}
                %label Numero de Indentificacion
                %input{"readonly" => "true", "ng-model" => "buyer_data.nit", "type" => "text"}
    %section{flex: '', layout: 'row'}
      %div{flex: ''}
        %textarea{ cols: "125", rows: "15", id: "txtDisplay" }
      %div{flex: ''}
        #imageBox{  flex: ''}
          image here

    .wizard-buttons{layout: "row", "class"=>"md-padding autocomplete",  "layout-align"=>"end end"}
      %md-button.btn-cancel{  flex: "20", 'ng-click' => 'restartSessionDevice()'} Verificar Device
      %md-button.btn-cancel{ :ng-if => "purchase.model.type == 'seller'", flex: "20", "ui-sref"=>"new_purchase.step2"} Volver
      %md-button.btn-cancel{ flex: "20", 'ng-click' => 'captureSignature()'} Firmar
      %md-button.btn-save{ "ng-disabled" => 'originCertificateForm.$invalid', flex: "20", "ng-click" => "saveState()", "ui-sref"=>"new_purchase.step4"} Continuar
