//---------------------- Purchase TAB ---------------------------------------
%form{:name => "purchase-form"}
  %section{"class"=>"md-padding autocomplete"}
    .seller
      %md-subheader
        %span Ingresar Pesos
      .row{:layout => "", "layout-sm" => "column"}
        .select-law{'flex' => ''}
          %h5 Ley
          %md-input-container
            %label Digite el numero de ley
            %input{ "type" => "number", "string-to-number"=>"", "min"=> "0" , "max"=>"999" ,'ng-model' => 'purchase.model.law', "required"=>""}
      .row{:layout => "", "layout-sm" => "column"}
        .convertion-section{'flex' => ''}
          %h5 Medidas
          %table.md-table
            %thead
              %tr.md-table-headers-row
                %th.md-table-header
                  Medida
                %th.md-table-header
                  Cantidad
                %th.md-table-header
                  Precio por Unidad
                %th.md-table-header
                  Total gramos
                %th.md-table-header
                  Total gramos finos
                %th.md-table-header
                  Precio Total
            %tbody
              %tr
                %td.md-table-td-more
                  %p Gramo
                %td.md-table-td-more
                  %md-input-container
                    %label
                    %input{"ng-model" => "goldBatch.model.grams", "type" => "number", "string-to-number"=>"", "required"=>""}
                %td.md-table-td-more.gram-unit
                  %md-input-container
                    $ {{ goldBatch.gramUnitPrice | number:2}}
                %td.md-table-td-more.total-grams
                  %md-input-container
                    {{ goldBatch.model.total_grams | number:2}}
                %td.md-table-td-more.total-fine-grams
                  %md-input-container
                    {{ goldBatch.model.total_fine_grams | number:3}}
                %td.md-table-td-more
                  %md-input-container
                    $ {{ purchase.model.price | number:2}}
              %tr
                %td.md-table-td-more
                  Castellano(s)
                %td.md-table-td-more
                  %md-input-container
                    %label
                    %input{"ng-model" => "goldBatch.model.castellanos", "type" => "number", "string-to-number"=>"", "required"=>""}
                %td.md-table-td-more{colspan: 4}
                  %span {{goldBatch.castellanoUnitPrice  | number:2}}
              %tr
                %td.md-table-td-more
                  Onza(s)
                %td.md-table-td-more
                  %md-input-container
                    %label
                    %input{"ng-model" => "goldBatch.model.ozs", "type" => "number", "string-to-number"=>"", "required"=>""}
                %td.md-table-td-more{colspan: 4}
                  %span {{goldBatch.ozUnitPrice | number:2}}
              %tr
                %td.md-table-td-more
                  Tomine(s)
                %td.md-table-td-more
                  %md-input-container
                    %label
                    %input{"ng-model" => "goldBatch.model.tomines", "type" => "number", "string-to-number"=>"", "required"=>""}
                %td.md-table-td-more{colspan: 4}
                  %span {{goldBatch.tominUnitPrice | number:2}}
              %tr
                %td.md-table-td-more
                  Rial(es)
                %td.md-table-td-more
                  %md-input-container
                    %label
                    %input{"ng-model" => "goldBatch.model.riales", "type" => "number", "string-to-number"=>"", "required"=>""}
                %td.md-table-td-more{colspan: 4}
                  %span {{goldBatch.rialUnitPrice | number:2}}
  .wizard-buttons{layout: "row", "class"=>"md-padding autocomplete"}
    %md-button.md-primary.md-hue-2{flex: "50", "ui-sref"=>"new_purchase.step1", "ng-click" => ""} Datos Proveedor Y Certificado de Compra
    %md-button.md-primary.md-hue-2{flex: "50", "ui-sref"=>"new_purchase.step3", "ng-click" => "saveState()"} Previsualizar



