//---------------------- Purchase TAB ---------------------------------------
%form{:name => "purchaseForm"}
  %section{"class"=>"md-padding autocomplete"}
    .seller
      .row{:layout => "", "layout-sm" => "column"}
        .select-law{'flex' => ''}
          %h5 Digite el numero de ley
          %md-input-container
            %label Ley
            %input{ "type" => "number", "string-to-number"=>"", :min => "1" , "max"=>"999" ,'ng-model' => 'goldBatch.model.grade', :required=>"", :name => 'degre'}
            %div{"ng-messages" => "purchaseForm.degre.$error"}
              %div{"ng-message" => "required"} * Este campo es requerido.
        .fine-gram-unit-price{'flex' => ''}
          %h5 Valor gramo fino de vender en COP
          %md-input-container
            %label Precio de gramo fino por unidad
            %input{ "type" => "number", "string-to-number"=>"",'ng-model' => 'purchase.model.fine_gram_unit_price', :required=>"", :name => 'fine_gram', :min => "1"}
            %div{"ng-messages" => "purchaseForm.fine_gram.$error"}
              %div{"ng-message" => "required"} * Este campo es requerido.
        .price-to-buy{ 'flex' => ''}
          %h5 Valor gramo fino de comprar en COP
          %md-input-container
            %label Precio de gramo fino por unidad
            %input{ "type" => "number", "string-to-number"=>"",'ng-model' => 'purchase.model.fine_gram_unit_price_to_buy', :required=>"", :name => 'fine_gram_to_buy', :min => "1"}

      .row{:layout => "", "layout-sm" => "column"}
        .convertion-section{'flex' => ''}
          %h5 Medidas
          %table.md-table
            %thead
              %tr.md-table-headers-row
                %th.md-table-header
                  Medida
                %th.md-table-header
                  Cantidad
                %th.md-table-header
                  Total gramos
                %th.md-table-header
                  Total gramos finos
                %th.md-table-header
                  Precio Total
            %tbody
              %tr
                %td.md-table-td-more
                  %p Gramo(s)
                %td.md-table-td-more
                  %md-input-container
                    %label
                    %input{"ng-model" => "goldBatch.model.grams", "type" => "number", "string-to-number"=>""}
                %td.md-table-td-more.total-grams
                  %md-input-container
                    %label
                    %input{"ng-model" => "goldBatch.model.total_grams",  :min => "1", :requiered => '', :readOnly => 'true', "type" => "number", "string-to-number"=>"", :name => 'total_grams'}
                    %div{"ng-messages" => "purchaseForm.total_grams.$error"}
                      %div{"ng-message" => "required"} * Tiene que seleccionar la cantidad de oro a facturar mayor a 1 gramo.
                %td.md-table-td-more.total-fine-grams
                  %md-input-container
                    {{ goldBatch.model.total_fine_grams | number:3}}
                %td.md-table-td-more
                  %md-input-container
                    $ {{ purchase.model.price | number:2}}
              %tr
                %td.md-table-td-more
                  Castellano(s)
                %td.md-table-td-more{colspan: 1}
                  %md-input-container
                    %label
                    %input{"ng-model" => "goldBatch.model.castellanos", "type" => "number", "string-to-number"=>""}
              %tr
                %td.md-table-td-more
                  Onza(s)
                %td.md-table-td-more{colspan: 1}
                  %md-input-container
                    %label
                    %input{"ng-model" => "goldBatch.model.ozs", "type" => "number", "string-to-number"=>""}
              %tr
                %td.md-table-td-more
                  Tomine(s)
                %td.md-table-td-more{colspan: 1}
                  %md-input-container
                    %label
                    %input{"ng-model" => "goldBatch.model.tomines", "type" => "number", "string-to-number"=>""}
              %tr
                %td.md-table-td-more
                  Real(es)
                %td.md-table-td-more{colspan: 1}
                  %md-input-container
                    %label
                    %input{"ng-model" => "goldBatch.model.reales", "type" => "number", "string-to-number"=>""}
              %tr
                %td.md-table-td-more
                  Grano(s)
                %td.md-table-td-more{colspan: 1}
                  %md-input-container
                    %label
                    %input{"ng-model" => "goldBatch.model.granos", "type" => "number", "string-to-number"=>""}

  .wizard-buttons{layout: "row", "class"=>"md-padding autocomplete",  "layout-align"=>"end end"}
    %md-button.btn-cancel{ flex: "20", "ui-sref"=>"new_purchase.step1", "ng-click" => ""} Volver
    %md-button.btn-save{ "ng-disabled" => 'purchaseForm.$invalid', flex: "20", "ui-sref"=>"new_purchase.step3", "ng-click" => "saveState()"} Continuar
