%form.purchase-form{:name => "originCertificateForm", "novalidate" => "novalidate"}
  %div{:layout => "column"}

    %md-content{ "flex"=>"", "class"=>"md-padding", "layout"=>"row"}
      
      %div.md-padding{"layout"=>"column"}
        %label.md-subtitle
          Fecha
      
        %p
          {{date}}

      
      %div.md-padding{"layout" => "column"}
        %label.md-subtitle
          Ciudad
        %p
          {{buyer_data.city}}

    %section{flex: "", layout: "row"}
      ////-----------------------Provider section ------------------------------////////
      %div.md-padding.origin-certificate-padding{flex: ""}
        %label.md-subtitle
          Informacion del Productor de Mineral
        %hr{ "width"=>"97%", "color"=>"#E3CD48", "align"=>"left"}
        %div.fieldset-inputs
          %div{layout: "column"}
            %md-input-container{flex: ""}
              %md-radio-group{"ng-model" => "purchase.model.seller.provider_type", :required => "", :name => 'provider_type'}
                %md-radio-button{:value => "Barequero", :readOnly => 'true', 'ng-disabled' => 'true'} Barequero
                %md-radio-button{:value => "Chatarrero", :readOnly => 'true', 'ng-disabled' => 'true'} Chatarrero
          %div{layout: "column"}
            %md-input-container{flex: ""}
              %label Nombre Proveedor
              %input{"ng-model" => "purchase.model.seller.first_name",  :name => 'provider_name', :readOnly => 'true'}
            %md-input-container{flex: ""}
              %label Tipo de Documento
              %input{"ng-model" => "purchase.model.seller.document_type",  :name => 'provider_name', :readOnly => 'true'}
            %md-input-container{flex: ""}
              %label Numero de Documento
              %input{"ng-model" => "purchase.model.seller.document_number",  :name => 'provider_name', :readOnly => 'true'}
          %div{layout: "column"}
            %md-input-container{flex: ""}
              %label Departamento
              %input{"ng-model" => "purchase.model.seller.state.name",  :name => 'provider_name', :readOnly => 'true'}
            %md-input-container{flex: ""}
              %label Ciudad
              %input{"ng-model" => "purchase.model.seller.city.name",  :name => 'provider_name', :readOnly => 'true'}
            %div.progress-fieldset{:layout => "row", "layout-align" => "space-around", "layout-sm" => "column","ng-if"=>"clientVerifiedProgress"}
              %md-progress-circular{"md-mode" => "indeterminate"}
      
        /%a.md-button.create-provider-button{'ng-click' => "createProvider()"}  crear proveedor
      ////-----------------------Mineral section ------------------------------////////
      %div.md-padding.origin-certificate-padding{flex: "30"}
        %label.md-subtitle
          Mineral
        %hr{ "width"=>"95%", "color"=>"#E3CD48", "align"=>"left"}
        %div.fieldset-inputs
          %div{layout: "column"}
            %md-input-container{flex: ""}
              %label Mineral Extraido y Vendido
              %input{"ng-model" => "goldBatch.model.mineral_type", "type" => "text", :readOnly=>"true"}

            %md-input-container{flex: ""}
              %label Cantidad
              %input{"ng-model" => "goldBatch.model.total_fine_grams", "type" => "text", :name => 'amount', :readOnly=>"true"}

            %md-input-container{flex: ""}
              %label Unidad de Medida
              %input{"ng-model" => "measureUnit", "type" => "text", :readOnly=>"true"}

    ////-----------------------Buyer section ------------------------------////////
    %section.md-padding{flex: "", layout: "row"}
      %div.origin-certificate-padding{flex: ""}
        %label.md-subtitle
          Informacion del Comprador del Mineral
        %hr{ "width"=>"100%", "color"=>"#E3CD48", "align"=>"left"}
        %div.fieldset-inputs
          %div{layout: "row"}
            %md-input-container{"flex"=>""}
              %label Nombres y Apellidos o Razon Social
              %input{"readonly" => "true", "ng-model" => "buyer_data.company_name", "type" => "text"}

            %md-input-container{"flex"=>""}
              %label Tipo de Documento
              %input{:readonly => "true", "ng-model" => "buyer_data.document_type", "type" => "text"}

            %md-input-container{"flex"=>""}
              %label Numero de Indentificacion
              %input{"readonly" => "true", "ng-model" => "buyer_data.nit", "type" => "text"}
    %section.signature-section.md-padding{flex: '', layout: 'column'}
      %div{flex: '', layout: 'row', "layout-align"=>"center center"}
        %textarea{ cols: "50", rows: "4", id: "txtDisplay", style: 'visibility-fake: hidden;'}
      %div{flex: '', layout: 'row', "layout-align"=>"center center"}
        #imageBox{}
      %div.signature-text-wrapper{flex: '', layout: 'row', "layout-align"=>"center center"}
        .signature-text
          Firma

    .wizard-buttons.md-padding.autocomplete{layout: "row", "layout-align"=>"center clientVerifiedProgressºqa1 "}
      %md-button.btn-next.md-raised.md-primary{  flex: "20", 'ng-click' => 'restartSessionDevice()'} Iniciar Dispositivo
      %md-button.btn-next.md-raised.md-primary{ flex: "20", 'ng-click' => 'captureSignature()'} Firmar
      %md-button.btn-cancel{ flex: "20", "ui-sref"=>"new_purchase.step2"} Volver
      %md-button.btn-next.md-raised.md-primary{ "ng-disabled" => 'originCertificateForm.$invalid', "ng-click" => "saveSignature(); saveState()", "ui-sref"=>"new_purchase.step4"} Continuar
        %md-icon{ "md-svg-icon"=>"/img/icons/landing/flecha-negra.svg" }
