%form.purchase-form{:name => "purchaseForm", "novalidate" => "novalidate"}
  %section{layout: "row"}
    %div.md-padding{flex: ""}
      // ---Purchase Type
      %fieldset.standard.tr-fieldset{:layout => "column"}
        %legend
          %h3
            Por favor leea con atención la aceptación del Acuerdo.
        %div.fieldset-inputs
          %md-input-container{class: "md-block", flex: '100' }
            %textarea{:rows => '7', :readOnly => 'true',
                      "ng-model" => "purchase.model.buy_agreetment",
                      :name => 'buy_agreetment'}
          %div{layout: "row"}
            %md-input-container{flex: ""}
              %md-checkbox{ :ng-model => 'chkAgreetmentActive',
                            :required => ''} Acepto los términos y condiciones


      %section.signature-section.md-padding{flex: '', layout: 'column'}
        %div{flex: '', layout: 'row', "layout-align"=>"center center"}
          %textarea{ cols: "50", rows: "4", id: "txtDisplay", style: 'visibility-fake: hidden;'}
        %div{flex: '', layout: 'row', "layout-align"=>"center center"}
          #imageBox{  flex: ''}
        %div.signature-text-wrapper{flex: '', layout: 'row', "layout-align"=>"center center"}
          .signature-text
            Firma

      .wizard-buttons.md-padding.autocomplete{layout: "row", "layout-align"=>"end end"}
        %md-button.btn-cancel{  flex: "20", 'ng-click' => 'restartSessionDevice()'} Iniciar Dispositivo
        %md-button.btn-cancel{ flex: "20", 'ng-click' => 'captureSignature()'} Firmar

  .wizard-buttons{:layout => 'row', "class"=>"md-padding autocomplete", "layout-align"=>"end end"}
    %md-button.btn-save.md-button{ flex: "20",
                                   "ng-show" => "handlerContinue()",
                                   "ui-sref"=> "new_purchase.step2",
                                   "ng-click" => "saveState()"} Continuar

