//---------------------- Purchase TAB ---------------------------------------
%form{:name => "purchase-form"}
  %section
    .seller
      %md-subheader
        %span Pesos
      .row{'layout' => 'row'}
        .gold-amount{'flex' => ''}
          %md-input-container
            %label Cantidad de Oro (segun el tipo de medida seleccionado)
            %input{"ng-model" => "goldBatch.model.grams"}
      .row{'layout' => 'row'}
        .convertion-section{'flex' => '50'}
          %table
            %thead
              %tr.md-table-headers-row
                %th.md-table-header
                  Medida
                %th.md-table-header
                  Cantidad
                %th.md-table-header
                  Precio por Unidad
            %tbody
              %tr
                %td
                  %span Castellano(s)
                %td
                  %md-input-container
                    %label {{goldBatch.model.castellanos}}
                    %input{"ng-model" => "goldBatch.model.castellanos"}
                %td
                  %span {{goldBatch.castellanoUnitPrice}}
              %tr
                %td
                  %span Onzas
                %td
                  %md-input-container
                    %label
                    %input{"ng-model" => "goldBatch.model.ozs"}
                %td
                  %span {{goldBatch.ozUnitPrice}}
              %tr
                %td
                  %span Tomines
                %td
                  %md-input-container
                    %label
                    %input{"ng-model" => "goldBatch.model.tomines"}
                %td
                  %span {{goldBatch.tominUnitPrice}}
              %tr
                %td
                  %span Riales
                %td
                  %md-input-container
                    %label
                    %input{"ng-model" => "goldBatch.model.riales"}
                %td
                  %span {{goldBatch.rialUnitPrice}}
        .select-law{'flex' => '50'}
          // TODO: query for laws to some X service
          %md-select{'placeholder' => 'Seleccione un el tipo de ley', 'ng-model' => 'purchase.golg.law'}
            %md-option{'value'=> '0'} Law 1
            %md-option{'value'=> '1'} Law 2
            %md-option{'value'=> '3'} Law 3
      .row{'layout' => 'row'}
        .price{'flex' => '80'}
          %md-input-container
            %label
            $ {{totalGrams}}
      .button-actions{'flex' => '20'}
        %md-button{flex: "50", "ui-sref"=>"new_purchase.step3", "ng-click" => "saveState()"} Previzualizar
  .wizard-buttons{layout: "row"}
    %md-button{flex: "33", "ui-sref"=>"new_purchase.step1", "ng-click" => ""} Anterior
    %md-button{flex: "33", "ui-sref"=>"new_purchase.step2", "ng-click" => "saveState()"} Siguiente
    %md-button{flex: "33", "ui-sref"=>"new_purchase.step3", "ng-click" => "saveState()"} Previsualizar


