//---------------------- Purchase TAB ---------------------------------------
%form{:name => "purchase-form"}
  %section
    .seller
      %md-subheader
        %span Ingresar Pesos
      .row{'layout' => 'row'}
        .gold-amount{'flex' => ''}
          %md-input-container
            %span Valor de un gramo peso colombiano (COP)
            %span ${{gramUnitPrice}}
      .row{'layout' => 'row'}
        .convertion-section{'flex' => '70'}
          %table
            %thead
              %tr.md-table-headers-row
                %th.md-table-header
                  Medida
                %th.md-table-header
                  Cantidad
                %th.md-table-header
                  Precio por Unidad
            %tbody
              %tr
                %td
                  %span Castellano(s)
                %td
                  %md-input-container
                    %label
                    %input{"ng-model" => "goldBatch.model.castellanos"}
                %td
                  %span {{goldBatch.castellanoUnitPrice  | number:2}}
              %tr
                %td
                  %span Onza(s)
                %td
                  %md-input-container
                    %label
                    %input{"ng-model" => "goldBatch.model.ozs"}
                %td
                  %span {{goldBatch.ozUnitPrice | number:2}}
              %tr
                %td
                  %span Tomine(s)
                %td
                  %md-input-container
                    %label
                    %input{"ng-model" => "goldBatch.model.tomines"}
                %td
                  %span {{goldBatch.tominUnitPrice | number:2}}
              %tr
                %td
                  %span Rial(es)
                %td
                  %md-input-container
                    %label
                    %input{"ng-model" => "goldBatch.model.riales"}
                %td
                  %span {{goldBatch.rialUnitPrice | number:2}}
        .select-law{'flex' => '30'}
          // TODO: query for laws to some X service
          %md-select{'placeholder' => 'Seleccione un el tipo de ley', 'ng-model' => 'purchase.gold.law'}
            %md-option{'value'=> '0'} 24 quilates
            %md-option{'value'=> '1'} 22 quilates
            %md-option{'value'=> '3'} 21 quilates
            %md-option{'value'=> '4'} 18 quilates
            %md-option{'value'=> '5'} 14 quilates
      .row{'layout' => 'row'}
        .grams{'flex' => '40'}
          %md-input-container
            %label Cantidad en Gramos
            {{ goldBatch.model.grams | number:2}}
        .grams{'flex' => '40'}
          %md-input-container
            %label Precio
            $ {{ purchase.model.price | number:2}}
  .wizard-buttons{layout: "row"}
    %md-button{flex: "33", "ui-sref"=>"new_purchase.step1", "ng-click" => ""} Anterior
    %md-button{flex: "33", "ui-sref"=>"new_purchase.step2", "ng-click" => "create()"} PDF
    %md-button{flex: "33", "ui-sref"=>"new_purchase.step3", "ng-click" => "saveState()"} Previsualizar


