//---------------------- Provider and Origin Certificate TAB ---------------------------------------
%form{:name => "purchase-form"}
  %section
    .seller
      %md-subheader
        %span Datos del Proveedor
      .row{'layout' => 'row'}
        %md-item-content
        / .main-fab
        /   %a{"ui-sref" => "create_provider"}
        /     %md-button.md-fab.md-accent{"aria-label" => "New", 'md-ripple-size' => "partial"} +
      .row{'layout' => 'row'}
        .select-provider{'flex' => ''}
          // TODO: query to the endpoint for all provider ids and names (maybe use Graper Transformer)
          %md-select{'placeholder' => 'Seleccione un proveedor', 'ng-model' => 'purchase.model.provider_id'}
            %md-option{'value'=> '0'} Proveedor numero 0
            %md-option{'value'=> '1'} Proveedor numero 1
            %md-option{'value'=> '3'} Proveedor numero 2

        .photo{'flex' => ''}
          %img.face.cam{'alt'=>'Foto Proveedor', 'ng-src' => "{{purchase.model.provider_photo_file}}"}
          %a{'ng-href' => "#scanner"}
            %md-button.md-fab.md-accent{"aria-label" => "Photo", 'md-ripple-size' => "partial"} +
              %md-tooltip{"md-visible" => "demo.showTooltip"}
                Agregar Foto
                %span.ion-android-checkmark-circle
  %md-divider.margined
  %section
    .origin-certificate
      %md-subheader
        %span Certificado de Origen
      .row{'layout' => 'row'}
        .oc-number{'flex' => 50}
          %md-input-container.md-input-has-value
            %label Numero Certificado de Origen {{purchase.model.origin_certificate_sequence}}
            %input{"ng-model" => "purchase.model.origin_certificate_sequence"}
        .oc-number{'layout' => 'row', 'layout-align'=>'end center'}
          %span
            {{purchase.model.origin_certificate_file[0].name}}
      .row{'layout' => 'row', 'layout-align'=>'end center'}
        .upload-oc
          .button-action.md-padding
            %md-button.md-flat.margined{'ng-file-select' => '', 'ng-model' => 'purchase.model.origin_certificate_file'}
              %md-icon{"md-svg-icon"=>"file:file_upload"}
              Subir Certificado
  .wizard-buttons{layout: "row"}
    %md-button{flex: "33", "ui-sref"=>"new_purchase.step1", "ng-click" => ""} Anterior
    %md-button{flex: "33", "ui-sref"=>"new_purchase.step2", "ng-click" => "saveState()"} Siguiente
