%h2
  Nueva Compra

%p
  Para seguir realizando la compra se debe verificar los datos del productor y tomar una fotografía (haz click sobre la imagen para tomar la foto).


%form.purchase-form{:name => "purchaseForm", "novalidate" => "novalidate"}
  %section{layout: "row"}
    // ---------------------- seller info ------------------- ///
    %div{flex: ""}
      .md-subtitle
        Datos del proveedor
      %div.fieldset-inputs
        %div{layout: "row", :ng-if => "purchase.model.type == 'trazoro'"}
          %md-input-container{flex: ''}
            %label Numero de codigo de barras de la Venta
            %input{"ng-model" => "code", :name => 'seller_name'}
          %md-input-container{flex: 30}
            %a.md-button.md-raised.md-primary.find-seller-button{:ng-click =>"searchsellerByCode(code)"}  Buscar
        %div{layout: "row"}
          %div.input-containers-false{flex: ""}
            %label.label-container-false
              Nombre Proveedor
            %p.text-container-false
              {{purchase.model.seller.name}}

          %div.input-containers-false{flex: ""}
            %label.label-container-false
              Nombre Proveedor
            %p.text-container-false
              {{purchase.model.seller.company_name}}

        %div{layout: "row"}
          / %md-input-container{flex: "20"}
          /   %label tipo doc.
          /   %input{"ng-model" => "purchase.model.seller.document_type", :required => "", :name => 'seller_document_type', :readOnly => 'true'}
          %div.input-containers-false{flex: ""}
            %label.label-container-false
              Número de documento
            %p.text-container-false
              {{purchase.model.seller.document_number}}

        %div{layout: "row"}
          %div.input-containers-false{flex: ""}
            %label.label-container-false
              Registro Rucom
            %p.text-container-false
              {{purchase.model.seller.rucom.rucom_number}}

          %div{layout: "row"}
          %div.input-containers-false{flex: ""}
            %label.label-container-false
              Registro Rucom
            %p.text-container-false
              {{purchase.model.seller.rucom.status}}

        %div.progress-fieldset{:layout => "row", "layout-align" => "space-around", "layout-sm" => "column","ng-if"=>"clientVerifiedProgress"}
          %md-progress-circular{"md-mode" => "indeterminate"}

    .photo-container.step1{flex: "40"}
      .md-subtitle
        Fotografía de proveedor
      // ---------------------- seller photo ------------------- //
      %fieldset.standard.tr-fieldset.photo-fieldset
        %md-input-container.not-border.row
          .photo
            %a.image-container{'ng-href' => "#camera",'ng-click' => "setCamaraFileType(1)"}
              %img.face.cam.step1{'alt'=>'Foto Proveedor', 'ng-src' => "{{purchase.model.seller_picture || 'img/default-user.png' }}","ng-model" => "purchase.model.seller_picture",  "check-image" => '', required: ""}
              /%md-tooltip{'md-direction'=> 'right'}
              /  Tomar Foto
            %p Capturar foto

  .wizard-buttons{:layout => 'row', , "class"=>"md-padding autocomplete",  "layout-align"=>"center"}
    %md-button.btn-back-black{  "ui-sref"=>"new_purchase.step0", "ng-click" => ""}
      %md-icon{ "md-svg-icon"=>"/img/icons/purchase/back-flecha-yellow.svg" }
      volver
    %md-button.btn-next.md-raised.md-primary{ "ng-disabled" => 'purchaseForm.$invalid', "ui-sref"=>"new_purchase.step2", "ng-click" => "saveState()"} Continuar
      %md-icon{ "md-svg-icon"=>"/img/icons/landing/flecha-negra.svg" }
