//---------------------- Purchase TAB ---------------------------------------
%form{:name => "purchase-form"}
  %section{"class"=>"md-padding autocomplete"}
    .seller
      %md-subheader
        %span Ingresar Pesos
      .row{:layout => "", "layout-sm" => "column"}
        .select-law{'flex' => ''}
          // TODO: query for laws to some X service
          %h5 Ley
          %md-select{'placeholder' => 'Seleccione un el tipo de ley', 'ng-model' => 'purchase.model.law'}
            %md-option{'value'=> '100'} 100
            %md-option{'value'=> '200'} 200
            %md-option{'value'=> '300'} 300
            %md-option{'value'=> '400'} 400
            %md-option{'value'=> '500'} 500
      .row{:layout => "", "layout-sm" => "column"}
        .convertion-section{'flex' => ''}
          %h5 Medidas
          %table.md-table
            %thead
              %tr.md-table-headers-row
                %th.md-table-header
                  Medida
                %th.md-table-header
                  Cantidad
                %th.md-table-header
                  Precio por Unidad
                %th.md-table-header
                  Total gramos
                %th.md-table-header
                  Precio Total
            %tbody
              %tr
                %td.md-table-td-more
                  %p Gramo(s)
                %td.md-table-td-more
                  %md-input-container
                    %label
                    %input{"ng-model" => "goldBatch.model.grams"}
                %td.md-table-td-more
                  %md-input-container
                    $ {{ goldBatch.gramUnitPrice | number:2}}
                %td.md-table-td-more
                  %md-input-container
                    {{ goldBatch.model.totalGrams | number:2}}
                %td.md-table-td-more
                  %md-input-container
                    $ {{ purchase.model.price | number:2}}
              %tr
                %td.md-table-td-more
                  Castellano(s)
                %td.md-table-td-more
                  %md-input-container
                    %label
                    %input{"ng-model" => "goldBatch.model.castellanos"}
                %td.md-table-td-more{colspan: 3}
                  %span {{goldBatch.castellanoUnitPrice  | number:2}}
              %tr
                %td.md-table-td-more
                  Onza(s)
                %td.md-table-td-more
                  %md-input-container
                    %label
                    %input{"ng-model" => "goldBatch.model.ozs"}
                %td.md-table-td-more{colspan: 3}
                  %span {{goldBatch.ozUnitPrice | number:2}}
              %tr
                %td.md-table-td-more
                  Tomine(s)
                %td.md-table-td-more
                  %md-input-container
                    %label
                    %input{"ng-model" => "goldBatch.model.tomines"}
                %td.md-table-td-more{colspan: 3}
                  %span {{goldBatch.tominUnitPrice | number:2}}
              %tr
                %td.md-table-td-more
                  Rial(es)
                %td.md-table-td-more
                  %md-input-container
                    %label
                    %input{"ng-model" => "goldBatch.model.riales"}
                %td.md-table-td-more{colspan: 3}
                  %span {{goldBatch.rialUnitPrice | number:2}}
  .wizard-buttons{layout: "row", "class"=>"md-padding autocomplete"}
    %md-button.md-primary.md-hue-2{flex: "50", "ui-sref"=>"new_purchase.step1", "ng-click" => ""} Datos Proveedor Y Certificado de Compra
    %md-button.md-primary.md-hue-2{flex: "50", "ui-sref"=>"new_purchase.step3", "ng-click" => "saveState()"} Previsualizar



