%div{:layout => "column", "ng-hide"=>"showLoading"}
  .general-container
    %h2 Reporte de Compra Trazoro
    %md-content{"layout"=>"row"}
      %md-content{"flex"=> "", "class"=>"", "layout"=>"column"}
        %div.md-subtitle{"flex"=> ""}
          COMPRADOR

        %div.input-containers-false{flex: ""}
          %label.label-container-false
            Razón Social
          %p.text-container-false
            {{buyer_data.company_name}}

        %div.input-containers-false{flex: ""}
          %label.label-container-false
            Nit
          %p.text-container-false
            {{buyer_data.nit}}

        %div.input-containers-false{flex: ""}
          %label.label-container-false
            Rucom
          %p.text-container-false
            {{buyer_data.rucom_number}}

        %div.input-containers-false{flex: ""}
          %label.label-container-false
            Nombre de usuario
          %p.text-container-false
            {{buyer_data.first_name}} {{buyer_data.last_name}}

        %div.input-containers-false{flex: ""}
          %label.label-container-false
            Sucursal
          %p.text-container-false
            {{buyer_data.office}}

        %div.input-containers-false{flex: ""}
          %label.label-container-false
            Direccion
          %p.text-container-false
            {{buyer_data.address}}

        %div.input-containers-false{flex: ""}
          %label.label-container-false
            Telefono
          %p.text-container-false
            {{buyer_data.phone}}

      %md-content{"flex"=> "30", "class"=>"", "layout"=>"row"}
        %md-content{"flex"=> "", "class"=>"", "layout"=>"column"}
          %div.md-subtitle{"flex"=> ""}
            PROVEEDOR

          %div.input-containers-false{flex: ""}
            %label.label-container-false
              Razón Social
            %p.text-container-false
              {{purchase.model.seller.company_name}}

          %div.input-containers-false{flex: ""}
            %label.label-container-false
              Nit
            %p.text-container-false
              {{purchase.model.seller.nit}}

          %div.input-containers-false{flex: ""}
            %label.label-container-false
              Rucom
            %p.text-container-false
              {{purchase.model.seller.rucom.rucom_number}}

          %div.input-containers-false{flex: ""}
            %label.label-container-false
              Nombre de usuario
            %p.text-container-false
              {{purchase.model.seller.name}}

          %div.input-containers-false{flex: ""}
            %label.label-container-false
              Cedula
            %p.text-container-false
              {{purchase.model.seller.document_number}}

          %div.input-containers-false{flex: ""}
            %label.label-container-false
              Direccion
            %p.text-container-false
              {{purchase.model.seller.address}}

          %div.input-containers-false{flex: ""}
            %label.label-container-false
              Telefono
            %p.text-container-false
              {{purchase.model.seller.phone_number}}


      %md-content{"flex"=> "40", "class"=>"", "layout"=>"row"}
        %md-content{"flex"=> "", "class"=>"", "layout"=>"column", "layout-align" => "center center"}
          %div.md-subtitle{"flex"=> ""}
            FOTO DEL PROVEEDOR
          .image.row
            .photo
              %img.face.cam{'alt'=>'Foto Proveedor', 'ng-src' => "{{purchase.model.seller_picture}}"}

          .reference-code{'flex' => ''}
            %div{"ng-bind-html"=>"barcode_html"}
              {{purchase.model.code}}

    %md-content{"class"=>"", "layout"=>"row"}
      %h3
        DATOS DE LA COMPRA
    %md-content{"class"=>"", "layout"=>"row"}
      .select-law{'flex' => ''}
        %p.md-subtitle
          Ley
        %p
          {{goldBatch.model.grade}}
      .select-law{'flex' => ''}
        %p.md-subtitle
          Merma
        %p
          {{purchase.model.decrease}}%
      .select-law{'flex' => ''}
        %p.md-subtitle
          Mineral Comprado
        %p
          {{goldBatch.model.mineral_type}}
    %md-content{"class"=>"", "layout"=>"column", "layout-align"=>"center start"}
      %h3
        PESO COMPRADO
    %md-content{"class"=>"", "layout"=>"row", 'layout-align' => 'center'}
      .convertion-section{'flex' => ''}
        .md-subtitle Medidas
        %table.md-table
          %thead
            %tr.md-table-headers-row
              %th.md-table-header
                Medida En Bruto
              %th.md-table-header
                Precio Unitario
              %th.md-table-header
                Gramos Brutos
              %th.md-table-header
                Gramos Finos
              %th.md-table-header
                Precio Total
          %tbody
            %tr.medidas
              %td.md-table-td-more
                {{ goldBatch.model.grams }} gramo(s)
              %td.md-table-td-more
                ${{ gramsUnitPrice | number:3 }}
              %td.md-table-td-more
                {{ grams | number:3 }}
              %td.md-table-td-more
                {{ gramsFineGrams | number:3 }}
              %td.md-table-td-more
                {{ subtotalGrams | number:3}}
            %tr.medidas
              %td.md-table-td-more{colspan: 1}
                {{ goldBatch.model.castellanos}} Castellano(s)
              %td.md-table-td-more
                ${{ castellanosUnitPrice | number:3 }}
              %td.md-table-td-more
                {{ castellanosToGrams | number:3 }}
              %td.md-table-td-more
                {{ castellanosFineGrams | number:3 }}
              %td.md-table-td-more
                {{ subtotalCastellano | number:3}}
            %tr.medidas
              %td.md-table-td-more{colspan: 1}
                {{ goldBatch.model.tomines}} tomine(s)
              %td.md-table-td-more
                ${{ tominesUnitPrice | number:3 }}
              %td.md-table-td-more
                {{ tominesToGrams | number:3 }}
              %td.md-table-td-more
                {{ tominesFineGrams | number:3 }}
              %td.md-table-td-more
                {{ subtotalTomines | number:3}}
            %tr.medidas
              %td.md-table-td-more{colspan: 1}
                {{ goldBatch.model.reales }} real(es)
              %td.md-table-td-more
                ${{ realesUnitPrice | number:3 }}
              %td.md-table-td-more
                {{ realesToGrams | number:3 }}
              %td.md-table-td-more
                {{ realesFineGrams | number:3 }}
              %td.md-table-td-more
                {{ subtotalReales | number:3}}
            %tr.medidas
              %td.md-table-td-more{colspan: 1}
                {{ goldBatch.model.granos }} grano(s)
              %td.md-table-td-more
                ${{ granosUnitPrice | number:3}}
              %td.md-table-td-more
                {{ granosToGrams | number:3}}
              %td.md-table-td-more
                {{ granosFineGrams | number:3}}
              %td.md-table-td-more
                {{ subtotalGranos | number:3}}
            %tr
              %td.md-table-td-more{colspan: 2}
                %h3 TOTAL:
              %td.md-table-td-more
                %h2
                  {{goldBatch.model.total_grams| number:3}}
              %td.md-table-td-more{"layout-align"=>"end end"}
                %h2
                  {{goldBatch.model.total_fine_grams| number:3}}
              %td.md-table-td-more
                %h2
                  ${{ purchase.model.price | number:3}}
    .error-message{layout: "row", "class"=>"md-padding autocomplete",  "layout-align"=>"end end"}
      %p.red-text{:ng-if => "(current_user.available_credits < goldBatch.model.total_fine_grams) && purchase.model.type == 'seller'"}
        El usario no tiene suficientes creditos para realizar esta compra!
    .wizard-buttons{layout: "row", "class"=>"md-padding autocomplete",  "layout-align"=>"center"}
      %md-button.btn-back-black{ "ui-sref"=>"new_purchase.step3"}
        %md-icon{ "md-svg-icon"=>"/img/icons/purchase/back-flecha-yellow.svg" }
        Volver
      %md-button.btn-next.md-raised.md-primary{ "ng-disabled" => "(current_user.available_credits < goldBatch.model.total_fine_grams) && purchase.model.type == 'seller'", flex: "20", "ng-click" => "showConfirm($event)"}
        Realizar la Compra

%tr-loading-view.wait-for{"ng-show"=>"showLoading","mode"=>"loadingMode","progress"=>"loadingProgress", "message"=>"loadingMessage"}
