%md-dialog.user-type-dialog{"aria-label" => "Mango (Fruit)"}
  %form
    %md-dialog-content.sticky-container
      /%md-subheader.md-sticky-no-effect 
      %h3 Seleccione el tipo de cliente que va a registrar
      %md-button.btn-user-type{"ng-click" => "answer('Joyero')"} 1. Joyero
      %md-button.btn-user-type{"ng-click" => "answer('Comprador Ocasional')"} 2. Comprador Ocasional 
      %md-button.btn-user-type{"ng-click" => "answer('Exportacion')"} 3. Exportacion
      %md-button.btn-user-type{"ng-click" => "answer('Comercializadores')"} 4. Comercializadores
      %br
      %md-button.md-primary{"ng-click" => "cancel()"} Cancelar

