%md-dialog
  %md-content.sticky-container
    %md-subheader.md-sticky-no-effect.md-toolbar.md-primary Por favor Seleccione los creditos que desea comprar
    .dialog-content
      %form{:name => "creditBillingForm","ng-submit"=> "confirmCreditBilling()"}
        %md-content.md-padding
          %md-select.credits_select_bar{"ng-model" => "unit", :placeholder => "Creditos Solicitados"}
            %md-option{:value => "1000"} 1000
            %md-option{:value => "2000"} 2000
            %md-option{:value => "3000"} 3000
            %md-option{:value => "4000"} 4000
            %md-option{:value => "5000"} 5000
            %md-option{:value => "6000"} 6000
            %md-option{:value => "7000"} 7000
            %md-option{:value => "8000"} 8000
            %md-option{:value => "9000"} 9000
            %md-option{:value => "10000"} 10000
          %br
          %md-button.login-button.md-raised.md-default-theme.credits_buy_button{type: "submit"}
            ok

