%md-content.dashboard
  %div{layout: "row", "layout-sm" => "column"}
    %md-card.user-card{flex:"full"}
      %md-subheader.md-primary
        %span Información de Usuario
      %md-divider{inset: ""}
      %div{layout: "row", "layout-sm" => "column"}
        %md-item{flex: "50"}
          %md-item-content
            .md-tile-content
              %span
                %strong Nombre:
                {{currentUser.first_name}} {{currentUser.last_name}}
        %md-item{flex: "50"}
          %md-item-content
            .md-tile-content
              %span
                %strong Email:
                {{currentUser.email}}

      %md-divider{inset: ""}
      %md-item
        %md-item-content
          .md-tile-content
            %span
              %strong Numero de Documento:
              {{currentUser.document_number}}

    %md-card.credit-card{flex:"30", "flex-sm"=>"100"}
      %md-subheader.md-primary
        %span Crédito Restante
      %md-divider{inset: ""}
      %md-item
        %md-item-content
          .md-tile-content.credit-value
            %span ${{currentUser.available_credits}}
            %br
            %md-button.md-raised.md-primary.bt-buy-credits{"ng-click"=>"showCreditBillingForm($event)"}
              Comprar Créditos

-#  %h3 Options
-#  %section.dashboard-buttons{:layout => "row", "layout-align" => "center center", "layout-sm" => "column"}
-#    %md-button.md-raised.md-primary{"aria-label" => "Eat cake"}
-#      %span Comprar
-#    %md-button.md-raised{"aria-label" => "Use Android"}
-#      %span Inventario
-#  %section.dashboard-buttons{:layout => "row", "layout-align" => "center center", "layout-sm" => "column"}
-#    %md-button.md-raised.md-warn{"aria-label" => "Comment"}
-#      %span Provedores
-#    %md-button.md-raised.md-hue-1.md-accent{"aria-label" => "Profile"}
-#      %span Reportes
