/------------------- DASHBOARD VIEW -------------------/
%div{"ng-hide"=>"showLoading"}
.general-container
  %div{layout: "row", "layout-margin", "layout-fill", "layout-padding"}
    %div{layout: "column", flex: "30"}
      .dashboard-user-info{ }
        %img.user-photo{alt:"user-photo", "ng-src" => "{{currentUser.photo_file.thumb.url || 'img/default-user.png'}}"}
      .dashboard-user-utilities{layout: "column"}
        %md-button{}
          %md-icon{"md-svg-icon"=>"editor:insert_drive_file"}
          Facturación y documento
        %md-button{}
          %md-icon{"md-svg-icon"=>"editor:mode_edit"}
          Editar información
        %md-button{"ng-controller"=>"SidebarCtrl", "aria-label" => "providers","ng-click"=>"logout()", "target"=>"_blank"}
          %md-icon{"md-svg-icon"=>"action:exit_to_app"}
          Cerrar Sesión
    %div{layout: "column", flex: "50"}
      .dashboard-user-utilities
        %h2{}
          BIENVENIDO
        %h2.username{}
          {{currentUser.first_name}} {{currentUser.last_name}}

        .md-subtitle
          Comprador

        .user-info
          %b.title-dash Documento: 
          %span.content-dash{}
            {{currentUser.document_number}}

          %br
            %b.title-dash Correo electrónico: 
          %span.content-dash
            {{currentUser.email}}

        %h4
          Servicios Adquiridos
        %hr{"width"=> "80%", "color"=>"#E3CD48","align"=>"left"}
        %md-content
          %md-list.content-dash
            .md-list-item-text.content-dash{"ng-if" => "!currentUser.trazoro_services.length"} No hay servicios trazoro
            %md-list-item{"ng-repeat" => "services in currentUser.trazoro_services"}
              .md-list-item-text
                {{services.name}}
              %md-divider{"ng-if" => "!$last"}

    .dashboard-credit-info{layout: "column", flex: "20"}
      %span.subtitle{}
        CRÉDITOS RESTANTES
        %span.num-credits{}
          {{available_credits}}
      %md-button.btn-save{"ng-click"=>"showCreditBillingForm($event)"}
        Comprar Créditos $



  / .dashboard-user-info{layout: "column", "flex" => "20" }

  /   %div
  /     %img.user-photo{alt:"user-photo", "ng-src" => "{{currentUser.photo_file.thumb.url || 'img/default-user.png'}}"}
  /   .info-container
  /     %h4
  /       Nombre:
  /       .info
  /         {{currentUser.first_name}} {{currentUser.last_name}}
  /     %h4
  /       Numero de Documento:
  /       .info
  /         {{currentUser.document_number}}
  /     %h4
  /       Email:
  /       .info
  /         {{currentUser.email}}
  / %div{}
  / %div{"ng-hide" => "!currentUser.legal_representative", layout: "column", "flex" => "20"}
  /   /.credits{}
  /   %h3
  /     %span Servicios Adquiridos
  /   %md-content
  /     %md-list
  /       %h3{"ng-if" => "!currentUser.trazoro_services.length"} No hay servicios trazoro
  /       %md-list-item.md-3-line{"ng-repeat" => "services in currentUser.trazoro_services"}
  /         .md-list-item-text
  /           %h3 {{services.name}}
  /         %md-divider{"ng-if" => "!$last"}
  / .dashboard-credit-info.md-padding{layout: "column", "flex" => "10" , "layout-align" => "start center"}
  /   /.credits
  /   %h3
  /     Creditos Restantes
  /   .value
  /     {{available_credits}}
  /   %md-button.md-raised.bt-buy-credits{"ng-click"=>"showCreditBillingForm($event)"}
  /     Comprar Créditos
  %tr-loading-view{"ng-show"=>"showLoading","mode"=>"loadingMode","progress"=>"loadingProgress", "message"=>"loadingMessage"}

-#  %h3 Options
-#  %section.dashboard-buttons{:layout => "row", "layout-align" => "center center", "layout-sm" => "column"}
-#    %md-button.md-raised.md-primary{"aria-label" => "Eat cake"}
-#      %span Comprar
-#    %md-button.md-raised{"aria-label" => "Use Android"}
-#      %span Inventario
-#  %section.dashboard-buttons{:layout => "row", "layout-align" => "center center", "layout-sm" => "column"}
-#    %md-button.md-raised.md-warn{"aria-label" => "Comment"}
-#      %span Provedores
-#    %md-button.md-raised.md-hue-1.md-accent{"aria-label" => "Profile"}
-#      %span Reportes
