%h1
  %img{:src => "/img/trazoro_icon_small.png"}
  
%md-content.md-padding.div-trazoro.gold
  %form.login-form{:name => "loginForm", "ng-submit"=> "login()","novalidation"=>""}
    .yellow-border
      %md-input-container.md-default-theme{"md-no-float" => ""}
        %input{"ng-model" => "email", :placeholder => "Email", :type => "email"}
      %md-input-container.md-default-theme{"md-no-float" => ""}
        %input.md-input{"ng-model" => "password", :placeholder => "Password", :type => "password"}
      .remember-password-form
        %a{:ng-href => "#sendtoken"} Recordar contraseña

    %md-button.login-home-button.md-raised.md-default-theme
      Iniciar Session

%md-content.md-padding.div-trazoro.gray.trazoro-padding
  .text-content
    %h1 
      %b ¿Que es Trazoro?
    %p 
      %b TrazOro 
      es una 
      %b herramienta 
      tecnológica dirigida al cumplimiento 
      %b normativo 
      y 
      %b estandarización 
      de procesos de la cadena de comercialización de los metales preciosos en Colombia.
    %p
      A través del uso de 
      %b TrazOro se garantiza la 
      %b trazabilidad total de los metales preciosos desde que son 
      %b producidos, comercializados y exportados 
      del país.   
    %p  
      La herramienta esta diseñada para que cada compra que ingresa al sistema cuente con 
      %b todos 
      los documentos y cumplan todas las condiciones establecidas en el 
      %b decreto 0276 de 2015.
    %p  
      Trazoro es un servicio de Min-Trace Colombia SAS, una empresa dedicada a proveer soluciones a diversas industrias. 
      

/ #home
/   %div{:style => "text-align:justify;"}
/     %md-content{:style => "padding: 24px;"}
/       %section
/         %md-subheader.md-primary
/           %h1 
/             %b ¿Que es Trazoro?
/         %div{:layout => "row"}
/           %div{:flex => "30"}
/             %img{:src => "/img/gold-1765_640.jpg", :style => "max-height:400px;max-width:400px;"}
/           %div{:flex => "70"}
/             %p 
/               %b TrazOro 
/               es una 
/               %b herramienta 
/               tecnológica dirigida al cumplimiento 
/               %b normativo 
/               y 
/               %b estandarización 
/               de procesos de la cadena de comercialización de los metales preciosos en Colombia.
/             %p
/               A través del uso de 
/               %b TrazOro se garantiza la 
/               %b trazabilidad total de los metales preciosos desde que son 
/               %b producidos, comercializados y exportados 
/               del país.   
/             %p  
/               La herramienta esta diseñada para que cada compra que ingresa al sistema cuente con 
/               %b todos 
/               los documentos y cumplan todas las condiciones establecidas en el 
/               %b decreto 0276 de 2015.
/             %p  
/               Trazoro es un servicio de Min-Trace Colombia SAS, una empresa dedicada a proveer soluciones a diversas industrias. 
/     %md-divider
/     %md-content{:style => "padding: 24px;"}
/       %section
/         %md-subheader.md-primary
/           %h1
/             %b Ventajas
/         %div{:layout => "row"}
/           %div{:flex => "30"}
/             %img{:src => "/img/gold-1765_640.jpg", :style => "max-height:400px;max-width:400px;"}
/           %div{:flex => "70"}
/             %p
/               %b Estandariza – 
/               El proceso de ventas para asegurar que siempre se cumpla con la totalidad de requisitos de Ley.
/             %p
/               %b Centraliza – 
/               El proceso documental cada usuario puede ver toda la documentación de cada lote transado y generar cuantas copias se necesite de la documentación
/             %p
/               %b Certifica – 
/               No permite adquirir mineral que no cumpla con todos los pasos documentales o de proveedores no inscritos y activos en el RUCOM. 
/             %p
/               %b Evita Error Humano – 
/               Cada lote que se transporta o vende es acompañado de todos sus certificados de manera organizada con copia digital en PDF generado por el sistema. 
/             %p
/               %b Seguridad – 
/               Todas las comunicaciones son encriptados – Los servidores son de primer nivel con redundancia geográfica.
/             %p
/               %b Agiliza – 
/               Ingresar un lote al inventario es tan sencillo como escanear su código de barras y tu base de datos reflejara toda la información de este lote.
/             %p
/               %b Reportes – 
/               Reportes Contables – Rucom – Regalías 
/             %p
/               %b Auditable – 
/               Al contar con una total trazabilidad las auditorias rutinarias se hacen cada vez mas transparentes.
/     %md-divider
/     %md-content{:style => "padding: 24px;"}
/       %section
/         %md-subheader.md-primary
/           %h1 
/             %b Seguridad de la Información
/         %div{:layout => "row"}
/           %div{:flex => "30"}
/             %img{:src => "/img/gold-1765_640.jpg", :style => "max-height:400px;max-width:400px;"}
/           %div{:flex => "70"}
/             %p
/               %b Todas
/               las comunicaciones entre el usuario y el servidor son 
/               %b encriptadas con protocolos 
/               %b SSL.
/             %p
/               Toda la información es alojada en la 
/               %b nube usando servidores de primer nivel de 
/               %b Microsoft Azure® 
/               garantizando una disponibilidad de la información del 
/               %b 99.99% 
/               del tiempo.
/             %p
/               Se garantiza la 
/               %b persistencia de la información por un periodo no menor a 
/               %b 10 años.
/               Toda la información almacenada es 
/               %b encriptada 
/               con los mas altos protocolos de 
/               %b seguridad 
/               y es confidencial. Gantizando así que únicamente los propietarios de la información tengan acceso a ella.
/             %p
/               Cumplimos a cabalidad con la 
/               %b Ley de Protección de Datos 1581 de 2012.
/               Estamos en proceso de implementar y certificarnos en 
/               %b ISO27001 Seguridad Informática.
/               En caso de perdida o robo del computador toda la información esta almacenada en la nube para acceso desde cualquier parte.
/     %md-divider        
/     %md-content{:style => "padding: 24px;"}
/       %section
/         %md-subheader.md-primary
/           %h1 
/             %b Qué es cumplimiento normativo
/         %div{:layout => "row"}
/           %div{:flex => "30"}
/             %img{:src => "/img/gold-1765_640.jpg", :style => "max-height:400px;max-width:400px;"}
/           %div{:flex => "70"}
/             %p El 
/               %b artículo 112 de la Ley 1450 de 2012 
/               (Plan Nacional de Desarrollo) ordena implementar medidas de control a la comercialización de minerales indicando que se debe publicar la lista de los titulares mineros así como la información de los agentes autorizados para comercializar minerales.
/               %a{:ng-href => "/Laws/Ley1450-2011.pdf"} ( Ver Ley )
/             %p A fin de reglamentar el tema, se expidió el Decreto 2637 del 17 de diciembre de 2012 que le da vida al Registro Único de Comercializadores de Minerales –RUCOM que, en últimas, busca apoyar la minería legal y controlar adecuadamente la comercialización de minerales. 
/               %a{:ng-href => "/Laws/2637-2012.pdf"} ( Ver Decreto )
/             %p
/               Decreto 0705 del 2013 
/               %a{:ng-href => "/Laws/0705-2013.pdf"} ( Ver Decreto )
/             %p
/               Decreto 035 del 2014 
/               %a{:ng-href => "/Laws/035-2014.pdf"} ( Ver Decreto )
/             %p
/               Decreto 0276 de 2015 
/               %a{:ng-href => "/Laws/0276-015.pdf"} ( Ver Decreto )    
/     %md-divider 
/     %md-content{:style => "padding: 24px;"}
/       %section
/         %md-subheader.md-primary
/           %h1 
/             %b Contacto
/         %div{:layout => "row"}
/           %div{:flex => "30"}
/             %img{:src => "/img/gold-1765_640.jpg", :style => "max-height:400px;max-width:400px;"}
/           %div{:flex => "70"}
/             %p Si estas interesado en conocer mas o ver como tu empresa puede hacer uso del servicio TrazOro envíanos un correo a 
/             %a{:href => "mailto:contacto@trazoro.co"} contacto@trazoro.co
/     