#home
  %md-toolbar.md-theme-light
    %h1.md-toolbar-tools
      %span Home
      %md-button.md-icon-button
        %md-icon{:md-svg-icon => "communication:business" , :style => "color: red;"}
  %md-content.md-padding{:style => "height: 200px;padding: 24px;"}
    %p
      Trazoro es una herramienta que permite rastrear el oro
  %md-toolbar.md-scroll-shrink
    %h1.md-toolbar-tools
      %span Sobre nosotros
      %md-button.md-icon-button
        %md-icon{:md-svg-icon => "communication:business" , :style => "color: red;"}
  %md-content.md-padding{:style => "height: 200px;padding: 24px;"}
    %p
      Trazoro es una herramienta que permite rastrear el oro
  %md-toolbar.md-scroll-shrink
    %h1.md-toolbar-tools
      %span Nuestros servicios
      %md-button.md-icon-button
        %md-icon{:md-svg-icon => "communication:business" , :style => "color: red;"}
  %md-content.md-padding{:style => "height: 200px;padding: 24px;"}
    %p
      Servicio A
    %p
      Servicio B
    %p
      Servicio C