%md-dialog
  %md-content.sticky-container
    %md-subheader.md-sticky-no-effect.md-toolbar.md-primary 
      %h2
        %strong
          Gramos disponibles: 
          {{total_grams}}
    .dialog-inventory-form
      %form{:name => "gramsForm", "ng-submit"=>"submit()"}

        %md-select{"ng-model" => "selected_grams", :placeholder => "Gramos"}
          .option{"ng-repeat"=> "option in gram_options"}
            %md-option{:value => "{{option}}"} {{option}}
        %h4
          %strong
            Gramos restantes:
          {{total_grams-selected_grams}}
        %md-button.md-raised{type:"submit"} Ok

/        %md-input-container{"md-no-float"=>""}
/          %input{ "type" => "number", "ng-model" => "grams", "name"=>"grams" , "min"=> "0.1", "max"=> "{{pickedItem.inventory_remaining_amount}}" , "required"=>"" ,"step"=>"any", "placeholder"=>"Gramos seleccionados"}
/          %div{"ng-messages" => "gramsForm.grams.$error"}
/            %div{"ng-message" => "min"} Debe escojer una cantidad mayor a 0
/            %div{"ng-message" => "max"} La cantidad seleccionada excede la disponible
/            %div{"ng-message" => "number"} Formato invalido

