%md-dialog
  %md-content.sticky-container
    .dialog-inventory-form
      %form{:name => "gramsForm", "ng-submit"=>"gramsForm.$valid && submit()"}
        /%md-select{"ng-model" => "selected_grams", :placeholder => "Seleccione una cantidad","required"=>"", "name"=>"selected_grams"}
        /  .option{"ng-repeat"=> "option in gram_options"}
        /    %md-option{:value => "{{option}}"} {{option}}
        
        %md-input-container{"md-no-float"=>""}
          %label Gramos Seleccionados, Maximo {{total_grams}}
          %input{ "type" => "number", "ng-model" => "selected_grams", "name"=>"selected_grams" , "min"=> "1", "max"=> "{{pickedItem.inventory_remaining_amount}}" , "required"=>"" ,"step"=>"any","ng-keypress"=>"calculate_remaining()"}
          %div{"ng-messages" => "gramsForm.selected_grams.$error"}
            %div{"ng-message" => "min"} Debe escojer una cantidad mayor a 0
            %div{"ng-message" => "max"} La cantidad seleccionada excede la disponible
            %div{"ng-message" => "number"} Formato invalido
        %md-input-container{"md-no-float"=>""}
          %label Gramos Restantes
          %input{ "type"=>"number" , "ng-model"=>"remaining_amount" , "min"=> "1", "name"=>"remaining_amount","required"=>"","step"=>"any","ng-disabled"=>"true"}
          %div{"ng-messages" => "gramsForm.remaining_amount.$error"}
            %div{"ng-message" => "min"} Solo puede dejar 1 gr restante
           
        %md-button.md-raised{type:"submit"} Ok
    
        
