/--------------- NAVBAR ----------------------------/
%md-content.md-padding.div-trazoro.gold.navigation
  .side-button-options{"ng-controller"=>"SidebarCtrl"}
    %md-button{"ng-click" => "toggleLeft()","aria-label"=>"sidebar-button"}
      %md-icon{"md-svg-icon"=>"action:reorder"}
  %section.top-nav-buttons{:layout => "row", "layout-align" => "center center", "layout-sm" => "column"}
    .btn-cont
      %md-button.md-fab.top-nav-button{"aria-label" => "dashboard","ng-class"=>"getNavigationClass('dashboard')","ui-sref" => "dashboard"}
        %md-icon{"md-svg-icon"=>"action:dashboard"}
      %h6 Dashboard
    .btn-cont
      %md-button.md-fab.top-nav-button{"aria-label" => "purchases","ng-class"=>"getNavigationClass('new_purchase')","ui-sref" => "new_purchase.step1"}
        %md-icon{"md-svg-icon"=>"action:add_shopping_cart"}
      %h6 Comprar
    .btn-cont
      %md-button.md-fab.top-nav-button{"aria-label" => "origin_certificates","ng-class"=>"getNavigationClass('new_origin_certificate')","ui-sref" => "new_origin_certificate.barequero_chatarrero"}
        %md-icon{"md-svg-icon"=>"action:pageview"}
      %h6 Certificados de Origen
    .btn-cont
      %md-button.md-fab.top-nav-button{"aria-label" => "inventory","ng-class"=>"getNavigationClass('index_inventory')","ui-sref" => "index_inventory"}
        %md-icon{"md-svg-icon"=>"action:assignment"}
      %h6 Inventario
    .btn-cont
      %md-button.md-fab.top-nav-button{"aria-label" => "clients","ng-class"=>"getNavigationClass('clients')","ui-sref" => "clients"}
        %md-icon{"md-svg-icon"=>"social:people_outline"}
      %h6 Clientes
    .btn-cont
      %md-button.md-fab.top-nav-button{"aria-label" => "providers","ng-class"=>"getNavigationClass('index_external_user')","ui-sref" => "index_external_user"}
        %md-icon{"md-svg-icon"=>"social:group"}
      %h6 Proovedores
.breadcrumb{"flex" => 80, "hide-sm" => ""}
  .breadcrumb-links.md-toolbar-tools{"ncy-breadcrumb"=>""}


    
