%md-content.md-padding.div-trazoro.gold
  %section.top-nav-buttons{:layout => "row", "layout-align" => "center center", "layout-sm" => "column"}
    .btn-cont
      %md-button.md-fab{"aria-label" => "Eat cake"}
        %md-icon{"md-svg-icon"=>"action:reorder"}
      %h6 Dashboard
    .btn-cont
      %md-button.md-fab{"aria-label" => "Use Android"}
        %md-icon{"md-svg-icon"=>"action:reorder"}
      %h6 Compras
    .btn-cont
      %md-button.md-fab{"aria-label" => "Comment"}
        %md-icon{"md-svg-icon"=>"action:reorder"}
      %h6 Certificados de Origen
    .btn-cont
      %md-button.md-fab{"aria-label" => "Profile"}
        %md-icon{"md-svg-icon"=>"action:reorder"}
      %h6 Inventario
    .btn-cont
      %md-button.md-fab{"aria-label" => "Eat cake"}
        %md-icon{"md-svg-icon"=>"action:reorder"}
      %h6 Proovedores
.breadcrumb{"flex" => 80, "hide-sm" => ""}
  .breadcrumb-links.md-toolbar-tools{"ncy-breadcrumb"=>""}
  