%md-dialog
  %md-dialog-content
    %br
    %div{:layout => "column", "layout-align" => "center center"}
      %md-progress-circular{"md-mode" => "{{mode}}", :value => "{{progress}}"}
  .md-actions
    %h3 {{message}}