%md-dialog.user-type-dialog{"aria-label" => "Mango (Fruit)"}
  %form
    %md-dialog-content.sticky-container
      /%md-subheader.md-sticky-no-effect 
      %h3 Seleccione el tipo de usuario que va a registrar
      %md-button.btn-user-type{"ng-click" => "answer(0)"} 1. Barequero
      %md-button.btn-user-type{"ng-click" => "answer(1)"} 2. Solicitante de Legalización De Minería
      %md-button.btn-user-type{"ng-click" => "answer(2)"} 3. Beneficiario Área Reserva Especial
      %md-button.btn-user-type{"ng-click" => "answer(3)"} 4. Consumidor
      %md-button.btn-user-type{"ng-click" => "answer(4)"} 5. Titular
      %md-button.btn-user-type{"ng-click" => "answer(5)"} 6. Subcontrato de operación
      %md-button.btn-user-type{"ng-click" => "answer(6)"} 7. Contratista

