%md-dialog.user-type-dialog{"aria-label" => "Mango (Fruit)"}
  %form
    %md-dialog-content.sticky-container
      /%md-subheader.md-sticky-no-effect
      %h3 Seleccione el tipo de proveedor que va a registrar
      %md-button.btn-user-type{"ng-click" => "answer('Barequero')"} 1. Barequero
      %md-button.btn-user-type{"ng-click" => "answer('Chatarrero')"} 2. Chatarrero
      %md-button.btn-user-type{"ng-click" => "answer('Solicitante Legalización De Minería')"} 3. Solicitante Legalización De Minería
      %md-button.btn-user-type{"ng-click" => "answer('Beneficiario Área Reserva Especial')"} 4. Beneficiario Área Reserva Especial
      %md-button.btn-user-type{"ng-click" => "answer('Titular')"} 5. Titular
      %md-button.btn-user-type{"ng-click" => "answer('Subcontrato de formalización')"} 6. Subcontrato de formalización
      %md-button.btn-user-type{"ng-click" => "answer('Casa de Compraventa')"} 7. Casa de Compraventa
      %md-button.btn-user-type{"ng-click" => "answer('Plantas de Beneficio')"} 8. Plantas de Beneficio
      %md-button.btn-user-type{"ng-click" => "answer('Comercializadores')"} 9. Comercializadores
      %br
      %md-button.md-primary{"ng-click" => "cancel()"} Cancelar

