defaults: &defaults
  USE_AWS_S3: false

development:
  <<: *defaults
  USE_AWS_S3: false
  RDS_DB_NAME: <value>
  RDS_USERNAME: <value>
  RDS_PASSWORD: <value>
  RDS_HOSTNAME: <value>
  RDS_PORT: <value>
  AWS_S3_BUCKET_NAME: <value>
  AWS_S3_ACCESS_KEY_ID: <value>
  AWS_S3_SECRET_ACCESS_KEY: <value>
  AWS_S3_REGION: <value>

test:
  <<: *defaults
  domain: test.host
  USE_AWS_S3: false

staging:
  <<: *defaults
  USE_AWS_S3: true

production:
  <<: *defaults
  USE_AWS_S3: true
  RDS_DB_NAME: <value>
  RDS_USERNAME: <value>
  RDS_PASSWORD: <value>
  RDS_HOSTNAME: <value>
  RDS_PORT: <value>
  AWS_S3_BUCKET_NAME: <value>
  AWS_S3_ACCESS_KEY_ID: <value>
  AWS_S3_SECRET_ACCESS_KEY: <value>
  AWS_S3_REGION: <value>
