%div{:layout => "column"}
  .general-container
    %h2
      Resumen de la orden de venta pendiente
    %md-content{ "flex"=>"30", "class"=>"", "layout"=>"row"}
      %md-content{"flex"=> "", "class"=>"", "layout"=>"column"}
        %div.md-subtitle{"flex"=> ""}
          Comprador


        %div.input-containers-false{flex: ""}
          %label.label-container-false
            Nombre y Apellido
          %p.text-container-false
            {{saleModel.buyer.first_name}} {{saleModel.buyer.last_name}}

        %div.input-containers-false{flex: ""}
          %label.label-container-false
            Num. de identificación
          %p.text-container-false
            {{saleModel.buyer.document_number}}

        %div.input-containers-false{flex: ""}
          %label.label-container-false
            Email
          %p.text-container-false
            {{saleModel.buyer.email}}

        %div.input-containers-false{flex: ""}
          %label.label-container-false
            Telefono
          %p.text-container-false
            {{saleModel.buyer.phone_number}}

      %md-content{"flex"=> "30", "class"=>"", "layout"=>"row"}
        %md-content{"flex"=> "", "class"=>"", "layout"=>"column"}
          %div.md-subtitle{"flex"=> ""}
            DETALLES DE LA ORDEN


          %div.input-containers-false{flex: ""}
            %label.label-container-false
              Fecha de creación
            %p.text-container-false
              {{saleModel.created_at}}

          %div.input-containers-false{flex: ""}
            %label.label-container-false
              Total Gramos Finos
            %p.text-container-false
              {{saleModel.fine_grams | number:3}} gramos

          %div.input-containers-false{flex: ""}
            %label.label-container-false
              Tipo de Mineral
            %p.text-container-false
              {{saleModel.mineral_type}}

          %div.input-containers-false{flex: ""}
            %label.label-container-false
              Precio total
            %p.text-container-false
              ${{saleModel.price}} COP



    %md-content{"class"=>"", "layout"=>"column", "layout-align"=>"center start"}
      %p.md-subtitle
        LISTADO DE LOTES
    %md-content{"class"=>"", "layout"=>"row", 'layout-align' => 'center'}
      %table{'flex' => '100', 'style' => 'width: 150%'}
        %thead
          %tr.md-table-headers-row
            %th.md-table-header
              FECHA
            %th.md-table-header
              PROVEEDOR
            %th.md-table-header
              GRAMOS FINOS

        %tbody
          %tr{"ng-repeat" => "associated_purchase in saleModel.associated_purchases"}
            %td.md-table-td-more
              {{associated_purchase.created_at}}
            %td.md-table-td-more
              {{associated_purchase.seller.first_name}} {{associated_purchase.seller.last_name}}
            %td.md-table-td-more
              {{associated_purchase.fine_grams}}

  %p.md-subtitle
    ARCHIVOS
  %div.md-padding{ :layout => "row", "layout-align" => "center" }
    %wizard-buttons.md-padding{:layout => 'row', "layout-align"=>"center"}
      %md-button.btn-save{flex: "", href: "{{saleModel.purchase_files_collection_with_watermark_file_url}}", :target => "_self", "download"=>"purchase_files_collection_with_watermark.pdf"}
        Documentos de compra
      %md-button.btn-save{flex: "30", href: "{{saleModel.proof_of_sale_file_url}}", :target => "_blank"}
        Compendio


  %div.md-padding{ :layout => "row", "layout-align" => "center" }
    %md-button.btn-back-black{ "ui-sref" => "new_sale.tab.orders_pending_sale"}
      %md-icon{ "md-svg-icon"=>"/img/icons/purchase/back-flecha-yellow.svg" }
      Volver