%div.home
  %md-content.md-padding{"layout" => "row", "layout-align" => "center"}
    %div{"flex" => "40"}
      %h2.center{}
        Vender
      %md-content{ "style" => "text-align: center;" }
        %img{ "ng-src"=>"/img/icons/sale/VENDER.svg", "class"=>"md-card-image", "alt"=>"Washed Out", "style" => "width: 100px; height: 100px;" }
        %p
          En esta sección podrá vender el mineral con las compras previamente hechas a proveedores autorizados a otros comercializadores.
      %div.md-actions{"layout"=>"row", "layout-align"=>"center center"}
        %md-button.md-primary.md-raised{"ui-sref" => "new_sale.step1"}
          SEGUIR

    %hr{"style" => "height: 300px; ", "color" => "black"}

    %div{"flex" => "40"}
      %h2.center{}
        Ordenes de Venta
      
      %md-content{ "style" => "text-align: center;" }
        %img{ "ng-src"=>"/img/icons/purchase/ordenes_compraventa.svg", "class"=>"md-card-image", "alt"=>"Washed Out", "style" => "width: 100px; height: 100px;" }
        %p
          Aqui podra visualizar las ordenes pendientes de venta que ha enviado un comercializador atravez de la plataforma de proveedores autorizados.
      %div.md-actions{"layout"=>"row", "layout-align"=>"center center"}
        %md-button.md-primary.md-raised{"ui-sref" => "new_sale.tab.orders_pending_sale"}
          SEGUIR   