%div
  %md-content
    %md-tabs.origin-certificate-tabs{"md-border-bottom" => "", "md-dynamic-height" => "", "md-selected"=> 'tab', "layout-align" => "center"}

      %md-tab{:label => "Ordenes de Venta Pendientes", "ui-sref" =>"new_sale.tab.orders_pending_sale"}
      %md-tab{:label => "Ordenes Marketplace", "ui-sref"=>"new_sale.tab.orders_marketplace"}
      %md-tab{:label => "Ordenes de Venta Rechazadas", "ui-sref"=>"new_sale.tab.orders_canceled_sale"}


/.tabs-general-container
/  %div{"ui-view"=>"content"}

//inicial
%div{:layout => "column"}
  .general-container
    %div{"ui-view"=>"content"}