/--------------------------- Liquidate invnetory view ------------------------/
%section.liquidate-inventory-view{layout: 'row','layout-align'=>'start center'}
  %md-card.batches{flex: ''}
    /--------------------------- Ingot Creation layout ------------------------/
    %h2
      Lote Resultante
    %h3 1. Ingrese el precio del gramo de venta:
    %form.sale-form.md-padding{name: 'ingotsForm','ng-submit'=>'submitSale()', :data-ng-init => 'calculateWeight();'}
      .measurements-container{layout: 'row'}
        %md-input-container{flex: ''}
          %label Gramos Finos Totales (Gramos):
          %input{ 'type' => 'number', 'ng-model' => 'totalAmount', "readonly" => ""}
        %md-input-container{flex: ''}
          %label Ley Resultante:
          %input{ 'type' => 'number', 'ng-model' => 'weightedLaw', "readonly" => ""}
        %md-input-container{flex: ''}
          %label Precio Gramo
          %input{'name'=>'perUnitValue','ng-model' => 'perUnitValue', required: '','type' => 'number', 'step'=>'any','ng-change'=>'calculatePrice()' }
          %div{'ng-messages' => 'ingotsForm.perUnitValue.$error'}
            %div{'ng-message' => 'number'} Formato Invalido
      .inventory-total-values{layout: 'row'}
        %h1{flex: ''}
          Peso Total:
          {{selectedWeight}} gr
        %h1{flex: ''}
          Precio Total:
          $ {{price | currency}}

      .sale-type-container{layout: 'column'}
        %h3{flex: ''}
          2. Seleccione el tipo venta a realizar:
        %md-input-container.md-padding{flex: ''}
          %md-radio-group{'ng-model'=>'selectedSaleType', 'name' => 'selectedSaleType' }
            %md-radio-button.md-primary{ 'value' => 'directly_buyer' } Directamente a comprador
            %md-radio-button{ 'value' => 'marketplace' } Marketplace

      .options{:ng-switch => '', :on => 'selectedSaleType'}
        .customer-form{layout: 'row', 'ng-switch-when' =>'directly_buyer'}
          /--------------------------- Client info ------------------------/
          .customer-info{flex: ''}
            %fieldset.standard.tr-fieldset{:layout => 'column'}
              %legend
                %h3
                  Seleccione un cliente
              %md-autocomplete{'md-selected-item'=>'selectedClient', 'md-search-text'=> 'searchClientText', 'md-items' => 'client in searchClients(searchClientText)', 'md-no-cache' => 'true', 'md-item-text'=>'client.first_name', 'placeholder' => 'Buscar Clientes por Cedula','md-selected-item-change'=>'setSelectedClient(selectedClient)'}
                %span{'md-highlight-text' => 'searchClientText'} {{client.document_number}} - {{client.first_name}} {{client.last_name}}
              %div.fieldset-inputs
                %div{layout: 'row'}
                  %md-input-container{flex: ''}
                    %label Nombre
                    %input{:disabled => 'disabled', 'ng-model' => 'selectedClient.first_name','readOnly'=>'true'}
                  %md-input-container{flex: ''}
                    %label Apellido
                    %input{:disabled => 'disabled', 'ng-model' => 'selectedClient.last_name','readOnly'=>'true'}
                %div.inventory-client-names{layout: 'row'}
                  %md-input-container{flex: }
                    %label Cedula
                    %input{:disabled => 'disabled', 'ng-model' => 'selectedClient.document_number','readOnly'=>'true'}
                %div.progress-fieldset{:layout => 'row', 'layout-align' => 'space-around', 'layout-sm' => 'column','ng-if'=>'clientVerifiedProgress'}
                  %md-progress-circular{'md-mode' => 'indeterminate'}
            %br
            /%a.md-button{'ui-sref'=>'search_rucom({type: 'client'})'}  crear cliente
          /--------------------------- Client Photo  -----------------------/
          %div{flex: ''}
            // ---------------------- seller photo ------------------- //
            %md-content{'flex'=> '30', 'class'=>'md-padding autocomplete', 'layout'=>'row', 'layout-align'=>'center start'}
              .image.row
                .photo
                  %img.face.cam{'alt'=>'Foto Vendedor {{client.photo_file.url}}', 'ng-src' => '{{selectedClient.photo_file.url}}'}

.wizard-buttons{layout: 'row', 'class'=>'md-padding autocomplete',  'layout-align'=>'end end'}
  %md-button.btn-cancel{ flex: '20', 'ui-sref'=> 'new_sale.step2', 'ng-click' => 'saveState()'} Volver
  %md-button.btn-save{ flex: '20', 'ng-desabled' => 'ingotsForm.$invalid','ng-click' => 'submitSale()'} Generar Orden