%form.purchase-form{:name => "purchaseForm", "novalidate" => "novalidate"}
  %section{layout: "row"}
    %div.md-padding{flex: ""}
      // ---Purchase Type
      %fieldset.standard.tr-fieldset{:layout => "column"}
        %legend
          %h3
            Por favor leea con atención la aceptación del Acuerdo: