/--------------------------- Liquidate invnetory view ------------------------/
%section.liquidate-inventory-view{layout: 'row','layout-align'=>'start center'}
  %md-content.batches{flex: ''}
    /--------------------------- Ingot Creation layout ------------------------/
    %h2
      Lote Resultante
    %p.md-subtitle
      1. Ingrese el precio del gramo de venta:
    %form.sale-form.md-padding{name: 'ingotsForm','ng-submit'=>'submitSale()', :data-ng-init => 'calculateWeight();'}
      .measurements-container{layout: 'row'}
        %div.input-containers-false{flex: ""}
          %label.label-container-false
            Gramos finos totales
          %p.text-container-false
            {{totalAmount | number:3}}
        %div.input-containers-false{flex: ""}
          %label.label-container-false
            Ley Resultante
          %p.text-container-false
            {{weightedLaw | number:3}}

        %md-input-container{flex: ''}
          %label Precio Gramo
          %input{'name'=>'perUnitValue','ng-model' => 'perUnitValue', required: '','type' => 'number', 'step'=>'any','ng-change'=>'calculatePrice()' }
          %div{'ng-messages' => 'ingotsForm.perUnitValue.$error'}
            %div{'ng-message' => 'number'} Formato Invalido
      .inventory-total-values{layout: 'row'}
        %p.md-subtitle{ 'style' => 'font-weight: 700;', flex: ''}
          PESO TOTAL:
          %h3{flex: ''}
            {{selectedWeight | number:3}} gr
        %p.md-subtitle{'style' => 'font-weight: 700;', flex: ''}
          PRECIO TOTAL:
          %h3{flex: ''}
            {{price | currency}}

      .sale-type-container{layout: 'column'}
        %p.md-subtitle
          2. Seleccione el tipo venta a realizar:
        %md-input-container.not-border.md-padding{flex: ''}
          %md-radio-group{'ng-model'=>'selectedSaleType', 'name' => 'selectedSaleType' }
            %md-radio-button.md-primary{ 'value' => 'directly_buyer' } Directamente a comprador
            %md-radio-button{ 'value' => 'marketplace' } Marketplace

      .options{:ng-switch => '', :on => 'selectedSaleType'}
        .customer-form{layout: 'row', 'ng-switch-when' =>'directly_buyer'}
          /--------------------------- Client info ------------------------/
          .customer-info{flex: ''}
            %div{:layout => 'column'}
              %p.md-subtitle
                Seleccione un cliente
              %md-autocomplete{'md-selected-item'=>'selectedClient', 'md-search-text'=> 'searchClientText', 'md-items' => 'client in searchClients(searchClientText)', 'md-no-cache' => 'true', 'md-item-text'=>'client.first_name', 'placeholder' => 'Buscar Clientes por Cedula','md-selected-item-change'=>'setSelectedClient(selectedClient)'}
                %span{'md-highlight-text' => 'searchClientText'} {{client.document_number}} - {{client.first_name}} {{client.last_name}}
              %div.fieldset-inputs
                %div{layout: 'row'}

                  %div.input-containers-false{flex: ""}
                    %label.label-container-false
                      Nombre
                    %p.text-container-false
                      {{selectedClient.first_name}}

                  %div.input-containers-false{flex: ""}
                    %label.label-container-false
                      Apellido
                    %p.text-container-false
                      {{selectedClient.last_name}}

                %div.inventory-client-names{layout: 'row'}

                  %div.input-containers-false{flex: ""}
                    %label.label-container-false
                      Cedula
                    %p.text-container-false
                      {{selectedClient.document_number}}


                %div.progress-fieldset{:layout => 'row', 'layout-align' => 'space-around', 'layout-sm' => 'column','ng-if'=>'clientVerifiedProgress'}
                  %md-progress-circular{'md-mode' => 'indeterminate'}
            %br
            /%a.md-button{'ui-sref'=>'search_rucom({type: 'client'})'}  crear cliente
          /--------------------------- Client Photo  -----------------------/
          %div{flex: ''}
            // ---------------------- seller photo ------------------- //
            %md-content{'class'=>'md-padding autocomplete', 'layout'=>'row', 'layout-align'=>'center start'}
              .image.row
                .photo
                  %img.face.cam{'alt'=>'Foto Vendedor {{client.photo_file.medium.url}}', 'ng-src' => '{{selectedClient.photo_file.url}}'}

.wizard-buttons{layout: 'row', 'class'=>'md-padding autocomplete',  'layout-align'=>'end end'}
  %md-button.btn-save{'ui-sref'=> 'new_sale.step2', 'ng-click' => 'saveState()'}
    %md-icon{ "md-svg-icon"=>"/img/icons/purchase/back-flecha-yellow.svg" }
    Volver
  %md-button.btn-next.md-raised.md-primary{ 'ng-disabled' => 'ingotsForm.$invalid','ng-click' => 'submitSale()'} Generar Orden
    %md-icon{ "md-svg-icon"=>"/img/icons/landing/flecha-negra.svg" }