%div{:layout => "column","ng-hide"=>"showLoading"}
  %md-tabs{"ng-if"=>"currentExternalUser"}
    /********************************************** PERSONAL DATA ******************************************************/
    %md-tab{"label"=>"Datos Personales"}
      .provider-info
        %div{layout: 'row'}
          .photo-container{flex: '30'}
            %img.face{:alt => "", "ng-src" => "{{currentExternalUser.photo_file.thumb.url}}"}
            %md-button.md-button.btn-save.btn-extenal-user-update{"ui-sref"=>"edit_external_user({ id: currentExternalUser.id })"} Editar Información
            
          .fields-container{flex: '70'}
            %h2{style: "text-align: left;"} 
              Datos personales:
            %div{layout: 'row'}
              .external-info-container{flex: ""}
                %h2 
                  %label Nombre:
                  {{currentExternalUser.first_name}}
              .external-info-container{flex: ""}
                %h2
                  %label Apellido:
                  {{currentExternalUser.last_name}}
              .external-info-container{flex: ""}
                %h2
                  %label Número de Identificación:
                  {{currentExternalUser.document_number}}
            %div{layout: 'row'}
              .external-info-container{flex: ""}
                %h2
                  %label Teléfono:
                  {{currentExternalUser.phone_number}}
              .external-info-container{flex: ""}
                %h2
                  %label E-mail:
                  {{currentExternalUser.email}}
              .external-info-container{flex: ""}
                %h2
                  %label Dirección:
                  {{currentExternalUser.address}}  
            %h2{style: "text-align: left;"} Informacion de Rucom:
            %div{layout: 'row'}
              .external-info-container{flex: ""}
                %h2
                  %label {{rucomIDField.label}}:
                  {{currentExternalUser.rucom[rucomIDField.field]}}
              
              .external-info-container{flex: ""}
                %h2
                  %label Tipo:
                  {{currentExternalUser.rucom.provider_type}}
              .external-info-container{flex: ""}
                %h2
                  %label Estado:
                  {{currentExternalUser.rucom.rucom_status}}
            %h2{style: "text-align: left;"} Centro Poblado:
            %div{layout: 'row'}
              .external-info-container{flex: ""}
                %h2
                  %label Ciudad:
                  {{currentExternalUser.city.name}}
              .external-info-container{flex: ""}
                %h2
                  %label Departamento:
                  {{currentExternalUser.state.name}}
              .external-info-container{flex: ""}
                %h2
                  %label Centro Poblado:
                  {{currentExternalUser.population_center.name}}

            %div.external-user-map{"ng-bind-html"=>"map_iframe"}
            
    /*************************************************** DOCUMENTATION *********************************************/
    
    %md-tab{label: "Documentacion"}
      %md-content.md-padding
        %div{:layout => "row", "layout-align" => "space-around center", "layout-margin" => "", "layout-sm" => "column"}   
          %md-button{:class => "md-raised", :flex => "15", "ng-href" => "{{currentExternalUser.document_number_file.url}}", :target => "_blank"}  
            %p Cédula de Ciudadanía
            %img.md-card-image.pdf-preview{:alt => "Cédula", "ng-src" => "{{currentExternalUser.document_number_file.preview.url || 'img/pdf.png'}}"}


    /*************************************************** COMPANY INFO ******************************************************/
    %md-tab{"label"=>"Informacion Compañia","ng-if" => "company"}
      .provider-info{"ng-if" => "company"}
        %div{layout: 'row'}
          .photo-container{flex: '30'}
            /%img.face{:alt => "", "ng-src" => "{{currentExternalUser.photo_file.thumb.url}}"}
            %md-button.md-button.btn-save.btn-extenal-user-update{"ui-sref"=>"edit_external_user_company({ id: currentExternalUser.id })"} Editar Información
          .fields-container{flex: '70'}
            %h2{style: "text-align: left;"} Datos de Compañia
            %div{layout: 'row'}
              .external-info-container{flex: ""}
                %h2 
                  %label Nombre de la Compañía:
                  {{currentExternalUser.company.name}}
              .external-info-container{flex: ""}
                %h2 
                  %label NIT:
                  {{currentExternalUser.company.nit_number}}
              .external-info-container{flex: ""}
                %h2 
                  %label Representante Legal:
                  {{currentExternalUser.company.legal_representative}}
            
            %div{layout: 'row'}
              .external-info-container{flex: ""}
                %h2 
                  %label Identificación del Representante:
                  {{currentExternalUser.company.id_number_legal_rep}}
              .external-info-container{flex: ""}
                %h2 
                  %label Tipo de Identificación del Rep. Legal:
                  {{currentExternalUser.company.id_type_legal_rep}}
            %div{layout: 'row'}
              .external-info-container{flex: ""}
                %h2 
                  %label Teléfono:
                  {{currentExternalUser.company.phone_number}}
              .external-info-container{flex: ""}
                %h2 
                  %label E-mail:
                  {{currentExternalUser.company.email}}
        %div{:layout => "row", "layout-align" => "space-around center", "layout-margin" => "", "layout-sm" => "column"}   
          %md-button{:class => "md-raised", :flex => "15", "ng-href" => "{{company.mining_register_file.url}}", :target => "_blank"}  
            %p Registro minero
            %img.md-card-image.pdf-preview{:alt => "Cédula", "ng-src" => "{{company.mining_register_file.preview.url || 'img/pdf.png'}}"}

          %md-button{ :class => "md-raised", :flex => "15", "ng-href" => "{{company.chamber_commerce_file.url}}", :target => "_blank"}
            %p Camara de comercio
            %img.md-card-image.pdf-preview{:alt => "Cédula", "ng-src" => "{{company.rut_file.preview.url }}" } 
          %md-button{:class => "md-raised", :flex => "15", "ng-href" => "{{company.rut_file.url}}", :target => "_blank" }  
            %p RUT
            %img.md-card-image.pdf-preview{:alt => "Cédula", "ng-src" => "{{company.rut_file.preview.url || 'img/pdf.png'}}" } 

%tr-loading-view{"ng-show"=>"showLoading","mode"=>"loadingMode","progress"=>"loadingProgress", "message"=>"loadingMessage"}

         