%div.{:layout => "column", :style => "padding-left:20px; padding-right:20px;"}
  %form{:name => "providerCreateForm", "novalidate" => "novalidate"}  
    %md-tabs{"md-selected"=>"tabIndex.selectedIndex"}
      
      /****************************   PERSONAL DATA ***********************************/
      %md-tab{"aria-controls" => "tab1-content", label: "1. Datos Personales"}
        %md-content.md-padding{:layout => "row", "layout-sm" => "column", "md-theme" => "default"}
          %fieldset.standard.photo-fieldset
            %legend
              %h5 Tome una foto al proveedor
            %md-input-container.row{"layout-align" => "center center"}
              .photo{:style => "max-width:150px;"}
                %a.image-container{'ng-href' => "#camera",'ng-click' => "scanner(1)"}
                  %img.face.cam{'alt'=>'Foto Proveedor', 'ng-src' => "{{newExternalUser.photo_file || 'img/default-user.png'}}","ng-model" => "newExternalUser.photo_file",  "check-image" => ''}
                  %md-tooltip{'md-direction'=> 'bottom'}
                    Tomar Foto
          %fieldset.standard.fieldset-information{:flex => ""}
            %legend
              %h3 Información
            %md-content.md-padding{:layout => "", "layout-sm" => "column", :style => "font-size:1.2em"}
              %md-input-container{:flex => ""}
                %label Nombre
                %input{:name => "first_name", "ng-model" => "newExternalUser.first_name", :required => ""}
                %div{"ng-messages" => "providerCreateForm.first_name.$error"}
                  %div{"ng-message" => "required"} Este campo es requerido.
              %md-input-container{:flex => ""}
                %label Apellido
                %input{:name => "last_name", "ng-model" => "newExternalUser.last_name", :required => ""}
                %div{"ng-messages" => "providerCreateForm.last_name.$error"}
                  %div{"ng-message" => "required"} Este campo es requerido.
              %md-input-container{:flex => ""}
                %label Número de Identificación
                %input{:name => "document_number", "ng-model" => "newExternalUser.document_number", :required => ""}
                %div{"ng-messages" => "providerCreateForm.document_number.$error"}
                  %div{"ng-message" => "required"} Este campo es requerido.
            
            %md-content.md-padding{:layout => "", "layout-sm" => "column"}
              %md-input-container{:flex => ""}
                %label Teléfono
                %input{:name => "phone_number", "ng-model" => "newExternalUser.phone_number", :placeholder => "(555) 555 5555", :required => ""}
                %div{"ng-messages" => "providerCreateForm.phone_number.$error"}
                  %div{"ng-message" => "required"} Este campo es requerido.
              %md-input-container{:flex => ""}
                %label Email
                %input{:name => "email", "ng-model" => "newExternalUser.email", :type => "email", :required => ""}
                %div{"ng-messages" => "providerCreateForm.email.$error"}
                  %div{"ng-message" => "required"} Este campo es requerido.
                  %div{"ng-message" => "email"} Ingrese un e-mail válido.
              %md-input-container{:flex => ""}
                %label Dirección
                %input{:name => "address", "ng-model" => "newExternalUser.address", :placeholder => "CLL/CR 1 22 - 33", :required => ""}
                %div{"ng-messages" => "providerCreateForm.address.$error"}
                  %div{"ng-message" => "required"} Este campo es requerido.

            %h2 Rucom
            %md-content.md-padding{:layout => "", "layout-sm" => "column"}
              %md-input-container{:flex => ""}
                %label {{rucomIDField.label}}
                %input{:readonly => "true", "ng-model" => "rucom[rucomIDField.field]"}
                %md-tooltip{"md-direction" => "botton", "md-visible" => "true"} 
                  %span.ion-android-checkmark-circle &nbsp;válido
              %md-input-container{:flex => ""}
                %label Tipo de Proveedor
                %input{"ng-model" => "newExternalUser.rucom.provider_type", "ng-readonly" => "true", :placeholder => "Provider type"}
            
            %br
            %div{:layout => "row", "layout-align" => "space-between start", "layout-sm" => "column", :style => "padding: 16px;"}
              %md-autocomplete{:required => "true", :flex => "30", "md-item-text" => "state.name", "md-items" => "state in stateSearch(searchState)", "md-no-cache" => "true", "md-search-text" => "searchState", "md-search-text-change" => "searchTextStateChange(searchState)", "md-selected-item" => "selectedState", "md-selected-item-change" => "selectedStateChange(state)", :placeholder => "Departamento"}
                %span{"md-highlight-text" => "searchState"} {{state.name}}
              %md-autocomplete{:required => "true", :flex => "30", "md-item-text" => "city.name", "md-items" => "city in citySearch(searchCity)", "md-no-cache" => "true", "md-search-text" => "searchCity", "md-search-text-change" => "searchTextCityChange(searchCity)", "md-selected-item" => "selectedCity", "md-selected-item-change" => "selectedCityChange(city)", "ng-disabled" => "cityDisabled", :placeholder => "Municipio"}
                %span{"md-highlight-text" => "searchCity"} {{city.name}}
              %md-autocomplete{:required => "true", :flex => "30", "md-item-text" => "populationCenter.name", "md-items" => "populationCenter in populationCenterSearch(searchPopulationCenter)", "md-no-cache" => "true", "md-search-text" => "searchPopulationCenter", "md-search-text-change" => "searchTextPopulationCenterChange(searchPopulationCenter)", "md-selected-item" => "selectedPopulationCenter", "md-selected-item-change" => "selectedPopulationCenterChange(populationCenter)", "ng-disabled" => "populationCenterDisabled", :placeholder => "Centro Poblado"}
                %span{"md-highlight-text" => "searchPopulationCenter"} {{populationCenter.name}}
      
      /****************************   DOCUMENTATION ***********************************/
      %md-tab{"aria-controls" => "tab3-content", label: "2. Documentacion"}
        #tab3-content{}
          %div.uploader-certificate-tab{:layout => "row", "layout-align" => "space-between center", "layout-margin" => "", "layout-sm" => "column"}
                         
            %div{flex: '60'}
              %h4 Subir documento de identificación
              %md-select.uploader-selector{"ng-model" => "identification_number_upload_type", :placeholder => "Cargar Documento de Identificación", :required => ''}
                %md-option{:value => "by_upload"} Desde el PC
                %md-option{:value => "by_scan"} Por Escaner
                %md-option{:value => "by_photo"} por Camara
            %div{flex: ''}
              .upload-oc{:flex => ''}
                .button-action.md-padding{:ng-switch => '', :on => 'identification_number_upload_type'}
                  %md-input-container
                    %label Nombre del archivo
                    %input{"ng-model" => "newExternalUser.document_number_file[0].name", :readOnly => 'true',:required => "", :name => 'identification_number'}
                    %div{"ng-messages" => "providerCreateForm.identification_number.$error"}
                      %div{"ng-message" => "required"} * Debe seleccionar el documento de identificación

                  .by_upload{"ng-switch-when" =>'by_upload'}
                    %md-button.btn-save{'ng-file-select' => '', 'ng-model' => 'newExternalUser.document_number_file'}
                      Subir desde PC
                      %md-icon{"md-svg-icon"=>"file:file_upload"}
                  
                  .by_scan{"ng-switch-when" =>'by_scan'}
                    %md-button.btn-save{'ng-href' => "#scanner1",'ng-click' => "scanner(2)"}
                      Escanear
                      %md-icon{"md-svg-icon"=>"maps:local_print_shop"}
                     
                  .by_photo{"ng-switch-when" =>'by_photo'}
                    .md-tile-left.cam
                      %md-button.btn-save{"aria-label" => "Número de Identificación", "md-ripple-size" => "partial","ng-href" => "#scanner",'ng-click' => "scanner(2)"}
                        Escanear con camara
                        %md-icon{"md-svg-icon" => "image:camera_alt"}
          
          %div.uploader-certificate-tab{:layout => "row", "layout-align" => "space-between center", "layout-margin" => "", "layout-sm" => "column"}
            %div{flex: '60'}
              %h4 Registro Minero
              %md-select.uploader-selector{"ng-model" => "mining_register_upload_type", :placeholder => "Cargar Registro Minero", :required => ''}
                %md-option{:value => "by_upload"} Desde el PC
                %md-option{:value => "by_scan"} Por Escaner
                %md-option{:value => "by_photo"} por Camara
            %div{flex: ''}
              .upload-oc{:flex => ''}
                .button-action.md-padding{:ng-switch => '', :on => 'mining_register_upload_type'}
                  %md-input-container
                    %label Nombre del archivo
                    %input{"ng-model" => "newExternalUser.mining_register_file[0].name", :readOnly => 'true',:required => "", :name => 'mining_register_file'}
                    %div{"ng-messages" => "providerCreateForm.mining_register_file.$error"}
                      %div{"ng-message" => "required"} * Debe seleccionar el registro minero 
                  
                  .by_upload{"ng-switch-when" =>'by_upload'}
                    %md-button.btn-save{'ng-file-select' => '', 'ng-model' => 'newExternalUser.mining_register_file'}
                      Subir desde PC
                      %md-icon{"md-svg-icon"=>"file:file_upload"}
                      
                  .by_scan{"ng-switch-when" =>'by_scan'}
                    %md-button.btn-save{'ng-href' => "#scanner1",'ng-click' => "scanner(3)"}
                      Escanear 
                      %md-icon{"md-svg-icon"=>"maps:local_print_shop"}
                  
                  .by_photo{"ng-switch-when" =>'by_photo'}
                    .md-tile-left.cam
                      %md-button.btn-save{"aria-label" => "Registro Minero", "md-ripple-size" => "partial","ng-href" => "#scanner",'ng-click' => "scanner(3)"}
                        Escanear con camara
                        %md-icon{"md-svg-icon" => "image:camera_alt"}
                       

          %div.uploader-certificate-tab{:layout => "row", "layout-align" => "space-between center", "layout-margin" => "", "layout-sm" => "column"}
            %div{flex: '60'}
              %h4 Copia del RUT
              %md-select.uploader-selector{"ng-model" => "rut_upload_type", :placeholder => "Cargar Copia del RUT", :required => ''}
                %md-option{:value => "by_upload"} Desde el PC
                %md-option{:value => "by_scan"} Por Escaner
                %md-option{:value => "by_photo"} por Camara
            %div{flex: ''}
              .upload-oc{:flex => ''}
                .button-action.md-padding{:ng-switch => '', :on => 'rut_upload_type'}
                  %md-input-container
                    %label Nombre del archivo
                    %input{"ng-model" => "newExternalUser.rut_file[0].name", :readOnly => 'true',:required => "", :name => 'rut_file'}
                    %div{"ng-messages" => "providerCreateForm.rut_file.$error"}
                      %div{"ng-message" => "required"} * Debe seleccionar el rut 
                  .by_upload{"ng-switch-when" =>'by_upload'}
                    %md-button.btn-save{'ng-file-select' => '', 'ng-model' => 'newExternalUser.rut_file'}
                      Subir desde PC
                      %md-icon{"md-svg-icon"=>"file:file_upload"}
                        
                  .by_scan{"ng-switch-when" =>'by_scan'}
                    %md-button.btn-save{'ng-href' => "#scanner1",'ng-click' => "scanner(4)"}
                      Escanear
                      %md-icon{"md-svg-icon"=>"maps:local_print_shop"}
                        

                  .by_photo{"ng-switch-when" =>'by_photo'}
                    .md-tile-left.cam
                      %md-button.btn-save{"aria-label" => "RUT", "md-ripple-size" => "partial","ng-href" => "#scanner",'ng-click' => "scanner(4)"}
                        Escanear con camara
                        %md-icon{"md-svg-icon" => "image:camera_alt"}
                        

    %div.info-buttons{layout: 'row', "layout-align"=> "end center"}
      %md-button.btn-cancel{"ng-if" => "formTabControl.selectedIndex > 0", "ng-disabled" => "!formTabControl.secondUnlocked", :class => "md-raised md-primary", "ng-click" => "previous()"} Anterior
      %md-button.btn-cancel{:class => "md-raised", "ng-click" => "back()"} Cancelar
      %md-button.btn-save{"ng-disabled" => "(!providerCreateForm.$valid || !saveBtnEnabled) && formTabControl.selectedIndex !== 1", :class => "md-raised md-accent", "ng-click" => "createProvider($event)"} Guardar
      %md-button.btn-save{"ng-if" => "formTabControl.selectedIndex < 1", :class => "md-raised md-primary", "ng-click" => "next()"} Siguiente

