%md-table-inventory.inventory-table{:headers => "headers", :content => "content", :sortable => "sortable", :filters => "search", "custom-class" => "custom", :thumbs => "thumbs", :count => "count","grams" => "grams", :selectall => "selectall", :pages => "pages", "current-page" => "currentPage"}
    