%section{:flex => "", :layout => "column", "layout-fill" => ""}
  %md-subheader.md-primary.inventory-options-head
    %md-button.md-raised.md-primary.btn-save{"ng-click" => "liquidate_selected_items($event)"}
      Liquidar {{totalAmount}} Gramosssss
     
  %md-content
    .table-container
      %table.md-table.inventory-index-table
        %thead
          %tr.md-table-headers-row
            %th.table-checkbox.all-check
              %md-button.md-icon-button.launch{"ng-click" => "selectAll(content,grams,selectall,$event)"}
                %md-icon{:alt => "Alarm Icon", "md-svg-icon" => "{{selectall ? 'toggle:check_box' : 'toggle:check_box_outline_blank'}}",  "ng-class"=>"selectall ? 'item-selected' : ''","aria-label"=>"selectall"}
            %th.md-table-header
            %th.md-table-header{"ng-repeat" => "h in headers", "ng-if" => "h.field != thumbs"}
              %a{:href => "#", "ng-if" => "handleSort(h.field)", "ng-click" => "reverse=!reverse;order(h.field,reverse)"}
                {{h.name}}
                %i.ion-android-arrow-dropup{"ng-show" => "reverse && h.field == predicate"}
                %i.ion-android-arrow-dropdown{"ng-show" => "!reverse && h.field == predicate"}
              %span{"ng-if" => "!handleSort(h.field)"} {{h.name}}

        %tbody{"infinite-scroll"=>"loadMore()", "style" => "overflow: hidden"}
          %tr.md-table-content-row{"ng-repeat" => "item in content | filter:filters","ng-class"=>"{'purchase-empty': item.inventory.remaining_amount == 0}"}
            %td.table-checkbox
              /%md-checkbox{"ng-click" => "selectItem(item,grams,$event)", "ng-model" => "item.selected", "aria-label"=>"item-check", value:"item.selected" 2.9 500 2.060 200 credito}
              %md-button.md-icon-button.launch{"ng-click"=>"selectItem(item,grams,$event)", "ng-disabled" => "{{item.sold}} ? true : false"}
                %md-icon{:alt => "Alarm Icon", "md-svg-icon" => "{{item.selected ? 'toggle:check_box' : 'toggle:check_box_outline_blank'}}",  "ng-class"=>"item.selected ? 'item-selected' : ''","aria-label"=>"cb-item-{{item.id}}"}
              {{item.amount_picked}}
              
              
            %td
              .trazoro-state.tag{"ng-if"=>"item.trazoro"}
                Trazoro
            %td.md-table-content{"ng-repeat" => "h in headers", "ng-class" => "customClass[h.field]", "ng-if" => "h.field != thumbs","ng-click" => "show_inventory(item)"} {{h.field.indexOf('date') > 0 ? (item[h.field] | date) : item[h.field]}}


            

    .md-table-footer{:layout => "row"}
      %span.md-table-count-info
        Registros cargados: {{count}}
