/--------------------------- Liquidate invnetory view ------------------------/
%section.liquidate-inventory-view{layout: "row"}
  /--------------------------- Selected Grams layout ------------------------/
  %md-card.amounts-picked.md-padding{flex: "20"}
    %h3
      Gramos Seleccionados
    %div.selected_amount{"ng-repeat"=> "item in selectedInventoryItems"} 
      {{item.amount_picked}} gr
    %div.total_amount
      %strong
        Gramos Totales: 
      {{total_amount}}
  %md-card.batches{flex: ""}
    /--------------------------- Ingot Creation layout ------------------------/
    %h3
      Lingotes Resultantes
    %md-checkbox.md-primary{"aria-label" => "equal_amount_divider", "md-no-ink" => "", "ng-model" => "divide_by_equal_amounts",  "ng-disabled"=>"{{!allow_equal_divider}}", "ng-change"=>"divideIngots()"}
      Dividir en cantidades iguales?
    %form.sale-form{name: "ingotsForm"}
      %md-content.ingot_form{:layout => "row", "layout-padding" => "", "md-theme" => "docs-dark", "ng-repeat" => "ingot in ingots"}
        %h3{flex: "30"} Lingote {{$index +1 }} :
        %md-input-container{flex: ""}
          %label Ley
          %input{"ng-model" => "ingot.law", required: ""}
        %md-input-container{flex: ""}
          %label Gramos
          %input{"ng-model" => "ingot.grams", required: ""}
      .customer-form{layout: "row"}
        .customer-info{flex: ""}
          %h3 Seleccione Cliente
          %md-autocomplete{"md-selected-item"=>"selectedClient", "md-search-text"=> "searchClientText", "md-items" => "client in searchClients(searchClientText)", "md-no-cache" => "true", "md-item-text"=>"client.first_name", "placeholder" => "Buscar Clientes por Cedula","md-selected-item-change"=>"setSelectedClientInfo()"}
            %span{"md-highlight-text" => "searchClientText"} {{client.id_document_number}} - {{client.first_name}} 
          %md-button{"ui-sref"=>"search_rucom({type: 'client'})"}  crear cliente
        .courier-info{flex: ""}
          %h3 Seleccione Transportador
          %md-autocomplete{"md-selected-item"=>"selectedCourier", "md-search-text"=> "searchCourierText", "md-items" => "courier in searchCouriers(searchCourierText)", "md-no-cache" => "true", "md-item-text"=>"courier.first_name", "placeholder" => "Buscar Transportadores por Cedula"}
            %span{"md-highlight-text" => "searchClientText"} {{courier.id_document_number}} - Nombre: {{client.first_name}} 

          %md-button{"ui-sref"=>"new_courier"} crear transportador

      %md-button.submit-button{type: "submit"} Submit
          



