%div
  %md-content.md-padding
    %md-tabs.origin-certificate-tabs{"md-border-bottom" => "", "md-dynamic-height" => "", "md-selected"=> 'tab'}
      %md-tab{:label => "Inventario de Compras", "ui-sref"=>"index_inventory.purchase"}

      %md-tab{:label => "Inventario de Ventas", "ui-sref"=>"index_inventory.sale"}
.tabs-inventory-container
  %div{"ui-view"=>"content"}