%section{:flex => "", :layout => "column", "layout-fill" => ""}
  %md-subheader.md-primary.inventory-options-head
    %md-button.md-raised.md-primary.btn-save{"ng-click" => "liquidateSelectedPurchases($event)"}
      Liquidar {{totalAmount}} Gramos
     
  %md-content
    .table-container
      %table.md-table.inventory-index-table
        %thead
          %tr.md-table-headers-row
            %th.table-checkbox.all-check
              /%md-button.md-icon-button.launch{"ng-click" => "selectAll(content,grams,selectall,$event)"}
              /  %md-icon{:alt => "Alarm Icon", "md-svg-icon" => "{{selectall ? 'toggle:check_box' : 'toggle:check_box_outline_blank'}}",  "ng-class"=>"selectall ? 'purchase-selected' : ''","aria-label"=>"selectall"}
            %th.md-table-header
            %th.md-table-header{"ng-repeat" => "h in headers"}
              {{ h.name }}


        %tbody{"infinite-scroll"=>"loadMore()", "style" => "overflow: hidden"}
          %tr.md-table-content-row{"ng-repeat" => "purchase in purchases | filter:filters","ng-class"=>"{'purchase-empty': purchase.inventory.remaining_amount == 0}"}
            %td.table-checkbox
              %md-checkbox{"ng-checked" => "alreadySelected(purchase)", "aria-label" => "none", "ng-click" => "toggle(purchase)" }
              
              {{purchase.amount_picked}}
              
              
            %td
              .trazoro-state.tag{"ng-if"=>"purchase.trazoro"}
                Trazoro
            %td.md-table-content{"ng-repeat" => "h in headers", "ng-click" => "show_inventory_purchase(purchase)"} {{h.field.indexOf('date') > 0 ? (purchase[h.field] | date) : $parent.$eval(h.field)}}


            

    .md-table-footer{:layout => "row"}
      %span.md-table-count-info
        Registros cargados: {{count}}
