.general-container
  %md-content
    .table-container
      %table.md-table.inventory-index-table
        %thead
          %tr.md-table-headers-row
            %th.md-table-header{"ng-repeat" => "h in headers"}
              {{ h.name }}
            %th.md-table-header{} Informe Tributario
            %th.md-table-header{} Opciones
        %tbody{"infinite-scroll"=>"loadMore()", "style" => "overflow: hidden"}
          %tr.md-table-content-row{"ng-repeat" => "purchase in purchases | filter:filters","ng-class"=>"{'purchase-empty': purchase.inventory.remaining_amount == 0}"}
            %td.md-table-content{"ng-repeat" => "h in headers", "ng-click" => "showPurchase(purchase)"} {{h.field.indexOf('date') > 0 ? (purchase[h.field] | date) : $parent.$eval(h.field)}}
            %td
              %md-button.md-primary.md-raised{'ng-if' => 'purchase.report_url === (null || undefined)', flex: 20, "ng-click" => "generateReport(purchase)"} Generar
              %a.md-button.md-primary.md-raised{'ng-if' => 'purchase.report_url != (null && undefined)', flex: 20, 'href' => '{{purchase.report_url}}', 'download' => 'reporte_{{purchase.id}}.csv'} Descargar
            %td
              %md-button.btn-next.md-raised.md-primary{ "ng-click" => "showSale(sale)"} Ver

      %span.md-table-count-info
        Registros cargados: {{count}}
