.general-container
  %form.royalties-form{"ng-hide" => "response == false", :name => "royaltyForm", "novalidate" => "novalidate"}
    %div{:layout => 'column'}

      %section.md-padding{flex: "", layout: "row"}
        %div{flex: ''}
          %div{:layout => "column"}
            
            %p.md-subtitle
              Presentacion del Mineral
            %hr{ "width"=>"80%", "color"=>"#E3CD48", "align"=>"left"}

            %div.fieldset-inputs
              %div{layout: "row"}
                %md-input-container{flex: ""}
                  %md-radio-group{"ng-model"=>"mineralPresentation", "name" => "mineralPresentation", required: "" }
                    %md-radio-button.md-primary{ "value" => "amalgam" } Amalgama
                    %md-radio-button{ "value" => "jewelry" } Joya
                    %md-radio-button{ "value" => "metal" } Metal
                    %md-radio-button{ "value" => "concentrated" } Concentrado
                    %md-radio-button{ "value" => "cyanide" } Cianurado

        %div{flex: ''}
          %div{:layout => "column"}
            
            %p.md-subtitle
              Periodo declarado

            %hr{ "width"=>"100%", "color"=>"#E3CD48", "align"=>"left"}

            %div.fieldset-inputs
              %div{layout: "row"}
                %md-input-container{flex: ""}
                  %md-select{"ng-model" => "selectedYear", :placeholder => "Seleccione el año a declarar", required: ""}
                    %md-option{:value => "2016"} 2016
                    %md-option{:value => "2017"} 2017

                %md-input-container{flex: ""}
                  %md-radio-group{"ng-model"=>"period", "name" => "period", required: "" }
                    %md-radio-button.md-primary{ "value" => "1" } Enero - Marzo
                    %md-radio-button{ "value" => "2" } Abril - Junio
                    %md-radio-button{ "value" => "3" } Julio - Septiembre
                    %md-radio-button{ "value" => "4" } Octubre - Diciembre


      %section.md-padding{flex: "", layout: "row"}
        %div{flex: ""}
          %div{:layout => "column"}
            
          %p.md-subtitle
            Liquidacion de Regalias
          %hr{ "width"=>"100%", "color"=>"#E3CD48", "align"=>"left"}

          

            %div.fieldset-inputs
              %div{layout: "row"}
                %md-input-container{flex: ""}
                  %label Precio base de liquidacion
                  %input{ "type" => "number", "string-to-number"=>"", min: => "1", "ng-model" => "baseLiquidationPrice",  :name => 'baseLiquidationPrice', required: ""}

                %md-input-container{flex: ""}
                  %label Regalias(%)
                  %input{"type" => "number", "string-to-number"=>"", min: => "1" , :max =>"100", "ng-model" => "royaltyPercentage",  :name => 'royaltyPercentage', required: ""}

                %div.progress-fieldset{:layout => "row", "layout-align" => "space-around", "layout-sm" => "column","ng-if"=>"clientVerifiedProgress"}
                  %md-progress-circular{"md-mode" => "indeterminate"}
          .button
      %section.signature-section.md-padding{flex: '', layout: 'column'}
        %div{flex: '', layout: 'row', "layout-align"=>"center center"}
          %textarea{ cols: "50", rows: "4", id: "txtDisplay", style: 'visibility-fake: hidden;'}
        %div{flex: '', layout: 'row', "layout-align"=>"center center"}
          #imageBox{}
        %div.signature-text-wrapper{flex: '', layout: 'row', "layout-align"=>"center center"}
          .signature-text
            Firma
      .wizard-buttons.md-padding{layout: "row", "layout-align"=>"center"}
        %md-button.btn-save{  flex: "20", 'ng-click' => 'restartSessionDevice()'} Iniciar Dispositivo
        %md-button.btn-save{ flex: "20", 'ng-click' => 'captureSignature()'} Firmar
        %md-button.btn-next.md-raised.md-primary{flex: "20", "ng-disabled" => 'royaltyForm.$invalid', "ng-click" => "generatePdfFile()"} Generar Documento
%h3{"ng-if" => "response == false"} No Tienes El Servicio De Regalias Trazoro