.purchase-container
  %md-content
    .table-container
      %table.md-table.inventory-index-table
        %thead
          %tr.md-table-headers-row
            %th.md-table-header{"ng-repeat" => "h in headers", "ng-if" => "h.field != thumbs"}
              {{h.name}}
        %tbody{"infinite-scroll"=>"loadMore()", "style" => "overflow: hidden"}
          %tr.md-table-content-row{"ng-repeat" => "sale in sales | filter:filters"}
            %td.md-table-content{"ng-repeat" => "h in headers", "ng-if" => "h.field != thumbs","ng-click" => "showSale(sale)"} {{h.field.indexOf('date') > 0 ? ($parent.$eval(h.field) | date) : $parent.$eval(h.field)}}
            %td
              %md-button.md-primary.md-raised{'ng-if' => 'report_url === null', flex: 20, "ng-click" => "generateReport(sale.id)"} Generar Reporte
              %a.md-button.md-primary.md-raised{'ng-if' => 'report_url != null', flex: 20, 'href' => '{{report_url}}', 'download' => 'reporte.csv'} Descargar Reporte
    .md-table-footer{:layout => "row"}
      %span.md-table-count-info
        Registros cargados: {{count}}