%md-content.md-padding.sale-show-content.general-container

  %p.md-subtitle
    Comprador
  %hr{ "width"=>"100%", "color"=>"#E3CD48", "align"=>"left"}
  %div{layout: "column", 'ng-if' => 'saleOrder.buyer !== null'}
    /------------------------ CLIENT CARD ---------------------/

    %div{layout: "row"}
      %div.input-containers-false{flex: ""}
        %label.label-container-false
          Tipo
        %p.text-container-false
          {{buyer.rucom.provider_type}}
      %div.input-containers-false{flex: ""}
        %label.label-container-false
          Nombre
        %p.text-container-false
          {{buyer.first_name}}

      %div.input-containers-false{flex: ""}
        %label.label-container-false
          Apellido
        %p.text-container-false
          {{buyer.last_name}}

    %div{layout: "row"}
      %div.input-containers-false{flex: ""}
        %label.label-container-false
          Cédula
        %p.text-container-false
          {{buyer.document_number}}

      %div.input-containers-false{flex: ""}
        %label.label-container-false
          Telefono
        %p.text-container-false
          {{buyer.phone_number}}

      %div.input-containers-false{flex: ""}
        %label.label-container-false
          Dirección
        %p.text-container-false
          {{buyer.address}}


    %div{layout: "row"}
      %div.input-containers-false{flex: ""}
        %label.label-container-false
          Correo
        %p.text-container-false
          {{buyer.email}}

  %p.md-subtitle
    Vendedor
  %hr{ "width"=>"100%", "color"=>"#E3CD48", "align"=>"left"}
  %div{layout: "column"}
    /------------------------ USER CARD ---------------------/
    %md-content{flex: ""}
      %div{layout: "row"}
        %div.input-containers-false{flex: ""}
          %label.label-container-false
            Correo
          %p.text-container-false
            {{seller.email}}

        %div.input-containers-false{flex: ""}
          %label.label-container-false
            Cedula
          %p.text-container-false
            {{seller.document_number}}

        %div.input-containers-false{flex: ""}
          %label.label-container-false
            Gramos totales
          %p.text-container-false
            {{order.fine_grams | number:3 }} grs

        %div.input-containers-false{flex: ""}
          %label.label-container-false
            Precio Total
          %p.text-container-false
            ${{order.price | number:3}}

      %div{layout: "row"}
        %div.input-containers-false{flex: ""}
          %label.label-container-false
            Nombre
          %p.text-container-false
            {{seller.first_name}}
        %div.input-containers-false{flex: ""}
          %label.label-container-false
            Apellido
          %p.text-container-false
            {{seller.last_name}}

      %div{layout: "row"}
        %div.input-containers-false{flex: ""}
          %label.label-container-false
            Teléfono
          %p.text-container-false
            {{seller.phone_number}}

        %div.input-containers-false{flex: ""}
          %label.label-container-false
            Dirección
          %p.text-container-false
            {{seller.address}}

      %div{layout: "row"}
        %div.input-containers-false{flex: ""}
          %label.label-container-false
            Tipo
          %p.text-container-false
            {{seller.rucom.provider_type}}
          /------------------------ PURCHASES CARD ---------------------/
  %div.sell-card-info{flex: ""}
    %p.md-subtitle
      Lotes Seleccionados
    %hr{ "width"=>"100%", "color"=>"#E3CD48", "align"=>"left"}
    %md-content
      .card-inputs
        %table.sale-table
          %tr.table-head
            %th Fecha Compra
            %th Nombre Proveedor
            %th Tipo Proveedor
            %th Gramos (Finos)
          %tr.stripped{"ng-repeat" => "associatedPurchase in order.associated_purchases"}
            %th {{associatedPurchase.created_at}}
            %td {{associatedPurchase.seller.first_name}} {{associatedPurchase.seller.last_name}}
            %td {{associatedPurchase.seller.provider_type}}
            %td {{associatedPurchase.fine_grams | number:3}}
  .wizard-buttons.md-padding{:layout => 'row', "layout-align"=>"center"}

    %md-button.btn-save{ href: "{{order.purchase_files_collection.file.url}}", :target => "_self", "download"=>"purchase_files_collection.pdf"}
      Documentos de compra adjuntos
    %md-button.btn-save{ href: "{{order.proof_of_sale.file.url}}", :target => "_blank"}
      Compendio
    %md-button.btn-next.md-raised.md-primary{ 'ng-disabled' => "order.transation_state == 'paid'", 'ng-click' => 'markAsPaid()'}
      Marcar como pagado
