%div{:layout => "column"}
  .purchase-container
    %md-content{ "flex"=>"", "class"=>"", "layout"=>"row"}
      %md-content{"flex"=> "40", "class"=>"md-padding autocomplete", "layout"=>"column", "layout-align"=>"start start"}
        %h5{"flex"=> "10"}
          Comprador
        %table.md-table{"flex"=> ""}
          %tbody
            %tr
              %td.md-table-td-more
                Razon social:
              %td.md-table-td-more.value
                {{current_user.company_name}}
            %tr
              %td.md-table-td-more
                Nit:
              %td.md-table-td-more.value
                {{current_user.nit}}
            %tr
              %td.md-table-td-more
                Rucom:
              %td.md-table-td-more.value
                {{current_user.rucom_record}}
            %tr
              %td.md-table-td-more
                Nombre de usuario:
              %td.md-table-td-more
                {{current_user.first_name}} {{current_user.last_name}}
            %tr
              %td.md-table-td-more
                Sucursal:
              %td.md-table-td-more
                {{current_user.office}}
            %tr
              %td.md-table-td-more
                Direccion:
              %td.md-table-td-more.value
                {{current_user.address}}
            %tr
              %td.md-table-td-more
                Telefono:
              %td.md-table-td-more.value
                {{current_user.phone_number}}
      %md-content{"flex"=> "", "class"=>"", "layout"=>"row", "layout-align"=>"center start"}
        %md-content{"flex"=> "", "class"=>"md-padding autocomplete", "layout"=>"column", "layout-align"=>"center start"}
          %h5{"flex"=> ""}
            Proveedor
          %table.md-table{'flex' => ''}
            %tbody
              %tr.row
                %td.md-table-td-more
                  Razon social:
                %td.md-table-td-more.value
                  {{provider.company_name}}
              %tr
                %td.md-table-td-more
                  Nit:
                %td.md-table-td-more.value
                  {{provider.company_info.nit_number}}
              %tr
                %td.md-table-td-more
                  Rucom:
                %td.md-table-td-more.value
                  {{provider.rucom.rucom_record}}
              %tr
                %td.md-table-td-more
                  Nombre de usuario
                %td.md-table-td-more
                  {{provider.first_name}} {{provider.last_name}}
              %tr
                %td.md-table-td-more
                  Cedula
                %td.md-table-td-more
                  {{provider.document_number}}
              %tr
                %td.md-table-td-more
                  Direccion:
                %td.md-table-td-more.value
                  {{provider.address}}
              %tr
                %td.md-table-td-more
                  Telefono:
                %td.md-table-td-more.value
                  {{provider.phone_number}}
        %md-content{"flex"=> "30", "class"=>"md-padding autocomplete", "layout"=>"row", "layout-align"=>"center start"}
          .image.row
            .photo
              %img.face.cam{'alt'=>'Foto Proveedor', 'ng-src' => "{{purchase.seller_picture.url}}"}

    %md-content{"class"=>"", "layout"=>"row"}
      %h4
        Datos de la Compra
    %md-content{"class"=>"", "layout"=>"row"}
      .purchase-info{'flex' => ''}
        .row{'layout' => 'row'}
          .oc-number{'flex' => ''}
            %p
              Numero de Certificado de Origen
            %p
              {{purchase.origin_certificate_sequence}}
      .select-law{'flex' => ''}
        %p
          Ley
        %p
          {{purchase.gold_batch.grade}}
      .reference-code{'flex' => ''}
        %div{"ng-bind-html"=>"barcode_html"}
        {{purchase.code}}

    %md-content{"class"=>"", "layout"=>"column", "layout-align"=>"center start"}
      %h4
        Peso comprado
    %md-content{"class"=>"", "layout"=>"row"}
      %table.md-table{'flex' => ''}
        %thead
          %tr.md-table-headers-row
            %th.md-table-header
              Total Gramos Finos
            %th.md-table-header
              Precio por gramo Fino
            %th.md-table-header
              Precio TOTAL
        %tbody
          %tr
            %td.md-table-td-more
              %md-input-container
                {{ total_fine_grams | number:3}}
            %td.md-table-td-more
              %md-input-container
                $ {{ fine_gram_unit_price | number:2}}
            %td.md-table-td-more
              %md-input-container
                $ {{ price | number:2}}
 
        
    %a.md-button{href: "{{purchase.origin_certificate_file.url}}"}
      Certificados de origen adjuntos
