%div{"ng-controller" => "TransporterCtrl"}
  %md-content
    %div{"layout" => "row", "layout-align" => "center center"}
      %h1 New Transporter
       	%div{"layout" => "column"}
		  %md-content.md-padding
		    %form{"name" => "transporterForm", "ng-submit" => "newTransporter()"}
		      %div{"layout" => "", "layout-sm" => "column"}
		        %md-input-container{"flex" => ""}
		          %label Nombre
		          %input{"ng-model" => "transporterData.first_name"}
		        %md-input-container{"flex" => ""}
		          %label Apellido
		          %input{"ng-model" => "transporterData.last_name"}
		      %div{"layout" => "", "layout-sm" => "column"}
		        %md-input-container{"flex" => ""}
		          %label Telefono
		          %input{"ng-model" => "transporterData.phone_number"}
		        %md-input-container{"flex" => ""}
		          %label Email
		          %input{"ng-model" => "transporterData.email_address", "type" => "email"}
		      %div{"layout" => "", "layout-sm" => "column"}
		        %md-input-container{"flex" => ""}
		          %label Direccion
		          %input{"ng-model" => "transporterData.address"}
		      %div{"layout" => "", "layout-sm" => "column"}
		        %md-button.md-raised{"type" => "submit"} Guardar