---
http_interactions:
- request:
    method: get
    uri: https://app.alegra.com/api/v1/items
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic ZWplbXBsb2FwaUBkYXlyZXAuY29tOjA2NmIzYWIwOWU3MmQ0NTQ4ZTg4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Rate-Limit-Limit:
      - '150'
      X-Rate-Limit-Reset:
      - "-2"
      X-Rate-Limit-Remaining:
      - '149'
    body:
      encoding: UTF-8
      string: '[{"id":1,"name":"Cr\u00e9ditos Trazoro","description":null,"reference":"buy_credits","status":"active","category":{"id":"3","name":"Ventas"},"price":[{"idPriceList":"1","name":"General","price":"120000.0000"}],"tax":[{"id":"3","name":"IVA","percentage":"16.00","description":""}]},{"id":2,"name":"item2","description":"item2
        de venta","reference":"ref2","status":"active","category":{"id":"3","name":"Ventas"},"price":[{"idPriceList":"1","name":"General","price":"80.0000"}],"tax":[{"id":"3","name":"IVA","percentage":"16.00","description":""}]}]'
  recorded_at: Thu, 27 Oct 2016 22:18:09 GMT
- request:
    method: post
    uri: https://app.alegra.com/api/v1/invoices
    body:
      encoding: UTF-8
      string: '{"date":"2016-10-27 22:18:08 UTC","dueDate":"2016-10-27 22:18:08 UTC","client":1,"items":[{"id":1,"price":1000.0,"quantity":10.0,"discount":0.0,"description":"Créditos
        para usar los servicios Trazoro.","tax":[{"id":3}]}],"paymentMethod":"card","stamp":{"generateStamp":true}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic ZWplbXBsb2FwaUBkYXlyZXAuY29tOjA2NmIzYWIwOWU3MmQ0NTQ4ZTg4
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Rate-Limit-Limit:
      - '150'
      X-Rate-Limit-Reset:
      - '59'
      X-Rate-Limit-Remaining:
      - '148'
    body:
      encoding: UTF-8
      string: '{"id":"19","date":"2016-10-27","dueDate":"2016-10-27","observations":null,"anotation":null,"termsConditions":"Esta
        factura se asimila en todos sus efectos a una letra de cambio de conformidad
        con el Art. 774 del c\u00f3digo de comercio. Autorizo que en caso de incumplimiento
        de esta obligaci\u00f3n sea reportado a las centrales de riesgo, se cobraran
        intereses por mora.","status":"draft","client":{"id":"1","name":"Test","identification":"123456789","phonePrimary":"","phoneSecondary":"","fax":"","mobile":"3004232123","email":"cliente@test.com","address":{"address":"calle
        1 # 3-2","city":"Medellin"}},"numberTemplate":{"id":"1","prefix":null,"number":"19","text":null},"total":11600,"totalPaid":0,"seller":null,"priceList":null,"items":[{"id":1,"name":"Cr\u00e9ditos
        Trazoro","description":"Cr\u00e9ditos para usar los servicios Trazoro.","price":1000,"discount":"0","reference":null,"quantity":10,"tax":[{"id":"3","name":"IVA","percentage":"16.00","description":"","type":"IVA"}],"total":11600}]}'
  recorded_at: Thu, 27 Oct 2016 22:18:11 GMT
recorded_with: VCR 3.0.3
