---
http_interactions:
- request:
    method: post
    uri: https://app.alegra.com/api/v1/invoices
    body:
      encoding: UTF-8
      string: '{"date":"2016-10-27","dueDate":"2016-10-27","client":1,"items":[{"id":1,"price":120000.0,"quantity":2000.0,"discount":0.0,"description":"Créditos
        Trazoro","tax":[{"id":3}]}],"paymentMethod":"cash","stamp":{"generateStamp":true}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic ZWplbXBsb2FwaUBkYXlyZXAuY29tOjA2NmIzYWIwOWU3MmQ0NTQ4ZTg4
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Rate-Limit-Limit:
      - '150'
      X-Rate-Limit-Reset:
      - "-2"
      X-Rate-Limit-Remaining:
      - '149'
    body:
      encoding: UTF-8
      string: '{"id":"10","date":"2016-10-27","dueDate":"2016-10-27","observations":null,"anotation":null,"termsConditions":"Esta
        factura se asimila en todos sus efectos a una letra de cambio de conformidad
        con el Art. 774 del c\u00f3digo de comercio. Autorizo que en caso de incumplimiento
        de esta obligaci\u00f3n sea reportado a las centrales de riesgo, se cobraran
        intereses por mora.","status":"draft","client":{"id":"1","name":"Test","identification":"123456789","phonePrimary":"","phoneSecondary":"","fax":"","mobile":"3004232123","email":"cliente@test.com","address":{"address":"calle
        1 # 3-2","city":"Medellin"}},"numberTemplate":{"id":"1","prefix":null,"number":"10","text":null},"total":278400000,"totalPaid":0,"seller":null,"priceList":null,"items":[{"id":1,"name":"item1","description":"Cr\u00e9ditos
        Trazoro","price":120000,"discount":"0","reference":null,"quantity":2000,"tax":[{"id":"3","name":"IVA","percentage":"16.00","description":"","type":"IVA"}],"total":278400000}]}'
  recorded_at: Thu, 27 Oct 2016 20:16:08 GMT
recorded_with: VCR 3.0.3
