---
http_interactions:
- request:
    method: post
    uri: https://mandrillapp.com/api/1.0/messages/send-template.json
    body:
      encoding: UTF-8
      string: '{"template_name":"test_template","template_content":"","message":{"subject":"test
        email - test","from_name":"A name here","from_email":"no-reply@trazoro.co","merge":true,"to":[{"email":"pcarmonaz@gmail.com","name":"Fake
        name"}],"merge_vars":[{"rcpt":"pcarmonaz@gmail.com","vars":[]}],"global_merge_vars":[{"name":"POSTAL_ADDRESS","content":"Ruta
        N, Medellín - Antioquia"},{"name":"COMPANY_EMAIL","content":"soporte@trazoro.co"},{"name":"COMPANY_SITE","content":"www.trazoro.co"},{"name":"PHONE_NUMBER","content":"+(57)
        516-77-70 ext: 1035"}]},"async":false,"ip_pool":null,"send_at":null,"key":"3rQlxqb1FHr693HAu_c1XQ"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"email":"pcarmonaz@gmail.com","status":"sent","_id":"777e757261754f61a21e1de7c231de3a","reject_reason":null}]'
  recorded_at: Mon, 14 Nov 2016 17:20:39 GMT
recorded_with: VCR 3.0.3
