---
http_interactions:
- request:
    method: post
    uri: https://mandrillapp.com/api/1.0/messages/send-template.json
    body:
      encoding: UTF-8
      string: '{"template_name":"test_template","template_content":null,"message":{"subject":"welcome
        message - test","from_name":"A name here","from_email":"no-reply@trazoro.co","merge":true,"to":[{"email":"test@company.com","name":"test
        user"}],"merge_vars":[{"rcpt":"test@company.com","vars":[{"name":"NAME","content":"test
        user"}]}],"global_merge_vars":[]},"async":false,"ip_pool":null,"send_at":null,"key":"3rQlxqb1FHr693HAu_c1XQ"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"email":"test@company.com","status":"sent","_id":"084eb1b1ed6b4535ae759b4cf4e29477","reject_reason":null}]'
  recorded_at: Mon, 14 Nov 2016 20:14:22 GMT
recorded_with: VCR 3.0.3
