%md-dialog.user-type-dialog{"aria-label" => ""}
  %form.purchase-form{:name => "authorizedProviderForm", "novalidate" => "novalidate"}
    %md-dialog-content.sticky-container
      %section{layout: "row"}
        // ---------------------- seller info ------------------- ///
        %div.md-padding{flex: ""}
          %div{:layout => "column"}
            %h2 
              Búsqueda de proveedor autorizado
            %h3{:style => "padding-right: 50px;"}
              1. Seleccione el tipo de productor autorizado:
            
            %md-radio-group{"ng-model"=>"provider.providerType", "name" => "providerType", :required => "" }
              %md-radio-button.md-primary{ "value" => "Barequero" }Barequero
              %md-radio-button{ "value" => "Chatarrero" } Chatarrero

          %div{:layout => "column"}
            %h3
              2. Ingrese el número de documento del Proveedor:
            %div.fieldset-inputs
              %div{layout: "row"}

              %md-input-container{"name"=>"idNumber", "md-no-float"=>""}
                %input{"ng-model"=>"provider.idNumber", "name"=>"idNumber", :required => "", "ng-minlength"=>"7", "placeholder"=>"Ingrese la cédula sin puntos", "type"=>"Number"}
                //%span{"md-highlight-flags" => "^i", "md-highlight-text" => "searchText"} 155357
                %md-not-found
        %br
        %div{}
        %p{"color"=>"red", :ng-if=> "anyErrors()"} No se encontró el proveedor

      .wizard-buttons{:layout => 'row', , "class"=>"md-padding autocomplete",  "layout-align"=>"end end"}
        %tr-loading-view{ "ng-show"=>"showLoading","mode"=>"loadingMode","progress"=>"loadingProgress", "message"=>"loadingMessage"}
        %md-button.md-primary{"ng-click" => "cancel()"} Cancelar
        %md-button.md-button.md-raised{ "ng-disabled" => 'authorizedProviderForm.$invalid', "ng-click" => "queryRucomByIdNumber($event, provider.idNumber, provider.providerType)", "ng-hide" => "showLoading"} Consultar
        %md-button.btn-save.md-button{ :ng-if => "purchase.model.type == 'trazoro'","ng-disabled" => 'purchaseForm.$invalid', "ui-sref"=>"new_purchase.step3", "ng-click" => "saveState()"} Continuar
    
