%md-dialog.user-type-dialog{"aria-label" => ""}
  %form.purchase-form{:name => "authorizedProviderForm", "novalidate" => "novalidate"}
    %md-dialog-content.sticky-container
      %section{layout: "row"}
        // ---------------------- seller info ------------------- ///
        %div.md-padding{flex: ""}
          %fieldset.standard.tr-fieldset{:layout => "column"}
            %legend
              %h3
                1. Ingrese el documento del Proveedor
            %div.fieldset-inputs
              %div{layout: "row"}

              %md-input-container{"name"=>"idNumber"}
                %input{"ng-model"=>"provider.idNumber", "name"=>"idNumber", :required => "", "ng-minlength"=>"7", "placeholder"=>"Ingrese la cédula sin puntos", "type"=>"Number"}
                //%span{"md-highlight-flags" => "^i", "md-highlight-text" => "searchText"} 155357
                %md-not-found
        %br
        %div{}
        %p{"color"=>"red", :ng-if=> "anyErrors()"} No se encontró el proveedor

      .wizard-buttons{:layout => 'row', , "class"=>"md-padding autocomplete",  "layout-align"=>"end end"}
        %md-button.btn-save.md-button.md-raised{ "ng-disabled" => 'authorizedProviderForm.$invalid', "ng-click" => "queryRucomByIdNumber($event,provider.idNumber)", "ng-hide"=>"showLoading"} Consultar
        %md-button.btn-save.md-button{ :ng-if => "purchase.model.type == 'trazoro'","ng-disabled" => 'purchaseForm.$invalid', "ui-sref"=>"new_purchase.step3", "ng-click" => "saveState()"} Continuar

      %md-button.md-primary{"ng-click" => "cancel()"} Cancelar
    %tr-loading-view{ "ng-show"=>"showLoading","mode"=>"loadingMode","progress"=>"loadingProgress", "message"=>"loadingMessage"}
