%div.general-container{:layout => "column","ng-hide"=>"showLoading"}
  %md-tabs{"ng-if"=>"currentAuthorizedProvider", "md-dynamic-height"=>""}
    /********************************************** PERSONAL DATA ******************************************************/
    %md-tab{"label"=>"Datos Personales"}
      .provider-info

        %div{layout: 'row'}
          .photo-container{flex: '30'}
            %div{layout: 'row', "layout-align" => "center start"}
              %h2
                DATOS PERSONALES

            %img.face{:alt => "", "ng-src" => "{{currentAuthorizedProvider.photo_file.medium.url}}"}
            %md-button.btn-next.md-raised.md-primary{"ui-sref"=>"edit_authorized_provider({ id: currentAuthorizedProvider.id })"} Editar Información

          .fields-container{flex: '70'}


            %div{layout: "row"}
              %div.input-containers-false{flex: ""}
                %label.label-container-false
                  Nombre Proveedor
                %p.text-container-false
                  {{currentAuthorizedProvider.first_name}}

              %div.input-containers-false{flex: ""}
                %label.label-container-false
                  Apellido
                %p.text-container-false
                  {{currentAuthorizedProvider.last_name}}
            %div{layout: 'row'}
              %div.input-containers-false{flex: ""}
                %label.label-container-false
                  Número de identificación
                %p.text-container-false
                  {{currentAuthorizedProvider.document_number}}


            %div{layout: 'row'}

              %div.input-containers-false{flex: ""}
                %label.label-container-false
                  Teléfono
                %p.text-container-false
                  {{currentAuthorizedProvider.phone_number}}
              %div.input-containers-false{flex: ""}
                %label.label-container-false
                  Dirección
                %p.text-container-false
                  {{currentAuthorizedProvider.address}}

            %div{layout: 'row'}

              %div.input-containers-false{flex: ""}
                %label.label-container-false
                  Email
                %p.text-container-false
                  {{currentAuthorizedProvider.email}}

            %div{layout: 'row'}

              %div.input-containers-false{flex: ""}
                %label.label-container-false
                  Número Rucom
                %p.text-container-false
                  {{currentAuthorizedProvider.rucom.rucom_number}}


            %div{layout: 'row'}
              %div.input-containers-false{flex: ""}
                %label.label-container-false
                  Tipo
                %p.text-container-false
                  {{currentAuthorizedProvider.rucom.provider_type}}

              %div.input-containers-false{flex: ""}
                %label.label-container-false
                  Estado
                %p.text-container-false
                  {{currentAuthorizedProvider.rucom.status ? currentAuthorizedProvider.rucom.status : 'Inscrito'}}

            %div{layout: 'row'}

              %div.input-containers-false{flex: ""}
                %label.label-container-false
                  Ciudad
                %p.text-container-false
                  {{currentAuthorizedProvider.city.name}}

              %div.input-containers-false{flex: ""}
                %label.label-container-false
                  Departamento
                %p.text-container-false
                  {{currentAuthorizedProvider.state.name}}

            %div.external-user-map{"ng-bind-html"=>"map_iframe"}

    /*************************************** DOCUMENTATION TAB*******************************/

    %md-tab{label: "Documentacion"}
      %md-content.md-padding
        %div{:layout => "row", "layout-align" => "space-around center", "layout-margin" => "", "layout-sm" => "column"}
          %md-button{:class => "md-raised", :flex => "15", "ng-href" => "{{currentAuthorizedProvider.id_document_file.url}}", :target => "_blank"}
            %p Cédula de Ciudadanía
            %img.md-card-image.pdf-preview{:alt => "Cédula", "ng-src" => "{{currentAuthorizedProvider.id_document_file.preview.url || 'img/pdf.png'}}"}

          %md-button{"ng-if"=>"currentAuthorizedProvider.mining_authorization_file.url",:class => "md-raised", :flex => "15", "ng-href" => "{{currentAuthorizedProvider.mining_authorization_file.url}}", :target => "_blank"}
            %p Registro Minero del Usuario
            %img.md-card-image.pdf-preview{:alt => "Cédula", "ng-src" => "{{currentAuthorizedProvider.mining_authorization_file.preview.url || 'img/pdf.png'}}"}

%tr-loading-view{"ng-show"=>"showLoading","mode"=>"loadingMode","progress"=>"loadingProgress", "message"=>"loadingMessage"}

