.general-container
  %form.purchase-form{:name => "purchaseForm", "novalidate" => "novalidate"}
    %section{layout: "row"}
      %div.md-padding{flex: ""}
        // ---Purchase Type
        %h3
          Por favor lea con atención la aceptación del Acuerdo.
        %div.fieldset-inputs
          %md-input-container{class: "md-block", flex: '100' }
            %textarea{:rows => '7', :readOnly => 'true',
                      "ng-model" => "authorizedProvider.habeas_data_agreetment",
                      :name => 'habeas_data_agreetment'}
          %div{layout: "row"}
            %md-input-container{flex: ""}
              %md-checkbox{ :ng-model => 'chkAgreetmentActive',
                            :required => ''} Acepto los términos y condiciones


        %section.signature-section.md-padding{flex: '', layout: 'column'}
          %div{flex: '', layout: 'row', "layout-align"=>"center center"}
            %textarea{ cols: "50", rows: "4", id: "txtDisplay", style: 'visibility-fake: hidden;'}
          %div{flex: '', layout: 'row', "layout-align"=>"center center"}
            #imageBox{  flex: ''}
          %div.signature-text-wrapper{flex: '', layout: 'row', "layout-align"=>"center center"}
            .signature-text
              Firma

        .wizard-buttons.md-padding.autocomplete{layout: "row", "layout-align"=>"center"}
          %md-button.btn-save{  flex: "20", 'ng-click' => 'restartSessionDevice()'} Iniciar Dispositivo
          %md-button.btn-save{ flex: "20", 'ng-click' => 'captureSignature()'} Firmar

          %md-button.btn-back-black{ "ui-sref" => "index_authorized_provider"}
            %md-icon{ "md-svg-icon"=>"/img/icons/purchase/back-flecha-yellow.svg" }
            Volver

          %md-button.btn-next.md-raised.md-primary{"ng-click" => "continue()"} Continuar
            %md-icon{ "md-svg-icon"=>"/img/icons/landing/flecha-negra.svg" }

        

