html,
body {
  margin:0;
  padding:0;
  height:100%;
}


#wrapper {
  min-height: 100%;
  position:relative;
}
#header {
  background:#ededed;
}
#content {
  padding-bottom:100px; /* Height of the footer element */
  width: 100%;
  display: inline-block;
  margin-bottom: 40px;
}
#footer {
  width:100%;
  height:100px;
  position:absolute;
  bottom:0;
  left:0;
  padding-top: 25px;
}

h1,h2,h3,h4,h5 {
  text-align: center;
}

.md-card-login .login-button{
  width: 100%;
}

.padding{
  padding: 10px;
}


.margined{
  margin: 5px;
}


// -------- COMMON STYLES ---------- //
md-toolbar.md-default-theme {
  color: rgba(255,255,255,0.87);
  //background: url("/img/background1.png");
  //background: #ebeae5;  

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

md-input-container.md-default-theme .md-input {
  color: rgba(0,0,0,0.87);
  border-color: rgba(0,0,0,0.12);
  background: white;
  padding-left: 10px;
}
md-input-container.md-default-theme .md-input:read-only{
  background: #eee!important;
}


a{
  color: #231f20!important;
}

.trazoro-padding{
  padding-left: 50px!important;
  padding-right: 50px!important; 
}

md-input-container.md-default-theme .md-input {
  color: rgba(0, 0, 0, 0.87);
  border-color: rgba(0, 0, 0, 0.12);
  background: white;
  padding-left: 10px;
  border: 1px solid darken(#eee, 10%)!important;
}


md-input-container label:not(.md-no-float), md-input-container .md-placeholder {
  padding-left: 10px;
}

.search-tool-header{
  padding: 10px 30px 0 30px;

  .md-input{
    padding-left: 30px!important;
  }
  md-icon.search{
    margin-left: 5px;
    fill: #eee!important;
  }
}

input[disabled]{
  background-image: none!important;
}

.md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input {
  border-color: rgb(237,176,57)!important;
}

md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused md-icon {
  fill: rgb(237,176,57)!important;
}

.md-table tr:hover{
  background: rgba(#edb039, 0.2) !important;
}

.pdf-preview{
  width: 100%;
}

.fields-container{
  md-input-container{
    margin-right: 10px;
  }
  md-autocomplete{
    margin-right: 15px;
  }
}

.loading-dialog{
  padding: 50px;
}

.md-tabs-content .md-tab-content {
  padding-bottom: 20px;
}
