h1,h2,h3,h4,h5 {
  text-align: center;
}

.md-card-login .login-button{
  width: 100%;
}

.padding{
  padding: 10px;
}

.main-container{
  // background-color: #E7E7E7;
  margin-bottom: 20px;
}

.main-content{
  // margin: 0px 0 40px 0;
  // padding-bottom: 50px;
}


// @media only screen and (min-width : 960px) {
//   .container {
//     margin-left: 10%;
//     margin-right: 10%;
//   }
// }

.margined{
  margin: 5px;
}


// -------- COMMON STYLES ---------- //
md-toolbar.md-default-theme {
  color: rgba(255,255,255,0.87);
  //background: url("/img/background1.png");
  background: #ebeae5;  

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

md-input-container.md-default-theme .md-input {
  color: rgba(0,0,0,0.87);
  border-color: rgba(0,0,0,0.12);
  background: white;
}
