.info{
  md-input-container{
    margin-bottom: 20px;
  }
}
.rucom-box{
   position: relative;
  input{
    display: block; border: 1px solid #d7d6d6; background: #fff;
    padding: 20px 10px 10px 80px !important;
    width: 195px;
  }
  .rucom-prefix{
    position: absolute; display: block; left: 5px; top: 44px; z-index: 9;
  }
}