//----- Dashboard Styles-----//

.md-button.login-button {
  padding-top: 10px;
  padding-bottom: 10px;
}

.credit-card .md-subheader{
  text-align: center;
  font-size: 16px;
}

.credit-card md-item{
  font-size: 15px;
}

.credit-card .credit-value{
  text-align: center;
}

.user-card .md-subheader{
  text-align: left;
  font-size: 16px;
}

.user-card md-item{
  font-size: 15px!important;
}


.dashboard-buttons{
  .md-button{
    width: 200px;
    margin: 20px;
    padding: 20px;

  }
}

.credits_select_bar{
  width: 100%!important;
  .md-option{
    width: 100%!important;
  }
  md-select-label{
    width: 100%;
  }
}

.title-dash{
  letter-spacing: 1.5px;
  font-family: 'Source Sans pro';
font-size: 15px;

}


.content-dash{
font-family: 'Source Sans pro';
letter-spacing: 1px;
font-size: 14px;

  md-list-item.md-no-proxy, md-list-item .md-no-style {
    padding: 0px 0px;
  }

}

.credits_buy_button{
  width: 100%;
}

.dashboard-user-info .user-photo{
  width: 140px;
  height: 140px;
  border: 5px solid #e3cd48;
  border-radius: 50%;
  padding: 1px;
}


.dashboard-user-utilities{
  font-family: 'oswald', sans-serif;
  font-weight: 300;
  font-size: 22px;
  .user-info{
    margin-top: 30px;
    margin-bottom: 40px;
  }
  h2{
    margin: 0px;
  }
  h2.username{
    font-weight: 400;
  }
  .md-button{
    padding: 0px;
    text-transform: initial;
    font-size: 22px;
    text-align: left;
    border: 0;
    font-weight: 300;
    margin: 0px;
    font-weight: 300;
    font-size: initial;
    letter-spacing: 1px;

      md-icon.md-default-theme {
      color: #e3cd48;
    }
  }
}

.dashboard-content{
  text-align: center;
}
.dashboard-user-info{
  display: inline-block;
  margin: 10px;
}
.dashboard-user-info .info-container{
  margin-left: 20px;
  //width: 400px;
  margin-top: 15px;
  h4{
    text-align: left;
    font-weight: 1px;
    color: #bbbcbb;
    margin-bottom: 8px;
    margin-top: 8px;
    font-weight: 400;
    .info{
      display: inline-block;
      color: #8d8e8f;

    }
  }
}

.dashboard-credit-info{
  width: 100%;
  text-align: right;
  .credits{
    display: inline-block;
    width: 400px;
    background: #ebeae5;
    padding-bottom: 20px;
  }
  .credits h3{
    color: #8d8e8f;
    font-weight: 600;
  }
  .value{
    text-align: right;
    color: #231f20;
    font-weight: 900;
    font-size: 37px;
  }

  .subtitle{
    font-weight: 300;
    font-family: 'oswald';
    font-size: 22px;
  }

  .num-credits{
    font-family:'oswald';
    font-weight: 700;
    font-size: 50px;
    color: #e3cd48;
    text-align: right;
  }

  .bt-buy-credits{
    color: #e3cd48!important;
    font-weight: bold!important;
    background-color: black !important;
    font-size: 22px !important;
    font-family: 'oswald'!important;
    margin: 0px !important;

  }

}