.external-info-container{
  h2{
    text-align: left!important;
    font-size: 1.2em!important;
    font-weight: lighter;
  }
  label{
    font-size: 0.8em!important;
    color: darken(#eee, 20%)!important;
    font-weight: bold!important;
  }
}