//--------- Home Styles ----------- //
.div-trazoro.gold{
  color: rgba(255,255,255,0.87);
  background: url("/img/background1.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-form{
  
}