//----- Provider Styles-----//
.md-whiteframe-z4 {
  box-shadow: none;
}

.inventory-table{

  .md-table-header{
    text-align: left!important;
    width: 100px!important;
    padding-left: 0px;
    padding-right: 0px;
  } 
  .md-table-content{
    text-align: left!important;
    width: 100px!important;
    padding-left: 0px;
    padding-right: 0px;
  }
  .table-checkbox{
    width: 10px!important;
    color: rgb(130,130,130);
    padding: 16px 16px 16px 0;
    text-align: center;
  }
  .table-checkbox.all-check{
    border-bottom: 1px solid rgb(230,230,230);
  }
  .md-table-footer{
    width: 100%;
    height: 50px;
    background-color: white;
    border-top: 1px solid #eee;
    padding-top: 5px;
    padding-left: 50px!important;
    padding-bottom: 0px!important;
    margin-bottom: 0px!important;
  }
  tbody tr:last-child{
    margin-bottom: 20px;
    
  }
  .row-selected{
    background-color: green;
  }
}

.dialog-inventory-form{
  .md-button{
    width: 100%;
    padding-top: 10px;
  }
  md-select{
    width: 100%!important;
  }
}

.item-selected{
  color: rgb(63,81,181);
}

.inventory-options-head{
  border-bottom: 1px solid #eee; 
  .md-button{
    width: 250px;
  }
}

.provider_photo{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
