//----- Provider Styles-----//
.md-whiteframe-z4 {
  box-shadow: none;
}

.hidden{
  display: none!important;
}

.inventory-table{

  .md-table-header{
    text-align: left!important;
    width: 100px!important;
    padding-left: 0px;
    padding-right: 0px;
  } 
  .md-table-content{
    text-align: left!important;
    width: 100px!important;
    padding-left: 0px;
    padding-right: 0px;
  }
  .table-checkbox{
    width: 10px!important;
    color: rgb(130,130,130);
    padding: 16px 16px 16px 0;
    text-align: center;
  }
  .table-checkbox.all-check{
    border-bottom: 1px solid rgb(230,230,230);
  }
  .md-table-footer{
    width: 100%;
    height: 50px;
    background-color: white;
    border-top: 1px solid #eee;
    padding-top: 5px;
    padding-left: 50px!important;
    padding-bottom: 0px!important;
    margin-bottom: 0px!important;
  }
  tbody tr:last-child{
    margin-bottom: 20px;
    
  }
  .row-selected{
    background-color: green;
  }
}

.dialog-inventory-form{
  .md-button{
    width: 100%;
    padding-top: 10px;
  }
  md-select{
    width: 100%!important;
  }
}

.item-selected{
  color: #edb039;
}

.inventory-options-head{
  //border-bottom: 1px solid #eee; 
  .md-button{
    width: 250px;
  }
}

.provider_photo{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.liquidate-inventory-view{
  padding: 5px;
  .selected_amount{
    width: 100%;
    padding: 10px;
    border: 1px solid #eee;
    background: #ffcb34;
    text-align: center;
  }
  .total_amount{
    width: 100%;
    padding: 10px;
    border: 1px solid #eee;
    //background: lighten(rgb(255,64,129), 30);
    background: #edb039;
    text-align: center;
  }

}

.dialog-ingots-form{
  h3{
    margin-bottom: 0;
  }
  md-select{
    width: 100%;
    margin-bottom: 20px;
  }
  .md-button{
    width: 100%;
  }
}

.ingot_form{
  padding-bottom:20px;
  md-input-container{
    overflow-x: visible!important;
  }
  md-input-container.md-docs-dark-theme label, md-input-container.md-docs-dark-theme .md-placeholder {
    text-shadow: 1px 1px 0px rgba(0,0,0,0.4), -1px -1px 0px rgba(0,0,0,0.4); 
    color: rgba(255,255,255,0.6);
  }
  h3{
    //color: rgb(255,235,59);
    color: white;
  }
  input , input[disabled]{
    color: white!important;
  }
}

.sale-form{
  .submit-button{
    width: 100%;
  }
}

.customer-form{
  margin-bottom: 10px;
  md-autocomplete{
    margin-bottom: 4px;
  }
  .courier-info{
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
  }
  .customer-info{
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.amount-dialog{
  width: 400px;
}

.liquidation-messages{
  .valid{
    padding:10px;
    border: 1px solid #eee;
    width: 100%;
    text-align: center;
    background: #71d883;
  }
  .invalid{
    padding:10px;
    border: 1px solid #eee;
    width: 100%;
    text-align: center;
    background: lighten(rgb(255,64,129), 30)
  }
}

.customer-form{
  margin-top: 70px!important;
  margin-bottom: 50px;
}

.ingot-submit-btn{
  padding: 30px;
}


.tr-fieldset{
  padding-bottom: 20px;
  position: relative;
  md-autocomplete{
    margin-bottom: 10px;
  }
  md-input-container{
    padding-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
    input[disabled]{
      color: black!important;
      background: #eee!important;
    }
  }
}


.fieldset-inputs{
  position: relative;
  width: 100%;
  .progress-fieldset{
    background: white;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    padding-top:30px;
  }
}

.purchase-empty{
  background: lighten(red, 30%);
}

.inventory-index-table{
  tbody tr{
    border-bottom: 1px solid #eee;
  }
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}


.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}
