.marketplace{
  .marketplace-card{
    h1, h2, h3, h4 {
      text-align: left;
    }
    img.face{
      width: 150px;
      margin: 16px;
      height: 150px;
    }
  }
}
section.marketplace-resume{
  h1, h2, h3, h4 {
    text-align: left;
  }
}

.seller-img{

}
