md-input-container {
  // .md-input, &.md-icon-float, &.md-input-focused, &.md-input-has-value {
    // color: rgba(0, 0, 0, 0.87);
    // padding-left: 10px;
  // }
  border-color: rgba(0, 0, 0, 0.12);
  background: white;
  border: 1px solid darken(#eee, 10%);
  height: 50px;
  min-width: 300px;
  &.md-input-has-value.textarea{
    height: 100%;
    textarea{
      padding: 10px;
      background-color: rgb(200, 200, 200);
    }
  }
  .md-input, .md-select-value{
    height: 50px;
    border: 0;
  }
  &.md-input-invalid{
    border: 1px solid red;
  }
  label{
    height: 50px;
    &:not(.md-container-ignore){
        position: absolute;
        bottom: 0;
        top: -21px;
        left: 0;
        right: auto;
    }
  }
  &.not-border{
     border: 0px;
  }
  &.without-min-width{
    min-width: 0px;
  }
}

// md-input-container .md-input:read-only{
//   background: #eee!important;
// }


// md-input-container label:not(.md-no-float), md-input-container .md-placeholder {
//   padding-left: 10px;
// }

// Radio Inputs
md-radio-button, .md-switch-thumb {
  letter-spacing: 1px;
  font-family: 'Source Sans Pro';
  font-weight: 700;
}

// Checkbox input
md-checkbox.md-checked .md-icon{
  background-color: #e3cd48;
}

