a {
  text-decoration: none;
}

i {
  vertical-align: middle;
  font-size: 24px;
}

.main-fab {
  position:absolute;
  z-index:20;
  font-size:30px;
  top:100px;
  left:24px;
  transform:scale(.88,.88);
}

.md-breadcrumb {
  padding-left:88px;
}

.md-table {
  min-width: 100%;
  border-collapse: collapse;
  tr{
    padding-top: 0!important;
    padding-bottom: 0!important;
    &:hover{
      background: rgba(#ebdc7f, 0.5) !important;
    }
  }
  td{
    max-width: 150px;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
    border-bottom: 1px solid #e3cd48;
    font-family: 'Source Sans Pro';
    font-weight: 300;
    text-transform: uppercase;
  }
}

.md-table tbody tr:hover, .md-table tbody tr:focus {
  cursor:pointer;
  background-color:rgba(63,81,181,0.2);
}

.md-table-header {
  color: rgba(0,0,0,0.87) ;
  border-bottom: 2px solid #e3cd48;
  text-align: left;
  text-transform: uppercase;
  font-family: 'Oswald';
  font-size: 0.75em;
  font-weight: 500;
  padding: 16px 16px 16px 0;
  a{
    text-decoration: none;
    color: inherit;
  }
}

.md-table-content {
  white-space: nowrap;
  font-size: 0.8em;
  padding: 16px 16px 16px 0;
  height: 50px;
}

.md-table-td-more {
  max-width:72px;
  width:72px;
  padding:16px;
}

.md-table-thumbs {
  max-width: 104px;
  width: 104px;
  padding: 10px 10px;
  text-align: center;
  div {
    display: inline-block;
    overflow:hidden;
    width: 40px;
    height:40px;
    border-radius:20px;
    border: 1px solid rgba(0,0,0,0.2);
    background-size:cover;
    box-shadow: 0 8px 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 8px 10px rgba(0,0,0,.1);
  }
}

.md-table-footer {
  height:40px;
  padding-left: 32px;
  padding-right: 32px;
}

.md-table-count-info {
  line-height:40px;
  font-size:.75em;
}

.md-table-footer-item {
  width: 40px;
  height: 40px;
  vertical-align:middle;
}

.md-table-active-page {
  font-weight: 700;
}

input#search-prov-name {
  color: white !important;
  border-color: white !important;
  margin-top: 24px !important;
}

input#search-prov-id {
  color: white !important;
  border-color: white !important;
  margin-top: 24px !important;
}

#search-prov-name + div.md-placeholder {
  color:rgba(255,255,255,0.7) !important;
}

#search-prov-id + div.md-placeholder {
  color:rgba(255,255,255,0.7) !important;
}

.pdf-preview{
  width: 100%;
}

.md-table-count-info {
  line-height: 40px;
  font-size: .75em;
  text-transform: uppercase;
  font-family: 'Oswald';
  font-weight: 700;
}
