.user-photo{
  width: 120px;
  height: 120px;
  border: 2px solid #e3cd48;
  border-radius: 50%;
}
tr-nav-button .md-button{
  width: 100%;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 25px;
  text-align: left;
  text-transform: none;
  font-weight: 350;
  border-radius: 0px!important;
}
.sidebar-options .md-button{
  width: 100%;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 25px;
  text-align: left;
  text-transform: none;
  font-weight: 350;
  border-radius: 0px!important;
}

tr-nav-button .md-button.active{
  color: #bd8c31;
}
.nav-bar{
  .sidebar-options, .session-buttons{
    margin: 10px 0 0px 10px;
  }
}

.menu-top-nav{
  ul{
    list-style: none;
  }

  // #menu>li>ul{
  // display: none;
  // }

  #menu>li:hover>ul {
  display:block;
  }

  #menu li>a{
  color: #E3CD48;
  text-decoration: none;
  background-color: black;
  display: block;
  padding: 10px;
  min-width: 100px;

  }

  #menu li>a:hover{
  color: white;
  background-color: #333333;
  }

  #menu>li{
  float: left;
  text-align:center
  }
}