//----- Provider Styles-----//

img.face {
  border-radius: 50%;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px;
}

pre {
  font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
}

