//----- Provider Styles-----//

.photo-container{
  text-align: center;
}
img.face {
  border-radius: 50%;
  border: 4px solid #ffcb34;
  width: 200px;
  margin: 16px;
  padding: 5px;
}

pre {
  font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
}

.provider-info{
  margin-top: 20px;
  margin-bottom: 50px;
  max-width: 90%;
}

.info-buttons{
  margin-top: 50px;
  .md-button{
    margin-left: 10px;
    margin-right: 10px;
  }
}

.btn-next{
  background: #edb039;
  border: 4px solid #ffcb34;
  color: white!important;
  font-weight: bold;
  width: 200px;
}

.btn-next:hover{
  background: lighten(#edb039, 3%)!important;
}

.btn-cancel{
  width: 200px;
  border: 4px solid transparent;
}

.btn-save{
  min-width: 200px!important;
}

.btn-save:enabled{
  background: #edb039!important;
  border: 4px solid #ffcb34;
  font-weight: bold;
} 

.btn-save:disabled{
  border: 4px solid transparent;
}