//----- Purchase Styles-----//
.purchase-autocomplete{
  ul {
    max-height: 60px;
  }
}
md-card.seller{
  .md-subheader{
    margin-bottom: 10px;
  }
}
.create-provider{
    .md-fab{
      position: absolute;
      top: 0;
      // right: 10px;
      transform: scale(.88,.88);
    }
}
.row{
  .photo{
      position: relative;
      z-index: 20;

    .md-fab{
      position: absolute;
      top: 0;
      transform: scale(.88,.88);
    }

    img.face.cam{
      line-height: 130px; /* Equals height of image */
      vertical-align: middle; /* Aligning vertically */
      color: white; /* Better contrast than blue on black */
      background-color:#ccc;
      text-align: center;
      position: relative;
      height: 125px;
      width: 125px;
      border:none;
      outline: none;
      border: 10px solid #E3CD48;
    }
    .photo-provider-button{
      margin-top: 10px;
      margin-bottom: 10px;
      width: 60px;
    }
  }

  .origin-certificate{
    margin-top: 10px;
  }

  section{
    margin: 100px 0;
  }
}
.wizard-buttons{
  margin-top: 0px;
}

.medidas{
  
  height: 70px !important;
  
}



.purchase-container{
  h5{
      text-align: left;
  }
  margin-left: auto;
  margin-right: auto;
  max-width: 1040px;
  position: relative;
  width: 100%;
.md-table-td-more {
   padding: 5px;
}
}

.input-num-value{
  color: rgb(227,205,72) !important;
  border-color: rgba(0, 0, 0, 0.12);
  background: white;
  padding-left: 10px;
  border: 1px solid #d4d4d4;
  font-family: 'Oswald';
  letter-spacing: 2px;
  font-size: 26px;
}

/////
.chipsdemoContactChips md-content.autocomplete {
  min-height: 250px; }
.chipsdemoContactChips .md-item-text.compact {
  padding-top: 8px;
  padding-bottom: 8px; }

.purchase-form{
  margin-top: 40px;
  .photo{
    text-align: center;
    margin-top: 30px;
  }
  fieldset{
    margin: 15px!important;
  }
  fieldset.photo-fieldset{
    height: 247.5px;
  }
}
.create-provider-button{
  margin-left: 15px;
}

.image-container{
  position: relative;
  display: inline-block;
}

.image-container:hover {
    background: url("/img/take-photo.png");
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
}

.uploader-certificate-form{
  margin-top: 40px;
  md-input-container{
    padding-bottom: 25px!important;
  }
  .origin-certificate-number{
    //width: 300px;
  }
  .origin-certificate-fieldset{
    min-height: 300px;
  }

  .uploader-selector{
    width: 100%;
  }
  md-select{
    margin-top: 0!important;
  }
}

.signature-section{
  #imageBox{
    padding-top: 10px;
    width: 400px;
    height: 180px;
  }
  .signature-text-wrapper{
    .signature-text{
      width: 500px;
      text-align: center;
      border-top: 1px solid #000;
    }
  }
}

.upload-oc{
  border: 1px solid #eee;
  min-height: 150px;
  background: #eee;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 20px;
  text-align: left!important;
}
.uploader-certificate-tab{
  margin-top: 10px;
}
.origin-certificate-fieldset{
  padding-left: 30px!important;
}

.red-text{
  color: red;
}
// Steo 0
.purchase-form{
  .fieldset-inputs.find-provider{
    padding: 18px 0 0 0;
  }
}

