//----- Purchase Styles-----//

// md-card.seller{
//   .md-subheader{
//     margin-bottom: 10px;
//   }
// }
.seller{
  .photo{
  }

  .origin-certificate{
    margin-top: 10px;
  }

  section{
    margin: 100px 0;
  }
}
.wizard-buttons{
  margin-top: 50px;
}