//-------------------
// SALE VIEW STYLES
//--------------------

.sale-show-content{
  h1{
    text-align: left;
    padding-left: 10px;
    color: rgba(0,0,0,0.54);
    text-decoration: underline;
  }
}
.sell-card-info{
  md-toolbar{
    height: 40px!important;
    min-height: 40px!important;
    h3{
      font-size: 15px;
    }
  }
}