.sidebar{
    md-sidenav.md-locked-open, md-sidenav.md-locked-open.md-closed, md-sidenav.md-locked-open.md-closed.md-sidenav-left, md-sidenav.md-locked-open.md-closed, md-sidenav.md-locked-open.md-closed.md-sidenav-right, md-sidenav.md-locked-open-remove.md-closed {
    margin-top: 64px;
    position: absolute;
  }
}

md-toolbar{
  .md-button{
    text-transform: none;
  }
}

.navigation{
  position: relative;
}
.navigation .side-button-options{
  position: absolute;
  width: 50px;
  top: 20px;
  left: 90px;
  .md-button{
    border: 1px solid lighten(#edb039, 10%);
    color: #bd8c31;
  }
}

md-sidenav{
  z-index: 2000;
}
.mini-top-bar{
  height: 90px;
  padding-top: 10px;
  padding-bottom: 6px;
  text-align: center;
  border-bottom: 2px solid #edb039;
}


.icon-toolbar{
  
}

.top-nav-buttons{
  .md-button{
    background-color: transparent!important;
    color: #e3cd48 !important;
  }
  .md-button:hover{
    background-color: black !important;
    color: white !important;
  .btn-cont{
    text-align: center;
    
 } 
}
}
.top-nav-button.selected{
  background-color: white;
  color: white !important;
}

.trazoro-icon-small{
  width: 80px;
}

.logo-bitbang{
  width: 40px;
}

.uploader-certificate-tab{
  text-align: center!important;
}

.mini-top-bar{
  display: relative;
}
.logout-top-link{
  float: right;
  margin-right: 20px;
  display: absolute;
}