.sidebar{
    md-sidenav.md-locked-open, md-sidenav.md-locked-open.md-closed, md-sidenav.md-locked-open.md-closed.md-sidenav-left, md-sidenav.md-locked-open.md-closed, md-sidenav.md-locked-open.md-closed.md-sidenav-right, md-sidenav.md-locked-open-remove.md-closed {
    margin-top: 64px;
    position: absolute;
  }
}

md-toolbar{
  .md-button{
    text-transform: none;
  }
}

.navigation{
  position: relative;
}
.navigation .side-button-options{
  position: absolute;
  width: 50px;
  top: 20px;
  left: 90px;
  .md-button{
    border: 1px solid lighten(#edb039, 10%);
    color: #bd8c31;
  }
}

md-sidenav{
  z-index: 2000;
}
.mini-top-bar{
  padding-top: 10px;
  padding-bottom: 6px;
  text-align: center;
  border-bottom: 2px solid #edb039;
}

.top-nav-buttons{
  .md-button{
    background-color: transparent!important;
    color: white!important;
  }
  .md-button:hover{
    background-color: white!important;
    color: #edb039!important;
  }
  .btn-cont{
    text-align: center;
    width: 80px;
    height: 90px;
    margin-left: 30px;
    margin-right: 30px;
    h6{
      margin-top: 5px!important;
      margin-bottom: 0!important;
    }

  }
}

.top-nav-button.selected{
  background-color: white!important;
  color: #edb039!important;
}
.trazoro-icon-small{
  width: 80px;
}

.logo-bitbang{
  width: 40px;
}

.uploader-certificate-tab{
  text-align: center!important;
}