button, select, html, textarea, input {
  font-family: sans-serif;
}


h1,h2,h3,h4,h5 {
  text-align: center;
}

.md-card-login .login-button{
  width: 100%;
}

.sidebar-options{
  margin-top: 5px;
}

tr-nav-button .md-button{
  width: 100%;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 25px;
  text-align: left;
  text-transform: capitalize;
  font-weight: 350;
  border-radius: 0px!important;
}

tr-nav-button .md-button.active{
  color: #03a9f4;
}

.md-button.login-button {
  padding-top: 10px;
  padding-bottom: 10px;
}

.credit-card .credit-card-title{
  text-align: center;
  font-size: 15px;
}

.credit-card .credit-card-item{
  font-size: 15px;
}

.bt-buy-credits{
  width: 100%;
  margin-top: 10px;
  text-transform: none;
}
