h1,h2,h3,h4,h5 {
  text-align: center;
}

.md-card-login .login-button{
  width: 100%;
}

.sidebar-options{
  margin-top: 5px;
}

tr-nav-button .md-button{
  width: 100%;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 25px;
  text-align: left;
  text-transform: capitalize;
  font-weight: 350;
  border-radius: 0px!important;
}

tr-nav-button .md-button.active{
  color: #03a9f4;
}
.padding{
  padding: 10px;
}

//----- Dashboard Styles-----//

.md-button.login-button {
  padding-top: 10px;
  padding-bottom: 10px;
}

.credit-card .md-subheader{
  text-align: center;
  font-size: 16px;
}

.credit-card md-item{
  font-size: 15px;
}

.credit-card .credit-value{
  text-align: center;
}

.user-card .md-subheader{
  text-align: left;
  font-size: 16px;
}

.user-card md-item{
  font-size: 15px!important;
}

.bt-buy-credits{
  width: 100%;
  margin-top: 15px;
  text-transform: none;
}

.dashboard-buttons{
  .md-button{
    width: 200px;
    margin: 20px;
    padding: 20px;
  }
}

//----- Breadcrumb Styles-----//

.breadcrumb{
    list-style-type: none;
    padding-left: 10px;
    li{
      display: inline-block;
      background-image: url("/img/ic_keyboard_arrow_right_white.png");
      background-repeat: no-repeat;
      padding-right: 35px;  /* width of the image plus a little extra padding */
      background-position: 100% -7px;
    }
    li:last-child{
      background-image: none;
      color: #bababa;
    }
}

//----- Purchase Styles-----//

md-card.seller{
  .md-subheader{
    margin-bottom: 10px;
  }
}
.seller-photo{
  border: 1px solid #eee;
  width: 250px;
  height: 250px;
  margin-right: 5px;
}

.origin-certificate{
  margin-top: 10px;
}
